.tabs {
  &__menu {

    &__list {
      display: flex;
      margin-bottom: -1px;

      &__link {
        flex: 1;
        padding: 20px;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  &__tab {
    padding: 30px;
  }
}
