<h1 class="center m-b-40">Create events</h1>
<h4 class="center p-h-40 m-b-30" *ngIf="error" style="color: #ea7070">Please fill all empty fields.</h4>
<h4 class="center p-h-40 m-b-30" *ngIf="success" style="color: #5cb85c">Success!</h4>
<h4 class="center p-h-40 m-b-30" *ngIf="errorResponse" style="color: #ea7070">Error creating the event</h4>

<div class="tabs">
  <div class="tab_header">
    <p class="tab_header_item active" (click)="tabOpen('form', tabForm)" #tabForm>Form</p>
  </div>
  <div class="tab_content">

    <!-- Form -->
    <div class="m-w-6 block-center p-v-20" [ngClass]="{error: error, success: success}">
      <form [formGroup]="eventForm" (ngSubmit)="onSave()" class="form-group" autocomplete="off">

        <div class="accordions">

          <div class="accordion">
            <h5 class="accordion__title active" appAccordion>
              <span>Basic info</span>
              <img src="/assets/raster/arrow-down.png">
            </h5>
            <div class="accordion__content active">
              <div class="form-text m-b-20">
                <label for="eventType">Event type *</label>
                <input formControlName="eventType" type="text" id="eventType" spellcheck="false" appInput>
              </div>
              <div class="form-text m-b-20">
                <label for="name">Name *</label>
                <input formControlName="name" type="text" id="name" spellcheck="false" appInput>
              </div>
              <div class="form-text m-b-20">
                <label for="description">Description *</label>
                <input formControlName="description" type="text" id="description" spellcheck="false" appInput>
              </div>
            </div>
          </div>

          <div class="accordion">
            <h5 class="accordion__title" appAccordion>
              <span>Identifiers</span>
              <img src="/assets/raster/arrow-down.png">
            </h5>
            <div class="accordion__content">
              <div formArrayName="identifiers">
                <div *ngFor="let identifierCtrl of eventForm.get('identifiers')['controls']; let i = index" [formGroupName]="i" class="right">
                  <div class="form-fields-coupled">
                    <div class="form-text m-b-20 m-r-20 w-30">
                      <label for="{{ i + 'identifier'}}">Identifier</label>
                      <input formControlName="identifier" [appAutocompleteinput]="{control: identifierCtrl, array: identifiersAutocomplete}" type="text"
                        id="{{ i + 'identifier'}}" spellcheck="false" appInput>
                    </div>
                    <div class="form-text m-b-20 w-70">
                      <label for="{{ i + 'identifierValue'}}">Value</label>
                      <input formControlName="identifierValue" type="text" id="{{ i + 'identifierValue'}}" spellcheck="false" appInput>
                    </div>
                  </div>
                  <a class="color-greys--base m-b-20 inline-block" (click)="onRemoveIdentifier(i)">Remove</a>
                </div>
                <a class="color-ablue--base" (click)="onAddIdentifier()">Add indentifier</a>
              </div>
            </div>
          </div>

          <div class="accordion">
            <h5 class="accordion__title" appAccordion>
              <span>Location</span>
              <img src="/assets/raster/arrow-down.png">
            </h5>
            <div class="accordion__content" formGroupName="location">
              <div class="form-text m-b-20">
                <label for="name">Name *</label>
                <input formControlName="name" type="text" id="name" spellcheck="false" appInput>
              </div>
              <div class="form-fields-coupled">
                <div class="form-text m-b-20 w-50 m-r-10">
                  <label for="city">City *</label>
                  <input formControlName="city" type="text" id="city" spellcheck="false" appInput>
                </div>
                <div class="form-text m-b-20 w-50">
                  <label for="country">Country *</label>
                  <input formControlName="country" type="text" id="country" spellcheck="false" appInput>
                </div>
              </div>
              <div class="form-fields-coupled">
                <div class="form-text m-b-20 w-50 m-r-10">
                  <label for="locationid">Location id *</label>
                  <input formControlName="locationId" type="text" id="locationid" spellcheck="false" appInput>
                </div>
                <div class="form-text m-b-20 w-50">
                  <label for="gln">GLN *</label>
                  <input formControlName="gln" type="text" id="gln" spellcheck="false" appInput>
                </div>
              </div>
              <p class="m-b-10">Location</p>
              <div formGroupName="location">
                <div class="form-text m-b-20">
                  <label for="type1">Location type *</label>
                  <input formControlName="type" type="text" id="type1" spellcheck="false" appInput>
                </div>
                <p class="m-b-10">Geometry</p>
                <div formGroupName="geometry">
                  <div class="form-text m-b-20">
                    <label for="type2">Geometry type *</label>
                    <input formControlName="type" type="text" id="type2" spellcheck="false" appInput>
                  </div>
                  <div formArrayName="coordinates">
                    <div *ngFor="let geometryGroup of eventForm.get('location').get('location').get('geometry').get('coordinates')['controls']; let i = index"
                      [formGroupName]="i">
                      <div class="form-fields-coupled">
                        <div class="form-text m-b-20 w-50 m-r-10">
                          <label for="lat">Latitude *</label>
                          <input formControlName="lat" type="number" id="lat" spellcheck="false" appInput>
                        </div>
                        <div class="form-text m-b-20 w-50">
                          <label for="lng">Longitude *</label>
                          <input formControlName="lng" type="number" id="lng" spellcheck="false" appInput>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion">
            <h5 class="accordion__title" appAccordion>
              <span>Documents</span>
              <img src="/assets/raster/arrow-down.png">
            </h5>
            <div class="accordion__content">
              <div formArrayName="documents">
                <div *ngFor="let documentCtrl of eventForm.get('documents')['controls']; let i = index" [formGroupName]="i" class="right">
                  <div class="form-fields-coupled">
                    <div class="form-text m-b-20 m-r-20 w-40">
                      <label for="{{ i + 'documentTitle' }}">Document title</label>
                      <input formControlName="documentTitle" type="text" id="{{ i + 'documentTitle' }}" spellcheck="false" appInput>
                    </div>
                    <div class="form-text m-b-20 w-60">
                      <label for="{{ i + 'documentUrl' }}">Document url</label>
                      <input formControlName="documentUrl" type="text" id="{{ i + 'documentUrl' }}" spellcheck="false" appInput>
                    </div>
                  </div>
                  <a class="color-greys--base m-b-20 inline-block" (click)="onRemoveDocument(i)">Remove</a>
                </div>
                <a class="color-ablue--base" (click)="onAddDocument()">Add document</a>
              </div>
            </div>
          </div>

          <div class="accordion">
            <h5 class="accordion__title" appAccordion>
              <span>Key-value</span>
              <img src="/assets/raster/arrow-down.png">
            </h5>
            <div class="accordion__content">
              <div formArrayName="customData">
                <div *ngFor="let customDataCtrl of eventForm.get('customData')['controls']; let i = index" [formGroupName]="i" class="right">
                  <div class="form-fields-coupled">
                    <div class="form-text m-b-20 m-r-20 w-40">
                      <label for="{{ i + 'customDataKey'}}">Property name</label>
                      <input formControlName="customDataKey" type="text" id="{{ i + 'customDataKey'}}" spellcheck="false" appInput>
                    </div>
                    <div class="form-text m-b-20 w-60">
                      <label for="{{ i + 'customDataValue'}}">Value</label>
                      <input formControlName="customDataValue" type="text" id="{{ i + 'customDataValue'}}" spellcheck="false" appInput>
                    </div>
                  </div>
                  <a class="color-greys--base m-b-20 inline-block" (click)="onRemoveCustomKeyValue(i)">Remove</a>
                </div>
                <a class="color-ablue--base" (click)="onAddCustomKeyValue()">Add key-value pair</a>
              </div>
            </div>
          </div>

          <div class="accordion">
            <h5 class="accordion__title" appAccordion>
              <span>Groups</span>
              <img src="/assets/raster/arrow-down.png">
            </h5>
            <div class="accordion__content">
              <div formArrayName="customDataGroups">
                <div *ngFor="let customDataGroupCtrl of eventForm.get('customDataGroups')['controls']; let i = index" [formGroupName]="i"
                  class="right">
                  <div class="form-text m-b-20">
                    <label for="{{ i + 'groupName'}}">Group name</label>
                    <input formControlName="groupName" type="text" id="{{ i + 'groupName'}}" spellcheck="false" appInput>
                  </div>
                  <p class="m-t-30 m-b-20 left">Group data (key-value pairs)</p>
                  <!--start Array of key-value in a group-->
                  <div formArrayName="groupValue" class="left">
                    <div *ngFor="let customDataGroupPairCtrl of customDataGroupCtrl.get('groupValue')['controls']; let j = index" [formGroupName]="j"
                      class="right">
                      <div class="form-fields-coupled">
                        <div class="form-text m-b-20 m-r-20 w-40">
                          <label for="{{ j + 'groupItemKey'}}">Property name</label>
                          <input formControlName="groupItemKey" type="text" id="{{ j + 'groupItemKey'}}" spellcheck="false" appInput>
                        </div>
                        <div class="form-text m-b-20 w-60">
                          <label for="{{ j + 'groupItemValue'}}">Value</label>
                          <input formControlName="groupItemValue" type="text" id="{{ j + 'groupItemValue'}}" spellcheck="false" appInput>
                        </div>
                      </div>
                      <a class="color-greys--base m-b-20 inline-block" (click)="onRemoveCustomGroupKeyValue(i, j)">Remove</a>
                    </div>
                    <a class="color-ablue--base" (click)="onAddCustomGroupKeyValue(i)">Add key-value pair</a>
                  </div>
                  <!--end Array of key-value in a group-->
                  <a class="color-blacks--base m-b-20 inline-block" (click)="onRemoveCustomGroup(i)">Remove group</a>
                </div>
                <a class="color-ablue--base" (click)="onAddCustomGroup()">Add new group</a>
              </div>
            </div>
          </div>

        </div>

        <div class="flex flex-direction-r justify-content-fe align-items-c m-b-50 m-t-20">
          <app-spinner *ngIf="spinner"></app-spinner>
          <button type="submit" class="abtn m-l-20 btn-solid-ablue">Create event</button>
        </div>
      </form>

    </div>

  </div>
</div>

<!--TEST ONLY-->
<!-- <pre *ngIf="json">
    {{json}}
  </pre> -->
