<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<div class="p-v-20">

  <h4 class="center p-h-40 m-b-30" *ngIf="error" style="color: #ea7070">{{ error }}</h4>
  <h4 class="center p-h-40 m-b-30" *ngIf="success" style="color: #5cb85c">{{ success }}</h4>

  <form [formGroup]="eventForm" (ngSubmit)="save()">

    <ul class="accordions">

      <li class="accordion">
        <h5 class="accordion__title active" appAccordion>
          <span>Information</span>
          <img src="/assets/raster/arrow-down.png">
        </h5>
        <div class="accordion__content active">
          <label>Event type
            <input formControlName="type" type="text">
          </label>
          <label>Event name
            <input formControlName="name" type="text">
          </label>
          <label>Access level
            <input formControlName="accessLevel" type="number" min="0">
          </label>
          <label>Description (optional)
            <textarea formControlName="description"></textarea>
          </label>
          <h5>Identifiers (optional)</h5>
          <div formArrayName="identifiers" class="right">
            <div *ngFor="let identifier of eventForm.get('identifiers')['controls']; let i = index" [formGroupName]="i">
              <button type="button" class="remove" (click)="remove('identifiers', i)">&times;</button>
              <label style="position: relative;">Identifier
                <input formControlName="name" [appAutocompleteinput]="{ control: identifier.get('name'), array: identifiersAutocomplete }" type="text">
              </label>
              <label>Value
                <input formControlName="value" type="text">
              </label>
            </div>
            <button type="button" class="addMore" (click)="addIdentifier()">+ Add identifier</button>
          </div>
        </div>
      </li>

      <li class="accordion">
        <h5 class="accordion__title" appAccordion>
          <span>Documents (optional)</span>
          <img src="/assets/raster/arrow-down.png">
        </h5>
        <div class="accordion__content right" formArrayName="documents">
          <div *ngFor="let document of eventForm.get('documents')['controls']; let i = index" [formGroupName]="i">
            <button type="button" class="remove" (click)="remove('documents', i)" *ngIf="i > 0">&times;</button>
            <label>Document name
              <input formControlName="name" type="text">
            </label>
            <label>Document URL
              <input formControlName="url" type="url">
            </label>
          </div>
          <button type="button" class="addMore" (click)="addDocument()">+ Add document</button>
        </div>
      </li>

      <li class="accordion">
        <h5 class="accordion__title" appAccordion>
          <span>Properties (optional)</span>
          <img src="/assets/raster/arrow-down.png">
        </h5>
        <div class="accordion__content right">
          <!-- Properties -->
          <div formArrayName="properties">
            <div *ngFor="let property of eventForm.get('properties')['controls']; let i = index" [formGroupName]="i">
              <button type="button" class="remove" (click)="remove('properties', i)">&times;</button>
              <label>Name
                <input formControlName="name" type="text">
              </label>
              <label>Value
                <input formControlName="value" type="text">
              </label>
            </div>
            <button type="button" class="addMore" (click)="addProperty()">+ Add property</button>
          </div>
          <hr>

          <!-- Groups -->
          <div formArrayName="groups" class="left">
            <div *ngFor="let group of eventForm.get('groups')['controls']; let i = index" [formGroupName]="i" class="right">
              <button type="button" class="remove" (click)="remove('groups', i)">&times;</button>
              <!-- Title -->
              <label>Group name
                <input formControlName="title" type="text">
              </label>
              <!-- Content -->
              <div formArrayName="content">
                <div *ngFor="let property of group.get('content')['controls']; let j = index" [formGroupName]="j">
                  <button type="button" class="remove" (click)="removeGroupProperty(i, j)">&times;</button>
                  <label>Property
                    <input formControlName="name" type="text">
                  </label>
                  <label>Value
                    <input formControlName="value" type="text">
                  </label>
                </div>
                <button type="button" class="addMore" (click)="addGroupProperty(i)">+ Add group property</button>
              </div>
            </div>
            <button type="button" class="addMore" (click)="addGroup()">+ Add group</button>
          </div>
        </div>
      </li>

      <li>
        <h5 class="accordion__title" appAccordion>
          <span>Event location</span>
          <img src="/assets/raster/arrow-down.png">
        </h5>
        <div class="accordion__content" formGroupName="location">
          <label>Latitude
            <input formControlName="lat" type="text">
          </label>
          <label>Longitude
            <input formControlName="lng" type="text">
          </label>
          <label>Name
            <input formControlName="name" type="text">
          </label>
          <label>City
            <input formControlName="city" type="text">
          </label>
          <label>Country
            <input formControlName="country" type="text">
          </label>
          <label>Location ID
            <input formControlName="locationId" type="text">
          </label>
          <label>GLN
            <input formControlName="GLN" type="text">
          </label>
        </div>
      </li>
    </ul>

    <div class="flex flex-direction-r justify-content-fe align-items-c m-t-20">
      <app-spinner *ngIf="spinner"></app-spinner>
      <button type="button" class="color-ablue--base m-l-20" (click)="cancel()">Cancel</button>
      <button type="submit" class="button button--blue m-l-20">Create event</button>
    </div>
  </form>

</div>
