<div class="sidebar-pages__sidebar" appSticky [addClass]="'fixed'">
  <div class="sidebar-pages__item" *ngFor="let item of items">
    <a *ngIf="!item.menu" class="sidebar-pages__item__title" [routerLink]="item.link" routerLinkActive="active" [id]="slug(item.title)" [appIconLeft]="item.icon">
      {{ item.title }}
    </a>
    <p *ngIf="item.menu" class="sidebar-pages__item__title sidebar-pages__item__title--menu" [id]="slug(item.title)" appIconRight="arrow-right" appAccordion>{{ item.title }}</p>
    <ul *ngIf="item.menu" class="sidebar-pages__item__menu">
      <li *ngFor="let menuItem of item.menu">
        <a [routerLink]="menuItem.link" routerLinkActive="active" [id]="slug(menuItem.title)" [appIconLeft]="menuItem.icon">{{ menuItem.title }}</a>
      </li>
    </ul>
  </div>
</div>
