@import 'var';

.sidebar-pages {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min-1024 {
    flex-direction: row;
    align-items: flex-start;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 50px 30px;
  }

  aside {
    width: 100%;

    @include min-1024 {
      max-width: 250px;
    }
  }

  &__sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-bottom: 1px solid #ddd;
    top: 0;

    @include min-1024 {
      max-width: 250px;
      border-bottom: none;
      border-right: 1px solid #ddd;
    }
  }

  &__item {
    width: 100%;
    border-top: 1px solid #f1f1f1;
    user-select: none;
    cursor: default;

    &:last-of-type {
      border-bottom: none;
    }

    &__title {
      transition: color .2s $t1, background-color .2s $t1, padding-left .2s $t1;
      position: relative;
      padding: 12px 35px 12px 15px;
      color: $black;
      font-size: 13px;
      display: inline-block;
      width: 100%;

      &:hover {
        padding-left: 20px;
      }

      &.active {
        color: #fff;
        background: $ablue;

        .arrow {
          transform: rotate(90deg);
          transform-origin: 50% 50%;
        }
      }

      .arrow {
        position: absolute;
        right: 15px;
        top: calc(50% - 6px);
        transition: transform .2s;
      }
    }

    &__menu {
      padding: 0;
      height: 0;
      overflow: hidden;
      border: none;

      li {
        a {
          display: inline-block;
          transition: background-color .2s $t1;
          padding: 12px 10px 12px 25px;
          background-color: #ebf0fa;
          color: $black;
          font-size: 13px;
          width: 100%;

          &.active {
            background-color: #d6e0f5;
          }

          &:hover {
            background-color: #d6e0f5;
          }
        }
      }

      &.active {
        height: auto;
      }
    }
  }
}
