<div class="flex flex-direction-r justify-content-c align-items-c p-a-40" style="min-height: 100vh">
  <div>
    <h3 *ngIf="!isEdit" class="p-h-30">Create Role</h3>
    <h3 *ngIf="isEdit" class="p-h-30">Edit Role</h3>
    <hr>

    <div class="m-t-30">
      <div class="tab_content">
        <form (ngSubmit)="save()" ngNativeValidate>
          <!-- Create Role form -->
          <div class="form-text m-b-20">
            <label>Role Title</label>
            <input [(ngModel)]="title" name="title" placeholder="Example: Admin, Manager, etc. " type="text" required>
          </div>

          <div class="m-b-20">
            <h5>Dashboard Permissions</h5>
          </div>

          <div class="m-b-20">

            <div class="table m-t-20 p-h-30" id="table">

              <!-- Items -->
              <div class="table__item table" *ngFor="let permission of permissionsArray; let i = index" [ngClass]="checkPermission(permission.value) ? 'checkbox--checked' : ''">
                <label class="table__label" for="{{ i }}">
                  <div class="relative table__checkbox">
                    <input type="checkbox" id="{{ i }}" (click)="selectPermission(permission.value)" appCustomCheckbox #input>
                    <app-svg-icon name="check" fill="#5078f1" width="13px" class="checkbox-icon"></app-svg-icon>
                  </div>
                </label>

                <div class="table__column">
                  <p class="table__column-title hide-1024">{{permission.name}}</p>
                  <p class="table__column-content">{{permission.name}}</p>
                </div>

              </div>
            </div>
          </div>

          <a (click)="closeDialog()" #ngNoForm class="abtn btn-solid-ared">Close</a>
          <button *ngIf="!isEdit" class="abtn m-l-20 btn-solid-ablue" type="submit" [promiseBtn]="createPromise">Create</button>
          <button *ngIf="isEdit" class="abtn m-l-20 btn-solid-ablue" type="submit" [promiseBtn]="createPromise">Edit Role</button>

        </form>
      </div>
    </div>

    
    <p *ngIf="message" class="center p-t-20" [ngClass]="messageType === true ? 'green-text' : 'red-text'">{{message}}</p>
  </div>

</div>
