<div class="flex flex-direction-r justify-content-c align-items-c p-a-40" style="min-height: 100vh">
  <div>
    <h3 class="p-h-30">{{ _id ? 'Edit Role' : 'Create Role' }}</h3>
    <hr>

    <div class="m-t-30">
      <div class="tab_content">
        <form (ngSubmit)="save()" ngNativeValidate>
          <!-- Create Role form -->
          <div class="form-text m-b-20">
            <label>Role Title</label>
            <input [(ngModel)]="title" name="title" type="text" required>
          </div>

          <div class="m-b-20">
            <h5>Dashboard Permissions</h5>
          </div>

          <div class="m-b-20">

            <div class="table m-t-20 p-h-30" id="table">

              <!-- Items -->
              <div class="table__item table" *ngFor="let permission of permissions; let i = index">
                <label class="table__label">
<input type="checkbox" [checked]="permissions[i].checked" (change)="permissions[i].checked = !permissions[i].checked" appCustomCheckbox>
                </label>

                <div class="table__column">
                  <p class="table__column-title hide-1024">{{permission.title}}</p>
                  <p class="table__column-content">{{permission.title}}</p>
                </div>

              </div>
            </div>
          </div>

          <a (click)="closeDialog()" #ngNoForm class="abtn btn-solid-ared">Close</a>
          <button class="abtn m-l-20 btn-solid-ablue" type="submit" [promiseBtn]="createPromise">{{ _id ? 'Edit Role' : 'Create'}}</button>

        </form>
      </div>
    </div>


    <p *ngIf="message" class="center p-t-20" [ngClass]="message.type === 'success' ? 'green-text' : 'red-text'">{{message.text}}</p>
  </div>

</div>
