/*
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
*/
@import 'utils';

app-header {
  position: relative;
  height: 80px;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  transition: all 0.1s;

  .wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .logo {
    display: inline-block;
    width: 125px;
    height: 40px;
    background-image: url('/assets/raster/logo-header-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    color: #fff;
    background-color: $light-blue;
    border: none;
    text-transform: uppercase;
  }

  @include breakpoint-min(1200) {
    padding: 20px 84px;

    nav {
      display: inline-block;
      margin-left: 92px;

      ul {
        li {
          display: inline-block;
          margin-right: 24px;

          &:last-child {
            margin-right: 0;
          }

          a {
            font-weight: 500;
            color: $black;

            &.active {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.organization,
.settings,
.node {
  app-header {
    background: $purple-blue;

    .logo {
      background-image: url('/assets/raster/logo-header-light.png');
    }

    @include breakpoint-min(1200) {
      nav {
        ul {
          li {
            a {
              color: $grey;

              &.active {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
