<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->

<header class="header">

  <div class="header-container wrapper">
    <div class="flex flex-direction-r justify-content-fs align-items-c">
      <a class="header-logo m-r-40" routerLink="/">
        <app-svg-icon name="logo" width="100px"></app-svg-icon>
      </a>
    </div>

    <ul class="header-menu" *ngIf="isLoggedin">
      <!-- Mobile menu -->
      <li class="hide-640">
        <div class="hamburger-icon dropdown dropdown__no-arrow" (click)="overlay = !overlay; toggleMobileMenu = !toggleMobileMenu" [ngClass]="{'active': toggleMobileMenu}" style="position: static;">
          <div></div>
          <div></div>
          <div></div>
          <!-- Menu -->
          <nav class="menu-mobile">
            <p class="menu-mobile__item" *ngFor="let user of users; let i = index" (click)="switchAccount(user.address)" [ngClass]="{ current:  i === 0 }">
              <span *ngIf="!user.full_name && !user.email">{{ user.address }}</span>
              <span class="color-blacks--base" *ngIf="user.full_name">{{ user.full_name }} </span>
              <span *ngIf="user.email">- {{ user.email }}</span>
              <span *ngIf="user | checkIf: 'user.company.title'">, {{ user.company.title }}</span>
            </p>
            <p class="menu-mobile__item separator color-ablue--base" (click)="addAccountDialog()">
              Add account
            </p>
            <p class="menu-mobile__item color-ared--base" (click)="logoutAll()">
              Log out of all accounts
            </p>
          </nav>
        </div>
      </li>
      <!-- end Mobile menu -->

      <!-- Desktop menu -->
      <li id="header-dropdown" class="header-menu__item dropdown hide-all display-640-inline-block p-v-10" appClickThisActive>
        <app-svg-icon name="user" width="15px" height="15px" style="padding-right: 5px"></app-svg-icon>
        {{ greeting }}
        <ul class="dropdown-menu">
          <li *ngFor="let user of users; let i = index" [ngClass]="{ active:  i === 0 }" (click)="switchAccount(user.address)">

            <p class="p-a-10" *ngIf="!user.full_name && !user.email">{{ user.address }}</p>

            <p style="padding: 10px 10px 0 10px" *ngIf="user.full_name">{{ user.full_name }}</p>
            <p style="padding: 0 10px" *ngIf="user.email">{{ user.email }}</p>
            <p style="padding: 0 10px 10px 10px" *ngIf="user.company && user.company.title">{{ user.company.title }}</p>

          </li>
          <li class="separator color-ablue--base">
            <span (click)="addAccountDialog()">Add account</span>
          </li>
          <li class="color-ared--base">
            <span (click)="logoutAll()">Log out of all accounts</span>
          </li>
        </ul>
      </li>
      <!-- end Desktop menu -->
    </ul>
  </div>
</header>

<div class="container p-h-10" style="height: 50px; background-color: #F6F8FE;" *ngIf="isLoggedin">
  <div class="header-container wrapper">
    <div class="flex flex-direction-r justify-content-fs align-items-c">
      <ul class="header-menu">

        <div routerLink="/assets" class="header-submenu__item" routerLinkActive="active">
          <span class="header-menu__item p-v-10">
            <app-svg-icon name="blue-stack" fill="black" class="p-r-10" width="25px" height="25px"></app-svg-icon>
            <span class="hide-all display-480-inline-block">Assets</span>
          </span>
        </div>

        <div *ngIf="(user | checkIf: 'user.role.id') && user.role.id === 1" routerLink="/administration/users/all" class="header-submenu__item" routerLinkActive="active">
          <span class="header-menu__item p-v-10">
            <app-svg-icon name="header-user" class="p-r-10" width="25px" height="25px"></app-svg-icon>
            <span class="hide-all display-480-inline-block">Administration</span>
          </span>
        </div>

        <div routerLink="/settings" class="header-submenu__item" routerLinkActive="active">
          <span class="header-menu__item p-v-10">
            <app-svg-icon name="settings-gear" class="p-r-10" width="25px" height="25px"></app-svg-icon>
            <span class="hide-all display-480-inline-block">Settings</span>
          </span>
        </div>

      </ul>
    </div>

  </div>
</div>
