<header class="header">
  <div class="header-container">
    <a class="header-logo" routerLink="/">
      <img src="/assets/svg/logo.svg" alt="Ambrosus">
    </a>

    <ul class="header-menu">
      <!-- Mobile menu -->
      <li class="hide-640">
        <div class="hamburger-icon dropdown" appClickThisActive (click)="overlay = !overlay">
          <div></div>
          <div></div>
          <div></div>
          <!-- Menu -->
          <nav class="menu-mobile">
            <p class="menu-mobile__item">
              {{ email }}
            </p>
            <p class="menu-mobile__item" routerLink="/settings">
              Settings
            </p>
            <p class="menu-mobile__item" (click)="onLogout()">
              Logout
            </p>
          </nav>
        </div>
      </li>
      <!-- end Mobile menu -->

      <!-- Desktop menu -->
      <li id="header-dropdown" class="header-menu__item dropdown hide-all display-640-inline-block p-v-10" appClickThisActive>
        {{ email }}
        <ul class="dropdown-menu">
          <li routerLink="/settings">
            Settings
          </li>
          <li (click)="onLogout()">
            Logout
          </li>
        </ul>
      </li>
      <!-- end Desktop menu -->
    </ul>
  </div>
</header>
<div class="overlay" *ngIf="overlay" (click)="overlay = !overlay"></div>
