@import 'var';

// Header

.header {
  position: relative;
  z-index: 3;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.header-container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  & img {
    height: 20px;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header-menu__item {
  margin-right: 14px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.header__profile-icon {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: $ablue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}
