<header class="header">

  <div class="header-container wrapper">
    <div class="flex flex-direction-r justify-content-fs align-items-c">
      <a class="header-logo m-r-40" routerLink="/">
        <app-svg-icon name="logo" width="100px"></app-svg-icon>
      </a>
      <!-- Administration menu -->
      <ul class="header-menu" *ngIf="isLoggedin">
        <!-- Desktop menu -->
        <li id="header-dropdown" class="header-menu__item dropdown hide-all display-640-inline-block p-v-10" appClickThisActive>
          Administration
          <ul class="dropdown-menu">
            <li class="sub-menu">
              <span routerLink="/administration/company">Company</span>
              <ul class="dropdown-menu dropdown-menu__sub-menu">
                <li>
                  <span routerLink="/administration/company/settings">Settings</span>
                </li>
              </ul>
            </li>
            <li class="sub-menu">
              <span routerLink="/administration/users">Users</span>
              <ul class="dropdown-menu dropdown-menu__sub-menu">
                <li>
                  <span routerLink="/administration/users/all">All users</span>
                </li>
                <li>
                  <span routerLink="/administration/users/invite">Invite members</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- end Desktop menu -->
      </ul>
    </div>

    <ul class="header-menu" *ngIf="isLoggedin">
      <!-- Mobile menu -->
      <li class="hide-640">
        <div class="hamburger-icon dropdown dropdown__no-arrow" (click)="overlay = !overlay; toggleMobileMenu = !toggleMobileMenu"
          [ngClass]="{'active': toggleMobileMenu}" style="position: static;">
          <div></div>
          <div></div>
          <div></div>
          <!-- Menu -->
          <nav class="menu-mobile">
            <p class="menu-mobile__item" *ngFor="let account of accounts; let i = index" (click)="switchAccount(account.address)" [ngClass]="{ current:  i === 0 }">
              <span *ngIf="!account.full_name && !account.email">{{ account.address }}</span>
              <span class="color-blacks--base" *ngIf="account.full_name">{{ account.full_name }} </span>
              <span *ngIf="account.email">- {{ account.email }}</span>
              <span *ngIf="account.company">, {{ account.company }}</span>
            </p>
            <p class="menu-mobile__item separator color-ablue--base" (click)="addAccount = true">
              Add account
            </p>
            <p class="menu-mobile__item separator color-ared--base" (click)="logoutAll()">
              Log out of all accounts
            </p>
            <p class="menu-mobile__item" routerLink="/settings">
              Settings
            </p>
            <p class="menu-mobile__item section">
              Administration
            </p>
            <p class="menu-mobile__item" routerLink="/administration/company">
              Company
            </p>
            <p class="menu-mobile__item separator" routerLink="/administration/company/settings">
              Settings
            </p>
            <p class="menu-mobile__item" routerLink="/administration/users">
              Users
            </p>
            <p class="menu-mobile__item" routerLink="/administration/users/all">
              All users
            </p>
            <p class="menu-mobile__item" routerLink="/administration/users/invite">
              Invite members
            </p>
          </nav>
        </div>
      </li>
      <!-- end Mobile menu -->

      <!-- Desktop menu -->
      <li class="header-menu__item hide-all display-640-inline-block p-v-10">
        <a routerLink="/settings">
          <app-svg-icon name="cog" width="17px" height="17px"></app-svg-icon>
        </a>
      </li>

      <li id="header-dropdown" class="header-menu__item dropdown hide-all display-640-inline-block p-v-10" appClickThisActive>
        {{ greeting }}
        <ul class="dropdown-menu">
          <li *ngFor="let account of accounts; let i = index" [ngClass]="{ active:  i === 0 }" (click)="switchAccount(account.address)">

            <p *ngIf="!account.full_name && !account.email">{{ account.address.substring(0,8) }}...</p>

            <p *ngIf="account.full_name">{{ account.full_name }}</p>
            <p *ngIf="account.email">{{ account.email }}</p>
            <p *ngIf="account.company">{{ account.company }}</p>

          </li>
          <li class="separator color-ablue--base">
            <span (click)="addAccount = true">Add account</span>
          </li>
          <li class="color-ared--base">
            <span (click)="logoutAll()">Log out of all accounts</span>
          </li>
        </ul>
      </li>
      <!-- end Desktop menu -->
    </ul>
  </div>
</header>
<div *ngIf="addAccount || overlay" (click)="overlay = false; addAccount = false"></div>
<div *ngIf="addAccount">
  <kendo-dialog class="modal--right" [minWidth]="250" [width]="600">
    <div class="modal__header">
      <img src="/assets/raster/close.png" (click)="addAccount = false">
    </div>
  </kendo-dialog>
</div>
<!-- <app-signin></app-signin> -->
