<h3 class="p-h-30">Sign up</h3>
<p class="m-v-10 p-h-30">To login with email and password</p>
<h4 class="p-h-40 m-v-30" *ngIf="signupSuccess" style="color: green">Signup was successful!
  <br>You can login now.</h4>
<form [formGroup]="signupForm" (ngSubmit)="signup()" class="form-group login-form" [ngClass]="{ error: error }">
  <div class="form-text m-b-20">
    <label for="address">Address *</label>
    <input formControlName="address" type="text" name="address" id="address" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="secret">Secret *</label>
    <input formControlName="secret" type="password" name="secret" id="secret" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="fullname">Full name *</label>
    <input formControlName="fullname" type="text" name="fullname" id="fullname" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="company">Company *</label>
    <input formControlName="company" type="text" name="company" id="company" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="email">Email *</label>
    <input formControlName="email" type="email" name="email" id="email" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="password">Password *
      <span class="false" *ngIf="weakPassword">(Weak Password)</span>
    </label>
    <input (input)="checkPassword($event)" formControlName="password" type="password" name="password" id="password" spellcheck="false" appInput>
  </div>
  <div *ngIf="passwordExists" class="progress password-pad">
    <div class="progress_bar" [ngStyle]="{'width': width + '%', 'background': color}"></div>
    <small>Strong passwords contain combination of symbol, uppercase letter & a number</small>
  </div>
  <div class="form-text m-b-20">
    <label for="passwordConfirm">Password Confirm *</label>
    <input formControlName="passwordConfirm" type="password" name="passwordConfirm" id="passwordConfirm" spellcheck="false" appInput>
  </div>
  <div class="form-checkbox m-b-20 m-t-10">
    <label for="terms">
      <input formControlName="terms" type="checkbox" name="terms" id="terms" appOnchecked> I accept Terms & Conditions *
      <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="#5078f1" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
      </svg>
    </label>
  </div>
  <div class="flex flex-direction-r justify-content-fe align-items-c">
    <app-spinner *ngIf="spinner"></app-spinner>
    <button type="submit" class="abtn m-l-20 btn-solid-ablue">Sign up</button>
  </div>
</form>
<h5 class="p-h-40 m-v-30" *ngIf="passwordsNotMatch" style="color: #ea7070">Passwords do not match</h5>
<h5 class="p-h-40 m-v-30" *ngIf="signupError" style="color: #ea7070">Error signing up.</h5>
