<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<app-tabs>
  <app-tab label="Private Key">
    <form [formGroup]="forms.privateKeyForm" (ngSubmit)="verifyAccount()">
      <label>Your private key
        <input formControlName="privateKey" type="password" autocomplete="new-password" [appError]="[error, forms.privateKeyForm, true]">
      </label>
      <button type="submit" [disabled]="forms.privateKeyForm.invalid" [promiseBtn]="promiseAction">Log in</button>
    </form>
  </app-tab>
  <app-tab label="Email & Password">
    <form [formGroup]="forms.loginForm" (ngSubmit)="login()">
      <label>Your email
        <input formControlName="email" type="email" [appError]="[error, forms.loginForm]">
      </label>
      <label>Your password
        <input formControlName="password" type="password" [appError]="[error, forms.loginForm, true]">
      </label>
      <button type="submit" [disabled]="forms.loginForm.invalid" [promiseBtn]="promiseAction">Log in</button>
    </form>
  </app-tab>
</app-tabs>

<div style="text-align: center; margin-top: 50px">
  <a routerLink="/signup">Register an account</a>
</div>
