<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<div class="wrapper">
  <h2 class="card__title">Welcome</h2>
  <p class="card__body">Please login to your account.</p>

  <div class="card animated fadeInDown">
    <div class="card__header">

      <app-tabs>
        <app-tab label="Email/Password">
          <form [formGroup]="forms.loginForm" (ngSubmit)="login()">
            <label>Email
              <input formControlName="email" type="email" name="email" spellcheck="false">
            </label>
            <label>Password
              <input formControlName="password" type="password" name="password" spellcheck="false">
            </label>
            <button type="submit" class="button button--blue" [promiseBtn]="promiseAction">Sign in</button>
          </form>
        </app-tab>

        <app-tab label="Secret">
          <form [formGroup]="forms.addressForm" (ngSubmit)="verifyAccount()">
            <label>Secret
              <input formControlName="secret" type="password" name="secret" autocomplete="new-password" spellcheck="false">
            </label>
            <button type="submit" class="button button--blue" [promiseBtn]="promiseAction">Sign in</button>
          </form>
        </app-tab>
      </app-tabs>

      <p class="card_body" *ngIf="error">{{ error }}</p>
    </div>

    <p class="card_body" *ngIf="forgotPassword">Login using the secret and change the password inside user settings</p>

    <div class="additional-options">
      <a (click)="forgotPassword = !forgotPassword">Forgot your password?</a>
      <a routerLink="/register">I want to register</a>
    </div>
  </div>
</div>
