@import 'utils';

.inline-list {
  margin-bottom: 20px;
  ul li{
    display: inline;
    color: #0042BA;
    font-size: 15px;
    font-weight: 500;
    margin-right: 24px;
    cursor: pointer;
  }
  img {
    display: inline;
  }
  p {
    display: inline;
    color: $black;
    margin-left: 5px;
  }
  .selected {
    color: black !important;
  }
}

.org-status {
  display: inline;
  float: right;
  padding-right: 20px;
  font-weight: 600;
  .green {
    color: #40D685;
  }
  .orange {
    color: #F7A120;
  }
  .grey {
    color: #9198BB;
  }
  .dotted-icon {
    margin-left: 10px;
  }
}

.org-table {
  width: 100%;
  max-width: 1100px;
  margin: 20px auto 20px auto;
  background-color: #fff;
  padding-top: 20px;

}