<!--
  Copyright: Ambrosus Technologies GmbH
  Email: tech@ambrosus.com
  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
  This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<div class="dash-container">
  <div class="wrapper">
    <header class="header">
      <div>
        <h1>Organizations</h1>
        <p class="meta">
          {{ organizationsArray.length }} {{ organizationsArray.length === 1 ? 'result' : 'results' }}
        </p>
      </div>
      <div style="flex: 0 0 auto;">
        <button type="button">Add</button>
      </div>
    </header>

    <div class="inline-list">
      <ul>
        <li (click)="renderOrg('all')" [class.selected]="show==='all'">All</li>
        <li (click)="renderOrg('active')" [class.selected]="show==='active'">
          Active
        </li>
        <li (click)="renderOrg('pending')" [class.selected]="show==='pending'">Pending</li>
        <li (click)="renderOrg('disabled')" [class.selected]="show==='disabled'">Disabled</li>
        <li (click)="renderOrg('declined')" [class.selected]="show==='declined'">Declined</li>
      </ul>
    </div>

    <div *ngIf="organizationsArray.length === 0 && !loading">
      <h2>No organizations to display :/</h2>
    </div>

    <div *ngIf="loading">
      <h2>Loading organizations ... </h2>
    </div>

    <div *ngIf="!loading">
      <div class="table org-table" *ngFor="let organization of organizationsArray; let i = index">
        <div class="item">
          <label class="image">
            <img src="/assets/svg/org-icon.svg" >
          </label>
          <div class="body org-body">
            <a>
              <div class="body__main">
                <div class="org">
                  <h5 class="title">
                    {{ organization.title }}
                  </h5>
                  <h5 class="credits">
                    {{organization.credits ? organization.credits : '' }}
                  </h5>
                </div>
                <!-- <p class="assetId">{{ organization.createdBy ? organization.createdBy: '' }}</p> -->
                <p class="createdBy">
                  by <span class="account-image"></span>
                  <span class="author-name">{{ organization.ownerName ? + organization.ownerName + ',' : '' }} </span>
                  <span class="address">{{ organization.owner || organization.email }}</span>
                  <span class="time-ago">{{ organization.createdOn }}</span>
                </p>
                <hr>
                <div class="inline-list">
                  <ul class="inline" *ngIf="organization.active && organization.info">
                    <li><img src="/assets/svg/org-users-icon.svg"><p>112</p></li>
                    <li><img src="/assets/svg/org-asset-icon.svg"><p>2,356</p></li>
                    <li><img src="/assets/svg/org-event-icon.svg"><p>45,222</p></li>
                  </ul>

                  <div class="inline" *ngIf="organization.active === undefined">
                    <button type="button" class="outline" 
                      (click)="
                        actions('organizationRequest', {
                          approved: true,
                          id: organizationRequest.address
                        })
                      "
                    >Approve</button>
                    <button type="button" class="transparent light"
                      (click)="
                        actions('organizationRequest', {
                          approved: false,
                          id: organizationRequest.address
                        })
                      "
                    >Decline</button>
                  </div>

                  <div class="org-status">
                    <h5
                    [class.green]="organization.active"
                    [class.grey]="organization.active === false"
                    [class.orange]="organization.active === undefined"
                    >{{organization.active ? 'ACTIVE' : organization.active === undefined ? 'PENDING' : !organization.active ? 'DISABLED' : ''}}</h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>