<h4 class="m-v-30 relative p-r-40">Organizations</h4>
<hr class="m-b-20" />

<button type="button" class="button button--blue" (click)="show = 'active'">
  Active
</button>
<button type="button" class="button button--blue" (click)="show = 'pending'">
  Pending
</button>
<button type="button" class="button" (click)="show = 'disabled'">
  Disabled
</button>

<p class="m-v-30" style="color: salmon;">{{ error }}</p>

<p class="m-t-20">Showing {{ getNumberOfOrganizations() }} organizations</p>

<!-- Active organizations -->
<table class="table" *ngIf="show === 'active'">
  <tbody>
    <tr *ngFor="let organization of organizations; let i = index">
      <td class="table__image" routerLink="{{ organization.organizationId }}">
        <div>{{ organization.title ? organization.title.charAt(0) : 'O' }}</div>
      </td>
      <td class="table__info" routerLink="{{ organization.organizationId }}">
        <p class="table__info__title">{{ organization.title }}</p>
        <small class="table__info__meta">Owner: {{ organization.owner }}</small>
      </td>
      <td class="table__status">
        <span class="table__status__event" style="background-color: green;"
          >Active</span
        >
        <p class="table__status__timestamp">
          Created: {{ organization.createdOn }}
        </p>
        <div class="table__options" appClickThisActive>
          <img src="/assets/raster/menu.png" />
          <ul class="table__options__menu">
            <li>Info</li>
            <li
              *ngIf="account.organization !== organization.organizationId"
              (click)="
                actions('organizationModify', {
                  organizationId: organization.organizationId,
                  data: { active: false }
                })
              "
            >
              Disable
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Disabled organizations -->
<table class="table" *ngIf="show === 'disabled'">
  <tbody>
    <tr *ngFor="let organization of organizationsDisabled; let i = index">
      <td class="table__image" routerLink="{{ organization.organizationId }}">
        <div>{{ organization.title ? organization.title.charAt(0) : 'O' }}</div>
      </td>
      <td class="table__info" routerLink="{{ organization.organizationId }}">
        <p class="table__info__title">{{ organization.title }}</p>
        <small class="table__info__meta">Owner: {{ organization.owner }}</small>
      </td>
      <td class="table__status">
        <span class="table__status__event" style="background-color: salmon;"
          >Disabled</span
        >
        <p class="table__status__timestamp">
          Created: {{ organization.createdOn }}
        </p>
        <div class="table__options" appClickThisActive>
          <img src="/assets/raster/menu.png" />
          <ul class="table__options__menu">
            <li>Info</li>
            <li
              (click)="
                actions('organizationModify', {
                  organizationId: organization.organizationId,
                  data: { active: true }
                })
              "
            >
              Disable
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Pending organizations / Organization requests -->
<table class="table" *ngIf="show === 'pending'">
  <tbody>
    <tr *ngFor="let organizationRequest of organizationRequests; let i = index">
      <td class="table__image">
        <div>
          {{
            organizationRequest.title
              ? organizationRequest.title.charAt(0)
              : organizationRequest.email.chartAt(0) || 'R'
          }}
        </div>
      </td>
      <td class="table__info">
        <p class="table__info__title">{{ organizationRequest.title }}</p>
        <small class="table__info__meta"
          >For: {{ organizationRequest.email }}</small
        >
      </td>
      <td class="table__status">
        <span class="table__status__event" style="background-color: orange;"
          >Pending</span
        >
        <p class="table__status__timestamp">
          Requested: {{ organizationRequest.createdOn }}
        </p>
        <div class="table__options" appClickThisActive>
          <img src="/assets/raster/menu.png" />
          <ul class="table__options__menu">
            <li
              (click)="
                actions('organizationRequest', {
                  approved: true,
                  id: organizationRequest.address
                })
              "
            >
              Approve
            </li>
            <li
              (click)="
                actions('organizationRequest', {
                  approved: false,
                  id: organizationRequest.address
                })
              "
            >
              Refuse
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
