<div class="settings">
  <header>
    <div class="wrapper">
      <div class="info">
        <div class="image"></div>
        <div class="details">
          <h1>{{ organization.title || 'Organization details' }}</h1>
          <div>
            <h5 [ngClass]="this.organization.active ? 'active' : 'disabled'">
              {{ this.organization.active ? 'Active' : 'Disabled' }}
            </h5>
            <span class="meta" *ngIf="organization.createdOn">
              Created on: {{ organization.createdOn * 1000 | date:'EEE, MMM d, yyyy' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <form class="form" [formGroup]="forms.organization" (ngSubmit)="save()">
        <label>
          <span>Title</span>
          <input formControlName="title" type="text">
        </label>
        <div class="group">
          <label class="w50">
            <span>Legal address</span>
            <input formControlName="legalAddress" type="text">
          </label>
          <label class="w50" for="timeZone">
            <span>Time zone</span>
            <input formControlName="timeZone" list="timezones" id="timeZone">
            <datalist id="timezones">
              <option *ngFor="let timezone of timezones" value="{{ timezone }}">
            </datalist>
          </label>
        </div>
        <label>
          <input type="checkbox" formControlName="active" appCustomCheckbox />
          Active
        </label>
        <div>
          <button type="submit" class="outline" [disabled]="forms.organization.invalid" [promiseBtn]="promise.save">
            Save
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
