button,
.button {
  font-size: 15px;
  line-height: 1.2;
  color: $purple-blue;
  background-color: $white;
  border-radius: 20px;
  border: 1px solid $white;
  font-weight: 500;
  text-align: center;
  min-width: 192px;
  cursor: pointer;
  word-break: keep-all;
  user-select: none;
  padding: 11px 15px;
  transition: all .2s;

  &.outline {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;

    &:hover {
      background-color: $white;
      color: $purple-blue;
    }
  }
}
