form {
  display: block;
  width: 100%;
  max-width: 408px;
  margin: 0 auto;
  text-align: center;
}

label {
  color: $grey;
  text-align: left;
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 1.15;
  margin-bottom: 23px;
  user-select: none;
  position: relative;

  &:last-of-type {
    margin-bottom: 45px;
  }

  &.error {
    color: $dark-red;

    input:not([type="checkbox"]),
    .input,
    textarea {
      box-shadow: 0 1px $dark-red;
    }

    .message {
      font-size: 11px;
      margin-top: 10px;
      color: inherit;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &:after {
    display: none;
    position: absolute;
    top: 28px;
    right: 3px;
    width: 12px;
    height: 12px;
    content: '';
    background-image: url('/assets/svg/success.svg');
    background-size: contain;
  }

  &.valid {
    &:after {
      display: inline-block;
    }

    &.no-sign {
      &:after {
        display: none;
      }
    }
  }

  .info {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 3px;
    color: $grey;

    .message {
      display: none;
      position: absolute;
      bottom: calc(100% + 12px);
      width: 135px;
      min-height: 70px;
      left: calc(100% - 75px);
      padding: 8px;
      border-radius: 4px;
      background: #fff;
      font-size: 11px;
      line-height: 1.2;
      color: $black;

      &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: calc(100% - 75px);
        width: 0;
        height: 0;
        border: 7px solid #fff;
        background: #fff;
        transform: rotate(45deg);
      }
    }

    &:hover {
      svg {
        fill: $light-blue;
      }

      .message {
        display: inline-block;
      }
    }
  }
}

input:not([type="checkbox"]),
.input,
textarea {
  font-family: 'Rubiko', sans-serif;
  appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-weight: 400;
  padding: 10px 0;
  color: $grey;
  box-shadow: 0 1px rgba(#fff, 0.25);
  font-size: 13px;
  line-height: 1.15;
  text-align: left;
  transition: all .2s;
  padding-right: 25px;

  &:focus {
    color: #fff;
    box-shadow: 0 1px #fff, inset 0px -1px #fff;
  }
}
