<h2 class="center m-v-30">Settings</h2>
<div class="sidebar-pages__wrapper">
  <div class="sidebar-pages">
    <!-- Sidebar -->
    <aside class="sidebar-pages__sidebar">
      <div class="sidebar-pages__sidebar__item" appSticky [addClass]="'fixed'">
        <p style="cursor: pointer;" routerLinkActive="active" routerLink="/settings/general"><app-svg-icon name="users" class="p-r-10"></app-svg-icon>General</p>
        <p style="cursor: pointer;" routerLinkActive="active" routerLink="/settings/security"><app-svg-icon name="home" class="p-r-10"></app-svg-icon>Security</p>
        <p style="cursor: pointer;" routerLinkActive="active" routerLink="/settings/notifications"><app-svg-icon name="list2" class="p-r-10"></app-svg-icon>Notifications</p>
      </div>
    </aside>
    <!-- Main -->
    <div class="sidebar-pages__main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
