

// Spinner

.spinner {
  animation: rotate 2s linear infinite;
  height: 32px;
  width: 32px;
  transform-origin: center center; }

.spinner-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: $ablue;

  &.dark {
    stroke: $ablue; }}

@keyframes rotate {
  100% {
    transform: rotate(360deg); }}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; }}


// Forms


.form-group {
  padding: 0 30px; }

.form-control {
  width: 100%;
  min-height: 40px;
  position: relative;
  margin-bottom: 25px;

  & .form-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: $font-family--secondary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 0 2px 20px 0 rgba(74,124,226,.09);
    padding: 0 15px;
    background: #f5f5f5; }

  & .form-textarea {
    width: 100% !important;
    max-width: 100%;
    height: 120px !important;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: $font-family--secondary;
    box-shadow: 0 2px 20px 0 rgba(74,124,226,.09);
    padding: 15px;
    background: #f5f5f5; }

  &.textarea {
    height: 120px; }

  & .form-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: rgba(80,120,241,.1);
    margin-right: 8px;

    &:checked {
      background-color: $ablue; }}

  &.checkbox {
    min-height: 1px; }

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background: $ablue;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(.5);
    opacity: 0;
    transition: transform .3s $g, opacity .1s $g; }

  & label {
    font-size: 13px;
    font-weight: 500;
    color: #777;
    position: relative;
    top: 9px;
    display: inline-block;
    line-height: 1;
    transform-origin: 0 0;
    transition: transform .4s $g2, color .4s $g2;
    background-color: #fff;
    padding: 5px;
    left: 10px;
    z-index: 1;

    &.checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      top: 0;
      left: 0;
      padding: 0; }}

  &.active {
    &:after {
      transform: scale(1);
      opacity: 1; }
    & label {
      color: $ablue; }}

  &.full {
    & label {
      transform: translate(0, -20px) scale(0.85); }}

  &.error {
    &:after {
      background: #cc4411; }
    & label {
      color: #cc4411; }}}
