

// Forms

.form-group {
  padding: 0 30px; }

.form-control {
  width: 100%;
  min-height: 40px;
  position: relative;
  margin-bottom: 25px;

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background: $ablue;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(.5);
    opacity: 0;
    transition: transform .3s $g, opacity .1s $g; }

  & label {
    font-size: 13px;
    font-weight: 500;
    color: #777;
    position: relative;
    top: 9px;
    display: inline-block;
    line-height: 1;
    transform-origin: 0 0;
    transition: transform .4s $g2, color .4s $g2;
    background-color: #fff;
    padding: 5px;
    left: 10px;
    z-index: 1; }

  &.active {
    &:after {
      transform: scale(1);
      opacity: 1; }
    & label {
      color: $ablue; }}

  &.full {
    & label {
      transform: translate(0, -20px) scale(0.85); }}

  &.error {
    &:after {
      background: #cc4411; }
    & label {
      color: #cc4411; }}}

.form-text {
  @extend .form-control;

  & input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: $font-family--secondary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 0 2px 20px 0 rgba(74,124,226,.09);
    padding: 0 15px;
    background: #f5f5f5; }}

.form-textarea {
  @extend .form-control;
  height: 120px;

  & textarea {
    width: 100% !important;
    max-width: 100%;
    height: 120px !important;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: $font-family--secondary;
    box-shadow: 0 2px 20px 0 rgba(74,124,226,.09);
    padding: 15px;
    background: #f5f5f5; }}

.form-checkbox {
  @extend .form-control;
  min-height: 1px;
  user-select: none;

  & input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: rgba(80,120,241,.1);
    margin-right: 8px; }

  & .checkbox-icon {
    display: none;
    height: 1em;
    position: absolute;
    left: 4px; }

  & label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    padding: 0; }}

.checkbox--checked {
  & .checkbox-icon {
    display: inline-block; }}

.wrapper {
  background-image: url('./assets/raster/bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header {
  position: relative;
  z-index: 3; }

.main {
  min-height: calc(100vh - 240px);
  position: relative;
  z-index: 1; }

.footer {
  position: relative;
  z-index: 2; }

