<main class="main">

  <!-- overlay -->
  <div class="overlay" *ngIf="json || edit" (click)="json = false; edit = false"></div>

  <!-- JSON view -->
  <div class="modal--right p-a-10" *ngIf="json">
    <div class="modal__header" style="justify-content: space-between;">
      <button class="abtn btn-outline-ablue" (click)="downloadJSON()">Download JSON</button>
      <img src="/assets/raster/close.png" (click)="json = false">
    </div>
    <pre [innerHTML]="syntaxHighlight(stringify(event, null, 3))"></pre>
  </div>

  <div class="modal--right p-a-10" *ngIf="edit">
    <div class="modal__header">
      <img src="/assets/raster/close.png" (click)="edit = false">
    </div>
    <!-- Edit form + pass current JSON to prefill the form -->
    <h1 class="center m-v-40">Edit event</h1>
    <app-event-add [prefill]="event" [assetId]="assetId"></app-event-add>
  </div>

  <!-- Asset header -->
  <div class="block-center m-w-12">
    <div class="view-header">
      <div class="flex flex-direction-r align-items-fe">
        <button class="abtn btn-outline-ablue m-r-20 back" routerLink="/assets/{{ event.content.idData.assetId }}">Back to asset</button>
        <qr-code class="qr" [value]="'https://' + hostLink + '/' + event.content.idData.assetId + '/events/' + event.eventId" [size]="300"
          #qrCode (click)="downloadQR(qrCode)"></qr-code>
      </div>
      <div class="m-t-10">
        <a href="https://{{ hostLink }}/{{ event.content.idData.assetId }}/events/{{ event.eventId }}" class="center m-v-20 p-h-20"
          target="_blank" style="word-break: break-word;">View on amb.to</a>
        <button class="abtn btn-outline-ablue m-r-10" (click)="json = true">View JSON</button>
        <button class="abtn btn-outline-ablue" (click)="edit = true">Edit</button>
      </div>
    </div>
  </div>

  <!-- Event details -->
  <div class="block-center m-w-12 p-h-20">
    <div class="layout-split">

      <!-- Event objects -->
      <div class="layout-split__col1">
        <h3 class="m-t-10 m-b-30 p-h-10">Event data objects</h3>

        <div class="event-object" *ngFor="let eventObject of event.content.data">
          <!-- key - value -->
          <div *ngFor="let key of objectKeys(eventObject)">
            <div class="item" *ngIf="!isObject(eventObject[key])">
              <p class="item__cell__title">{{ key }}: </p>
              <p class="item__cell">{{ eventObject[key] }}</p>
            </div>
          </div>

          <!-- Arrays -->
          <div *ngFor="let key of objectKeys(eventObject)">
            <div *ngIf="isObject(eventObject[key]) && isArray(eventObject[key])">
              <div class="item">
                <p class="item__cell__title">{{ key }}: </p>
                <div class="item__cell">
                  <div *ngFor="let value of eventObject[key]">
                    <!-- if value of array are strings -->
                    <span *ngIf="!isObject(value)">{{ value }} </span>
                    <!-- if value of array are complex values -->
                    <span class="item__cell--json" *ngIf="isObject(value)">{{ valueJSON(stringify(value, null, 5)) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Groups -->
          <div *ngFor="let key of objectKeys(eventObject)">
            <div *ngIf="isObject(eventObject[key]) && !isArray(eventObject[key])">
              <h5 class="m-t-20 m-b-10 p-h-10">{{ key }}</h5>

              <div class="item" *ngFor="let k of objectKeys(eventObject[key])">
                <p class="item__cell__title ">{{ k }}:</p>

                <!-- IF OR NOT OBJECT, DISPLAY STRING OR STRINGIFY -->
                <p class="item__cell" *ngIf="!isObject(eventObject[key][k])">{{ eventObject[key][k] }}</p>
                <p class="item__cell item__cell--json" *ngIf="isObject(eventObject[key][k])">{{ valueJSON(stringify(eventObject[key][k], null, 5)) }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Basic info -->
      <div class="layout-split__col1 ">
        <h3 class="m-t-10 m-b-30 p-h-10 ">Basic info</h3>

        <!-- timestamp -->
        <div class="item ">
          <p class="item__cell__title ">timestamp: </p>
          <p class="item__cell ">{{ event.content.idData.timestamp * 1000 | date:'d MMM yyyy' }} ({{ event.content.idData.timestamp }})</p>
        </div>

        <div class="item ">
          <p class="item__cell__title ">eventId: </p>
          <p class="item__cell ">{{ event.eventId }}</p>
        </div>

        <div *ngFor="let key of objectKeys(event.content.idData) | loopExclude:[ 'timestamp'] ">
          <div class="item ">
            <p class="item__cell__title ">{{ key }}: </p>
            <p class="item__cell ">{{ event.content.idData[key] }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>
