<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<main class="main">

  <!-- Asset header -->
  <div class="block-center m-w-12">
    <div class="view-header">
      <div class="flex flex-direction-r align-items-fe">
        <button type="button" class="button button--blue m-r-20 back" routerLink="/assets/{{ event.content.idData.assetId }}">Back to asset</button>
        <app-qr-code class="qr" [value]="previewAppUrl + '/' + event.content.idData.assetId + '/events/' + event.eventId" [size]="300" #qrCode (click)="downloadQR(qrCode)"></app-qr-code>
      </div>
      <div class="m-t-10">
        <a href="{{ previewAppUrl }}/{{ event.content.idData.assetId }}/events/{{ event.eventId }}" class="center m-v-20 p-h-20" target="_blank" style="word-break: break-word;">View on {{ previewAppUrl.replace('https://', '') }}</a>
        <button type="button" class="button m-r-10" (click)="openJSONPreviewDialog()">View JSON</button>
        <button type="button" class="button" (click)="openDialog()">Edit</button>
      </div>
    </div>
  </div>

  <!-- Event details -->
  <div class="block-center m-w-12 p-h-20" *ngIf="event">
    <div class="layout-split">

      <!-- Event objects -->
      <div class="layout-split__col1">
        <h3 class="m-t-10 m-b-30 p-h-10">Event data objects</h3>

        <div class="event-object" *ngFor="let eventObject of event.content.data">

          <!-- key - value -->
          <div *ngFor="let key of objectKeys(eventObject)">
            <div class="item" *ngIf="!isObject(eventObject[key])">
              <p class="item__cell__title" *ngIf="!isArray(eventObject[key])">{{ key }}: </p>
              <p class="item__cell" [ngClass]="{ 'item__cell--json': isObject(eventObject[key]) }" [innerHtml]="isObject(eventObject[key]) ? valueJSON(stringify(eventObject[key], null, 5)) : eventObject[key]"></p>
            </div>
          </div>

          <!-- Groups -->
          <div *ngFor="let key of objectKeys(eventObject)">
            <div *ngIf="isObject(eventObject[key])">
              <h5 class="m-t-20 m-b-10 p-h-10">{{ key }}</h5>

              <div class="item" *ngFor="let k of objectKeys(eventObject[key])">
                <p class="item__cell__title" *ngIf="!isArray(eventObject[key])">{{ k }}:</p>
                <p class="item__cell" [ngClass]="{ 'item__cell--json': isObject(eventObject[key][k]) }" [innerHtml]="isObject(eventObject[key][k]) ? valueJSON(stringify(eventObject[key][k], null, 5)) : eventObject[key][k]"></p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Basic info -->
      <div class="layout-split__col1 ">
        <h3 class="m-t-10 m-b-30 p-h-10 ">Basic info</h3>

        <!-- timestamp -->
        <div class="item" *ngIf="event | checkIf: 'event.content.idData.timestamp'">
          <p class="item__cell__title ">timestamp: </p>
          <p class="item__cell ">{{ event.content.idData.timestamp * 1000 | date:'d MMM yyyy' }} ({{ event.content.idData.timestamp }})</p>
        </div>

        <div class="item" *ngIf="event.eventId">
          <p class="item__cell__title ">eventId: </p>
          <p class="item__cell ">{{ event.eventId }}</p>
        </div>

        <div *ngIf="event | checkIf: 'event.content.idData'">
          <div class="item" *ngFor="let key of objectKeys(event.content.idData) | loopExclude:[ 'timestamp']">
            <p class="item__cell__title ">{{ key }}: </p>
            <p class="item__cell ">{{ event.content.idData[key] }}</p>
          </div>
        </div>

        <div class="item ">
          <p class="item__cell__title ">Check Event Validations</p>
          <a href="https://ambrosus.github.io/app-checker/?eventId={{eventId}}" target="_blank" class="item__cell item__click-here">Click Here</a>
        </div>

      </div>

    </div>
  </div>

</main>
