<div class="object" *ngIf="event">

  <div *ngFor="let eventObject of eventObjects">
    <header class="object__header">
      <div class="object__title">
        <h3>{{ getName(eventObject, 'No title') }}</h3>
        <p>{{ eventId }}</p>
      </div>
    </header>

    <main class="object__body">

      <!-- Identifiers -->
      <div class="object__identifiers" *ngIf="eventObject | checkIf: 'eventObject.identifiers.identifiers'">
        <h5 class="object__subtitle">Identifiers</h5>

        <ul>
          <li class="item" *ngFor="let key of objectKeys(eventObject.identifiers.identifiers)">
            <span class="item__title">{{ key }}</span>
            <span class="item__value">{{ eventObject.identifiers.identifiers[key][0] }}</span>
          </li>
        </ul>
      </div>

      <!-- Documents -->
      <div class="object__images" *ngIf="eventObject.documents">
        <h5 class="object__subtitle">Documents</h5>

        <a *ngFor="let document of objectKeys(eventObject.documents)" href="{{ eventObject.documents[document]['url'] }}" target="_blank">
          <img src="/assets/raster/documents.png">
        </a>
      </div>

      <!-- Properties -->
      <div class="object__properties" *ngIf="eventObject.properties && eventObject.properties.length">
        <h5 class="object__subtitle">Properties</h5>

        <ul>
          <li class="item" *ngFor="let property of eventObject.properties">
            <span class="item__title" *ngIf="!isArray(property.value)">{{ property.key }}</span>
            <span class="item__value" [ngClass]="{ 'item__value--json': isObject(property.value) }" [innerHtml]="isObject(property.value) ? valueJSON(stringify(property.value, null, 5)) : property.value"></span>
          </li>
        </ul>
      </div>

      <!-- Groups -->
      <div class="object__groups" *ngIf="eventObject.groups && eventObject.groups.length">
        <div *ngFor="let group of eventObject.groups">
          <h5 class="object__subtitle">{{ group.key }}</h5>

          <ul>
            <li class="item" *ngFor="let property of objectKeys(group.value)">
              <span class="item__title" *ngIf="!isArray(group.value[property])">{{ property }}</span>
              <span class="item__value" [ngClass]="{ 'item__value--json': isObject(group.value[property]) }" [innerHtml]="isObject(group.value[property]) ? valueJSON(stringify(group.value[property], null, 5)) : group.value[property]"></span>
            </li>
          </ul>
        </div>
      </div>

    </main>
  </div>

  <!-- Basic info -->
  <div class="p-a-30" *ngIf="event | checkIf: 'event.content.idData'">
    <h3 class="m-b-20 color-ablue--base">Event metadata</h3>

    <p>Timestamp</p>
    <p class="m-b-10 color-blacks--base">{{ event.content.idData.timestamp }} ({{ event.content.idData.timestamp * 1000 | date:'EEE, MMM d yyyy hh:mm' }})</p>

    <p>Event ID</p>
    <p class="m-b-10 color-blacks--base">{{ eventId }}</p>

    <p>Asset ID</p>
    <p class="m-b-10 color-blacks--base">{{ assetId }}</p>

    <p>Access level</p>
    <p class="m-b-10 color-blacks--base">{{ event.content.idData.accessLevel }}</p>

    <p>Created by</p>
    <p class="m-b-10 color-blacks--base">{{ event.content.idData.createdBy }}</p>

    <p>Data hash</p>
    <p class="m-b-10 color-blacks--base">{{ event.content.idData.dataHash }}</p>
  </div>

</div>
