<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<header class="header">
  <div class="flex between">
    <div class="flex">
      <h2 class="title flex-0">New event</h2>
      <h5 class="flex-0" style="color: #999">for {{ data.assetIds.length || assetIds.length }} Assets</h5>
    </div>
    <ul class="menu flex-0">
      <li [ngClass]="{ 'active': !json }" (click)="json = false">Form</li>
      <li [ngClass]="{ 'active': json }" (click)="json = true">JSON</li>
    </ul>
  </div>
</header>
<main>
  <app-event-form [assetIds]="data.assetIds || assetIds" *ngIf="!json"></app-event-form>
  <app-json-form [assetIds]="data.assetIds || assetIds" [for]="'events'" *ngIf="json"></app-json-form>
</main>
