<div class="m-w-6 block-center right p-a-20" [ngClass]="{error: error || invalidJSON, success: success}" *ngIf="json && !prefill">

  <h4 class="center p-h-40 m-b-30" *ngIf="invalidJSON" style="color: #ea7070">Your JSON is invalid, please fix it first.</h4>
  <h4 class="center p-h-40 m-b-30" *ngIf="success" style="color: #5cb85c">Success!</h4>
  <h4 class="center p-h-40 m-b-30" *ngIf="errorResponse" style="color: #ea7070">Error creating the asset</h4>

  <label for="file" class="abtn btn-outline-ablue m-b-10" *ngIf="json">Upload JSON</label>
  <input type="file" id="file" class="srt" accept=".json" name="file" *ngIf="json" (change)="uploadJSON($event)" #file>
  <textarea id="jsonInput" class="jsonInput" placeholder="Insert JSON" spellcheck="false" (keyup)="validJSON(jsonInput)" (keydown)="insertTab($event, jsonInput)" #jsonInput [ngClass]="{ invalid: errorJSON }" [value]="textArea"></textarea>
  <div class="flex flex-direction-r justify-content-fe align-items-c m-b-50 m-t-20">
    <app-spinner *ngIf="spinner"></app-spinner>
    <a class="abtn m-l-20 btn-solid-ablue" (click)="onJSONSave(jsonInput)">Create asset</a>
  </div>
</div>
