<div class="p-v-20">

  <h4 class="center p-h-40 m-b-30" *ngIf="error" style="color: #ea7070">{{ error }}</h4>
  <h4 class="center p-h-40 m-b-30" *ngIf="success" style="color: #5cb85c">{{ success }}</h4>

  <label for="file" class="button" style="width: auto;">Upload JSON
    <input type="file" id="file" class="srt" accept=".json" name="file" (change)="uploadJSON($event)" #file>
  </label>
  <label>JSON
    <textarea class="json" (keyup)="validateJSON(jsonInput)" (keydown)="insertTab($event, jsonInput)" [value]="textArea" spellcheck="false" autofocus #jsonInput></textarea>
  </label>

  <div class="flex flex-direction-r justify-content-fe align-items-c m-t-20">
    <app-spinner *ngIf="spinner"></app-spinner>
    <button type="button" class="color-ablue--base m-l-20" routerLink="/">Cancel</button>
    <button type="button" class="button button--blue m-l-20" (click)="save(jsonInput)">Create {{ for }}</button>
  </div>
</div>
