.json {
  font-size: 12px;
  font-family: monospace;
  height: 300px;
  min-height: 300px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 20px;
  background: #fff;
  white-space: pre;
  line-height: 1.4;
  color: #333;

  &:focus {
    outline: 2px solid lightblue;
  }
}
