<div class="amb">
  <header>
    <div class="wrapper">
      <div class="accordions">
        <div class="accordion">
          <div class="title" appAccordion>
            <h2 class="decoration">
              <app-svg-icon name="asset" height="40" width="40" fill="9198BB"></app-svg-icon>
              {{ assetsService.getName(asset.info) }}
            </h2>
            <p class="address">{{ asset.assetId }}</p>
            <p class="createdBy">
              <span class="flex-0">by</span>
              <span class="image"></span>
              <span *ngIf="asset.content?.idData?.createdBy">{{ asset.content.idData.createdBy }}</span>
            </p>
          </div>
          <div class="content">
            <div class="metadata">
              <div>
                <h5>Asset metadata</h5>
                <ul class="properties">
                  <li *ngIf="asset.assetId">
                    <h6>Asset id</h6>
                    <p>{{ asset.assetId }}</p>
                  </li>
                  <li *ngIf="asset.content?.idData?.createdBy">
                    <h6>Created by</h6>
                    <p>{{ asset.content.idData.createdBy }}</p>
                  </li>
                  <li *ngIf="asset.content?.idData?.timestamp">
                    <h6>Timestamp</h6>
                    <p>{{ asset.content.idData.timestamp }}</p>
                  </li>
                  <li *ngIf="asset.content?.idData?.accessLevel">
                    <h6>Access level</h6>
                    <p>{{ asset.content.idData.accessLevel }}</p>
                  </li>
                </ul>
              </div>
              <div>
                <h5>Bundle metadata</h5>
                <ul class="properties">
                  <li *ngIf="asset.metadata?.bundleId">
                    <h6>Bundle id</h6>
                    <p>{{ asset.metadata.bundleId }}</p>
                  </li>
                  <li *ngIf="asset.metadata?.bundleTransactionHash">
                    <h6>Bundle transaction hash</h6>
                    <p>{{ asset.metadata.bundleTransactionHash }}</p>
                  </li>
                  <li *ngIf="asset.metadata?.bundleUploadTimestamp">
                    <h6>Bundle upload timestamp</h6>
                    <p>{{ asset.metadata.bundleUploadTimestamp }}</p>
                  </li>
                  <li *ngIf="asset.metadata?.entityUploadTimestamp">
                    <h6>Entity upload timestamp</h6>
                    <p>{{ asset.metadata.entityUploadTimestamp }}</p>
                  </li>
                </ul>
              </div>
            </div>
            <button class="transparent" (click)="viewJSON()" style="margin-top: 15px;">{{ json || 'View as JSON' }}</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="json" *ngIf="json">
    <div class="wrapper">
      <h5>JSON</h5>
      <p *ngIf="jsonEventsRaw?.pagination?.hasNext" style="margin: 5px 0; color: red;">
        This asset has more than 200 events, to download all of them please contact support.</p>
      <textarea>{{ jsonEvents }}</textarea>

      <div class="flex between" style="margin-top: 40px;">
        <button class="transparent flex-0" (click)="json = ''">View as Data</button>
        <a class="button outline flex-0" [download]="assetsService.getName(asset.info) + '.json'" [href]="downloadJSON()">
          Download JSON
        </a>
      </div>

    </div>
  </main>
  <main *ngIf="!json">
    <div class="wrapper decoration">
      <app-svg-icon name="content" height="40" width="40" fill="9198BB"></app-svg-icon>

      <!-- Images -->
      <section class="images" *ngIf="asset.info?.images" style="margin-bottom: 25px;">
        <div class="image" *ngFor="let image of objectKeys(asset.info.images)" [style.backgroundImage]="sanitizeUrl(asset.info.images[image]['url'])"></div>
      </section>

      <!-- Description -->
      <section *ngIf="asset.info?.description">
        <h5>Description</h5>
        <p style="color: #333;">{{ asset.info.description }}</p>
      </section>

      <!-- QR code -->
      <section class="flex decoration">
        <app-svg-icon name="identificator" height="40" width="40" fill="9198BB"></app-svg-icon>
        <app-qr-code class="qr flex-0" [value]="'https://amb.to/' + asset.assetId" [size]="300" #qrCode (click)="downloadQR(qrCode)" style="margin: 0"></app-qr-code>
        <a class="flex-0" [href]="'https://amb.to/' + asset.assetId" target="_blank" style="color: #0042ba;">
          Check on amb.to
        </a>
      </section>

      <!-- Identifiers -->
      <section *ngIf="asset.info?.identifiers?.identifiers">
        <h5>Identifiers</h5>
        <ul class="properties">
          <li *ngFor="let key of objectKeys(asset.info.identifiers.identifiers)">
            <h6>{{ key }}</h6>
            <p>{{ asset.info.identifiers.identifiers[key][0] }}</p>
          </li>
        </ul>
      </section>

      <!-- Documents -->
      <section *ngIf="asset.info?.documents">
        <h5>Documents</h5>

        <ul class="properties">
          <li class="property" *ngFor="let document of objectKeys(asset.info.documents)">
            <h6 *ngIf="asset.info?.documents[document]?.name">{{ asset.info.documents[document].name }}</h6>
            <a *ngIf="asset.info?.documents[document]?.url" [href]="asset.info.documents[document].url" target="_blank">
              {{ assetsService.getUrlName(asset.info.documents[document].url) }}
            </a>
          </li>
        </ul>
      </section>

      <!-- Properties -->
      <section *ngIf="asset.info?.properties && asset.info.properties.length">
        <h5>Properties</h5>
        <ul class="properties">
          <li *ngFor="let property of asset.info.properties">
            <h6 *ngIf="!isArray(property.value)">{{ property.key }}</h6>
            <p [ngClass]="{ 'json': isObject(property.value) }" [innerHtml]="isObject(property.value) ? valueJSON(stringify(property.value, null, 5)) : property.value"></p>
          </li>
        </ul>
      </section>

      <section class="groups" *ngIf="asset.info?.groups && asset.info.groups.length">
        <div class="group" *ngFor="let group of asset.info.groups">
          <h5>{{ group.key }}</h5>

          <ul class="properties">
            <li *ngFor="let property of objectKeys(group.value)">
              <h6 *ngIf="!isArray(group.value[property])">{{ property }}</h6>
              <p [ngClass]="{ 'json': isObject(group.value[property]) }" [innerHtml]="isObject(group.value[property]) ? valueJSON(stringify(group.value[property], null, 5)) : group.value[property]"></p>
            </li>
          </ul>
        </div>
      </section>

    </div>
  </main>
  <div class="timeline">
    <div class="wrapper">
      <header>
        <div class="flex between">
          <div>
            <h2>Events</h2>
          </div>
          <div class="flex-0">
            <button type="button" class="outline" *ngIf="account.permissions && account.permissions.indexOf('create_event') > -1" (click)="openAddEventDialog()">Add event</button>
          </div>
        </div>
      </header>

      <h4 *ngIf="!timeline; else timeline">No events</h4>
      <ng-template #timeline>
        <app-events-timeline [assetId]="assetId" [name]="assetsService.getName(asset.info)"></app-events-timeline>
      </ng-template>
    </div>
  </div>
</div>
