

// Start code here



// --- btn 1 themes ---

.btn-solid-_1 {
	background: $_1;
	color: #fff; }

.btn-solid-_2 {
	background: $_2;
	color: #fff; }

.btn-solid-_3 {
	background: $_3;
	color: #fff; }

.btn-solid-_4 {
	background: $_4;
	color: #fff; }

.btn-solid-_5 {
	background: $_5;
	color: #fff; }

.btn-solid-_6 {
	background: $_6;
	color: #fff; }

.btn-solid-white {
	background: #fff;
	color: $_1; }


// --- AMB button themes ---

.btn-solid-ablue {
  background: $ablue;
  color: #fff; }

.btn-solid-agreen {
  background: $agreen;
  color: #fff; }

.btn-solid-aorange {
  background: $aorange;
  color: #fff; }

.btn-solid-awhite {
  background: #fff;
  color: $ablue; }




// --- Dividers ---

.d-bot {
	border-bottom: 1px solid #e4e4e4; }

.d-top {
	border-top: 1px solid #e4e4e4; }



// --- Background Color classes based from map $palettes ---


@include map-to-classes($palettes, background-color, '.bg', '-', '--');


// Here are all initially generated background-color classes (from template)
// Note:
// Due to SCSS mixin complexity and SCSS code, words white and black, are turned into #fff and #000, instead of words, in class names.
// Base on that classes are bg-whites (so with white and black are in plural, to work), bg-blacks...
// And bg-grey.., bg-primary.., bg-secondary.. They have intuitive naming, and are not bug affected.
// ie.

// .bg-whites--base { background-color: #fff; }




// --- Color classes based from map $palettes ---


@include map-to-classes($palettes, color, '.color', '-', '--');


// Here are all initially generated color classes (from template)
// ie.

// .color-blacks--base { color: #111; }



// --- Custom ---

.mute {
	opacity: .6; }
