@import 'var';


.json_preview{
  white-space: pre;

  & __header{
    margin-bottom: 20px;
  }

  .string {
  color: green;
  }

  .number {
    color: blue;
  }

  .boolean {
    color: darkorange;
  }

  .null {
    color: magenta;
  }

  .key {
    color: red;
  }
}
