<div *ngIf="!(_users.roles | async).length" class="center">
  <h2>No Roles Added Yet</h2>
  <hr>
  <button type="button" class="button button--blue m-l-auto" (click)="openRoleDialog()">Get Started</button>
</div>

<div *ngIf="(_users.roles | async).length">
  <h4 class="m-b-30">Roles</h4>

  <div class="table" style="padding: 0;">
    <!-- Header -->
    <!-- Select all -->
    <div class="table__item table__item__header">
      <button type="button" class="button button--blue m-l-auto" (click)="openRoleDialog()">Create New Role</button>
    </div>

    <div class="table__item table__item__header header--sticky">
      <div style="width: 130px; height: 10px; flex: 0 0 100px;"></div>
      <p class="table__column table__column__headecr">Role</p>
      <p class="table__column table__column__header">Permissions</p>
      <p class="table__column table__column__header">Edit Role</p>
      <p class="table__column table__column__header">Delete Role</p>
    </div>
  </div>

  <div class="table m-t-20" id="table">

    <!-- Items -->
    <div class="table__item table" *ngFor="let role of _users.roles | async">
      <label class="table__label">

        <input type="checkbox" appCustomCheckbox>

      </label>

      <div class="table__column">
        <p class="table__column-title hide-1024">Role</p>
        <p class="table__column-content">{{ role.title | titlecase }}</p>
      </div>

      <div class="table__column">
        <p class="table__column-title hide-1024">Permissions</p>
        <p class="table__column-content">{{ role.permissions.toString() }}</p>
      </div>

      <div class="table__column">
        <p class="table__column-title hide-1024">Edit Role</p>
        <p class="table__column-content"><button type="button" class="button" (click)="openRoleDialog(role)">EDIT</button></p>
      </div>

      <div class="table__column">
        <p class="table__column-title hide-1024">Delete Role</p>
        <p class="table__column-content"><button type="button" class="button button--blue" (click)="deleteRole(role)">Delete</button></p>
      </div>

    </div>
  </div>
