<div class="flex flex-direction-r justify-content-c align-items-c p-a-40" style="min-height: 100vh">
  <div>
    <h3 *ngIf="!isEdit" class="p-h-30">Create Role</h3>
    <h3 *ngIf="isEdit" class="p-h-30">Edit Role</h3>
    <hr>

    <div class="m-t-30">
      <div class="tab_content">
        <form (ngSubmit)="create()">
          <!-- Create Role form -->
          <div class="form-text m-b-20">
            <label>Role Title</label>
            <input [(ngModel)]="title" name="title" placeholder="Example: Admin, Manager, etc. " type="text">
          </div>

          <div class="m-b-20">
            <h5>Dashboard Permissions</h5>
          </div>

          <div class="m-b-20">

            <div class="table m-t-20 p-h-30" id="table">

              <!-- Items -->
              <div class="table__item table" *ngFor="let permission of permissionsArray; let i = index" [ngClass]="checkPermission(permission.value) ? 'checkbox--checked' : ''">
                <label class="table__label" for="{{ i }}">
                  <div class="relative">
                    <input type="checkbox" id="{{ i }}" (click)="selectPermission(permission.value)" class="table__checkbox" name="{{permission.value}}">
                    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="#5078f1" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
                    </svg>
                  </div>
                </label>

                <div class="table__column">
                  <p class="table__column-title hide-1024">{{permission.name}}</p>
                  <p class="table__column-content">{{permission.name}}</p>
                </div>

              </div>
            </div>
          </div>

          <a (click)="closeDialog()" #ngNoForm class="abtn btn-solid-ared">Close</a>
          <button *ngIf="!isEdit" class="abtn m-l-20 btn-solid-ablue" type="submit" [promiseBtn]="createPromise">Create</button>
          <button *ngIf="isEdit" class="abtn m-l-20 btn-solid-ablue" type="submit" [promiseBtn]="createPromise">Edit Role</button>

        </form>
      </div>
    </div>

    <p *ngIf="error" class="center p-t-20" style="color: #ea7070">{{error}}</p>
    <p *ngIf="!error && successMessage" class="center p-t-20" style="color: #57b846;">{{successMessage}}</p>
  </div>

</div>