<div class="login">
  <div class="login__forms">
    <img src="/assets/raster/amb-logo.png" alt="Ambrosus" class="m-h-30 m-t-30" style="max-width: 120px;">

    <div class="login__forms__wrapper" style="margin-top: 90px">
      <app-signin *ngIf="activeTab === 'login'"></app-signin>
      <app-signup *ngIf="activeTab === 'signup'"></app-signup>
    </div>

    <p class="center m-b-30 w-100" style="cursor: pointer;">
      <span class="color-blacks--base" (click)="activeTab = 'login'">Sign in</span> /
      <span class="color-blacks--base" (click)="activeTab = 'signup'">Sign up</span>
    </p>
  </div>
  <div class="login__background">
    <h1 class="d1 p-h-50 m-b-10" style="color: #fff; font-weight: 500;">Welcome to Ambrosus!</h1>
    <h1 class="d5 p-h-50 m-b-75" style="color: #fff; font-weight: 400;">Log in to access your account.</h1>
  </div>
</div>
