<div class="p-b-10">
    <h5><strong>Full Name:</strong> Meet Dave</h5>
</div>

<hr>

<div class="p-b-10">
    <div style="display:inline;">
        <img src="/assets/images/user-avatar.png"
             width="100px">
        <button>Change Avatar</button>
    </div>
</div>

<hr>

<div class="p-b-10">
    <div style="display:inline;">
        <h5 style="display:inline; padding-right: 10px;"><strong>Current time-zone: </strong>+05:30 IST</h5>
        <button>Change Timezone</button>
    </div>
</div>

<hr>