<h4 class="m-b-30">Settings</h4>
<h5 class="m-b-10">Preview app and company logo</h5>
<p class="m-b-30">Application your QR codes will redirect to, for previewing your assets and events and logo located inside QR codes.</p>
<form [formGroup]="settingsForm" (ngSubmit)="save()" class="form-group m-w-6" style="padding: 0;">
  <div class="form-text m-b-20">
    <label for="url">Preview app URL</label>
    <input formControlName="url" type="url" name="url" id="url" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="url">Company logo</label>
    <input formControlName="logo" type="text" name="logo" id="logo" spellcheck="false" appInput>
  </div>
  <div class="flex flex-direction-r justify-content-fe align-items-c">
    <app-spinner *ngIf="spinner"></app-spinner>
    <button type="submit" class="abtn m-l-20 btn-outline-ablue">Save settings</button>
  </div>
</form>
<h5 class="m-v-20" *ngIf="error" style="color: #ea7070">{{ error }}</h5>
<h5 class="m-v-20" *ngIf="success" style="color: #57b846">Success</h5>
