<div class="form">
  <section>
    <label>
      <span>JSON *</span>
      <textarea class="json" (keyup)="validateJSON(jsonInput)" (keydown)="insertTab($event, jsonInput)" [value]="textArea" spellcheck="false" autofocus #jsonInput></textarea>
    </label>
  </section>

  <section class="right">
    <button type="button" class="transparent light" (click)="cancel()" style="margin-right: 10px;">Cancel</button>
    <button type="button" (click)="save(jsonInput)">Create {{ for }}</button>
  </section>
</div>
