@import 'utils';

app-account {
  display: block;
  background: #fff;

  .active {
    color: $green;
  }

  .disabled {
    color: $red;
  }

  .permissions {
    display: flex;
    flex-direction: column;

    > * {
      max-width: 200px !important;
      margin-bottom: 15px;
      cursor: pointer;
    }
  }
}
