<div class="page" *ngIf="account.address">
  <header>
    <div class="wrapper">
      <div class="flex">
        <div class="image"></div>
        <div>
          <h1>{{ account.fullName || account.email || 'Account details' }}</h1>
          <p style="margin-top: 10px;">{{ account.address }}</p>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <form class="form" [formGroup]="forms.account" (ngSubmit)="saveAccount()">

        <div class="group">
          <label class="w50">
            <span>Public key </span>
            <input formControlName="address" type="text" />
          </label>
          <label class="w50" for="timeZone">
            <span>Time Zone</span>
            <input formControlName="timeZone" list="timezones" id="timeZone" />
            <datalist id="timezones">
              <option *ngFor="let timezone of timezones" value="{{ timezone }}">
              </option>
            </datalist>
          </label>
        </div>
        <div class="group">
          <label class="w50">
            <span>Name</span>
            <input formControlName="fullName" type="text" />
          </label>
          <label class="w50">
            <span>Email</span>
            <input formControlName="email" type="email" />
          </label>
        </div>
        <div>
          <button type="submit" class="outline" [disabled]="forms.account.invalid" [promiseBtn]="promise.saveAccount">
            Save account
          </button>
        </div>
      </form>

      <hr style="margin: 40px 0;">

      <h4 [ngClass]="this.account.permissions.length ? 'active' : 'disabled'">
        {{ this.account.permissions.length ? 'Active' : 'Disabled' }}
      </h4>
      <p style="margin: 15px 0 30px;">
        You can add or remove account permissions and access level.<br>
        If you uncheck all permissions, you will disable this account.
      </p>

      <form class="form" [formGroup]="forms.accountPermissions" (ngSubmit)="savePermissions()">
        <label style="max-width: 200px">
          <span>Access level</span>
          <input formControlName="accessLevel" type="number" min="0" />
        </label>
        <div formGroupName="permissions">
          <label>
            <input type="checkbox" formControlName="super_account" appCustomCheckbox />
            Super account
          </label>
          <label>
            <input type="checkbox" formControlName="manage_accounts" appCustomCheckbox />
            Manage accounts
          </label>
          <label>
            <input type="checkbox" formControlName="register_accounts" appCustomCheckbox />
            Register accounts
          </label>
          <label>
            <input type="checkbox" formControlName="create_event" appCustomCheckbox />
            Create events
          </label>
          <label>
            <input type="checkbox" formControlName="create_asset" appCustomCheckbox />
            Create assets
          </label>
        </div>
        <div>
          <button type="submit" class="outline" [disabled]="forms.accountPermissions.invalid" [promiseBtn]="promise.savePermissions">
            Save permissions
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
