@import 'var';

.pwdcheck-unchecked {
    display:inline; 
    padding: 10px 10px 0px 0px;
    max-width: 20px;
    content:url("/assets/svg/checkbox-unchecked.svg");
}

.pwdcheck-checked {
    display:inline; 
    padding: 10px 10px 0px 0px;
    max-width: 20px;
    content:url("/assets/svg/checkbox-checked.svg");
}