<div class="login">
  <div class="login__forms">
    <div class="m-h-30 m-t-30"></div>

    <div class="login__forms__wrapper" style="margin-top: 50px">
      <h3 class="p-h-30">Sign up</h3>
      <p class="m-v-10 p-h-30">To login with email and password</p>
      <form [formGroup]="signupForm" (ngSubmit)="signup()" class="form-group login-form" [ngClass]="{ error: error }">
        <div class="form-text m-b-20">
          <label for="address">Address *</label>
          <input formControlName="address" type="text" name="address" id="address" spellcheck="false" appInput>
        </div>
        <div class="form-text m-b-20">
          <label for="secret">Secret *</label>
          <input formControlName="secret" type="password" name="secret" id="secret" spellcheck="false" appInput>
        </div>
        <div class="form-text m-b-20">
          <label for="fullname">Full name *</label>
          <input formControlName="fullname" type="text" name="fullname" id="fullname" spellcheck="false" appInput>
        </div>
        <div class="form-text m-b-20">
          <label for="title">Company name *</label>
          <input formControlName="title" type="text" name="title" id="title" spellcheck="false" appInput>
        </div>
        <div class="form-text m-b-20">
          <label for="email">Email *</label>
          <input formControlName="email" type="email" name="email" id="email" spellcheck="false" appInput>
        </div>
        <div class="form-text m-b-20">
          <label for="password">Password *</label>
          <input (input)="checkPassword($event)" formControlName="password" type="password" name="password" id="password" spellcheck="false"
            appInput>
        </div>
        <div *ngIf="passwordExists" class="progress password-pad">
          <div class="progress_bar" [ngStyle]="{'width': width + '%', 'background': color}"></div>
          <small>Strong passwords contain combination of symbol, lowercase, uppercase letter & a number</small>
        </div>
        <div class="form-text m-b-20">
          <label for="passwordConfirm">Password Confirm *</label>
          <input formControlName="passwordConfirm" type="password" name="passwordConfirm" id="passwordConfirm" spellcheck="false" appInput>
        </div>
        <div class="form-checkbox m-b-20 p-t-10">
          <label for="terms">
            <input formControlName="terms" type="checkbox" name="terms" id="terms" appOnchecked> I accept Terms & Conditions *
            <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="#5078f1" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
            </svg>
          </label>
        </div>
        <div class="flex flex-direction-r justify-content-fe align-items-c">
          <app-spinner *ngIf="spinner"></app-spinner>
          <button type="submit" class="abtn m-l-20 btn-solid-ablue">Sign up</button>
        </div>
      </form>
      <h5 class="p-h-40 m-v-30" *ngIf="error" style="color: #ea7070">{{ error }}</h5>

    </div>

    <p class="center m-b-30 w-100" style="cursor: pointer;">
      <span class="color-blacks--base" routerLink="/login">Login</span> /
      <span class="color-blacks--base" routerLink="/signup">Sign up</span>
    </p>
  </div>
  <div class="login__background">
    <h1 class="d1 p-h-50 m-b-10" style="color: #fff; font-weight: 500;">Welcome to Ambrosus!</h1>
    <h1 class="d5 p-h-50 m-b-75" style="color: #fff; font-weight: 400;">Signup a company.</h1>
  </div>
</div>
