@import 'utils';

app-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  min-height: calc(100vh - 116px);
  width: 100%;
  text-align: center;

  .options,
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option {
    img {
      margin-bottom: 44px;
    }
  }

  .options {
    &__separator {
      color: #686BC2;
      margin: 60px 0;
      position: relative;

      &:before,
      &:after {
        content: '';
        height: 1px;
        width: 60px;
        background: #686BC2;
        position: absolute;
        right: calc(100% + 15px);
        top: 6px;
      }

      &:after {
        left: calc(100% + 15px);
      }
    }
  }

  @include breakpoint-min(768) {
    .options {
      flex-direction: row;
      justify-content: center;

      &__separator {
        margin: 0 60px;

        &:before,
        &:after {
          height: 60px;
          width: 1px;
          top: -75px;
          left: 8px;
          right: unset;
        }

        &:after {
          top: 27px;
        }
      }
    }
  }
}
