<ul class="pagination">
  <li class="pagination__item" *ngIf="currentPage !== minPage">
    <span (click)="changePage('back')">Previous</span>
  </li>
  <li class="pagination__item">
    <span><input type="tel" value="{{currentPage}}" (keypress)="keyPress($event)" (keyup)="pageValue($event)" style="width: 30px; text-align: center;"></span>
    <span>/ {{totalPages}}</span>
  </li>
  <li class="pagination__item" *ngIf="currentPage !== totalPages">
    <span (click)="changePage('next')">Next</span>
  </li>
</ul>
