<ul class="pagination">
  <li class="pagination__item" *ngIf="currentPage !== 1">
    <span (click)="method(currentPage - 2)">Previous</span>
  </li>
  <li class="pagination__item" *ngFor="let number of pagination; let i = index" [ngClass]="{ active: currentPage === number, dots: number === '...' }">
    <span *ngIf="currentPage === number">{{ number }}</span>
    <span *ngIf="currentPage !== number && number === '...' && i === 1" (click)="method(pagination[i+1] - 2)">{{ number }}</span>
    <span *ngIf="currentPage !== number && number === '...' && i === pagination.length - 2" (click)="method(pagination[i-1])">{{ number }}</span>
    <span *ngIf="currentPage !== number && number !== '...'" (click)="method(number-1)">{{ number }}</span>
  </li>
  <li class="pagination__item" *ngIf="currentPage !== pagination[pagination.length -1]">
    <span (click)="method(currentPage)">Next</span>
  </li>
</ul>
