@import 'utils';

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

app-progress {
  display: block;
  position: relative;
  padding: 24px;

  > h4 {
    margin: 10px 0 30px;
    position: relative;

    > .close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 19px;
      font-weight: 400;
      color: $grey;
    }
  }

  > .results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn .3s forwards;

    h5 {
      margin-bottom: 10px;
    }

    p + p {
      margin: 0;
    }

    small {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      color: $grey;
    }

    span {
      color: $black;
    }

    .success {
      color: $green;
    }

    .error {
      color: $red;
    }
  }

  > .progress {
    position: absolute !important;
    left: 0;
    top: 0;
  }
}
