<div class="p-a-40" style="min-height: 100vh">
  <h1 class="center" style="margin: 30px 0 100px 0">Create an account</h1>

  <div class="block-center center m-w-6 m-b-50" *ngIf="success">
    <p class="color-blacks--base" style="font-size: 14px;">
      Setup was successfuly done.<br>
      Now you can login with your email and password.<br>
      But, before you go, this is your<br>
      <b>address: {{ address }}</b><br> and
      <b>secret: {{ secret }}</b>,<br> please <u>save them somewhere safe</u>,
      as we are not storing them anywhere for security reasons.
    </p>
    <h5 class="color-ablue--base m-t-20" routerLink="/login"><a>Login</a></h5>
  </div>

  <form [formGroup]="createAccountForm" (ngSubmit)="createAccount()" class="block-center m-w-4" *ngIf="!success">
    <div class="form-text m-b-20">
      <label for="fullName">Full name</label>
      <input formControlName="fullName" type="text" id="fullName" spellcheck="false" appInput>
    </div>
    <div class="form-text m-b-20">
      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password" spellcheck="false" appInput>
    </div>
    <div class="form-text m-b-20">
      <label for="passwordConfirm">Password Confirm</label>
      <input formControlName="passwordConfirm" type="password" id="passwordConfirm" spellcheck="false" appInput>
    </div>
    <div class="form-text m-b-20">
      <label for="address">Address (optional)</label>
      <input formControlName="address" type="text" id="address" spellcheck="false" appInput>
    </div>
    <div class="form-text m-b-20">
      <label for="secret">Secret (optional)</label>
      <input formControlName="secret" type="password" id="secret" spellcheck="false" appInput>
    </div>
    <div class="flex flex-direction-r justify-content-fe align-items-c">
      <app-spinner *ngIf="spinner"></app-spinner>
      <button type="submit" class="abtn m-l-20 btn-solid-ablue" [disabled]="!createAccountForm.valid">Create account</button>
    </div>
  </form>
  <h5 class="p-h-40 m-v-30 center" *ngIf="error" style="color: #ea7070">{{ error }}</h5>
</div>
