@include keyframes(animateGradient) {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}

.ui-dark {
  background: $purple-blue;
  background-size: 100% 200% !important;

  button,
  .button {
    color: $purple-blue;
    background: $white;
    border: 1px solid $white;

    &.outline {
      border: 1px solid $white;
      background-color: transparent;
      color: $white;

      &:hover {
        background: $white;
        color: $purple-blue;
      }
    }
  }

  &.page-loaded {
    @include gradient-vertical-three-colors($dark-purple,
    $purple-blue,
    50%,
    darken($purple-blue, 10));
    @include animation('animateGradient .9s 1');
    animation-delay: 1s;
    background-position: 0 100%;
    animation-fill-mode: forwards;
  }

  .logo {
    img {
      padding-left: 66px;
      height: 120px;
    }
  }

  p,
  .lead {
    color: $grey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  input:not([type='checkbox']),
  .input,
  textarea {
    color: #fff;
    background: transparent;

    &:focus {
      color: #fff;
      border-color: #fff;
    }
  }

  .custom_checkbox {
    &__icon {
      border: 2px solid #fff;
    }
  }

  label {
    .info {
      .message {
        background: #fff;

        &:before {
          border: 7px solid #fff;
          background: #fff;
        }
      }
    }

    &.error {
      color: $dark-red;

      input:not([type='checkbox']),
      .input,
      textarea {
        border-color: $dark-red !important;
      }
    }
  }

  app-footer {
    .copyright {
      > p {
        color: $grey;
      }
    }

    .contact {
      a {
        color: $grey;

        &:hover {
          color: #fff;
        }
      }
    }

    .socials {
      li {
        a {
          svg {
            path {
              fill: $grey;
            }
          }

          &:hover {
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}
