/*
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
*/

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.avatar {
  position: relative;
  height: 32px;
  width: 32px;
  background-color: #fcbc58;
  border: 1px solid #fff;
  border-radius: 100%;
  background-size: 100%;
  background-position: center center;
  text-align: center;
  line-height: 29px;
  font-size: 16px;
  font-weight: 500;
}

button .btn-spinner {
  font-family: sans-serif;
  font-weight: 100;
  -webkit-animation: 1.25s linear infinite three-quarters;
  animation: 1.25s linear infinite three-quarters;
  border: 3px solid white;
  border-right-color: transparent;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  width: 18px;
  height: 18px
}

button .btn-spinner:not(:required) {
  margin-left: -22px;
  opacity: 0;
  transition: .4s margin ease-out, .2s opacity ease-out
}

button.is-loading .btn-spinner {
  transition: .2s margin ease-in, .4s opacity ease-in;
  margin-left: 20px;
  opacity: 1
}

.btn {
  text-align: left
}

.custom_checkbox {
  visibility: hidden;
  position: absolute;
  opacity: 0;

  &__icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #edf2fe;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -3px;
      margin-top: -7px;
      display: none;
      width: 6px;
      height: 10px;
      border: solid darken(#edf2fe, 35);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:checked {
    + .custom_checkbox__icon {
      &:after {
        display: block;
      }
    }
  }

}

@-webkit-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
