/*
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
*/

body{
  background: #f5f7fc;
}

.card{
  background: #fff;
  padding: 30px;
  font-size: 12px;
  border-radius: 3px;

  &__title{
    color: #121e3e;
    font-size: 1.4em;
  }

  &__body{
    color: #99a3ae;
    font-size: 1em;
  }
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.avatar {
  position: relative;
  height: 32px;
  width: 32px;
  background-color: #fcbc58;
  border: 1px solid #fff;
  border-radius: 100%;
  background-size: 100%;
  background-position: center center;
  text-align: center;
  line-height: 29px;
  font-size: 16px;
  font-weight: 500;
}
