@import 'partials';
@import 'utils/index';
@import 'modules/index';
@import 'themes/index';

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: stretch;
}

app-root > * {
  flex-shrink: 0;
}

router-outlet + * {
  flex-grow: 1;
}

body {

  &.login,
  &.signup {
    @extend .ui-dark;
  }
}
