<h4 class="m-b-30">Settings</h4>

<h5 class="m-v-20" *ngIf="error" style="color: #ea7070">{{ error }}</h5>
<h5 class="m-v-20" *ngIf="success" style="color: #57b846">{{ success }}</h5>

<div *ngIf="organization">
  <form [formGroup]="settingsForm" (ngSubmit)="editOrganization()" class="m-w-4">
    <div class="form-text m-b-20">
      <label for="title">Organization name</label>
      <input formControlName="title" type="text">
    </div>
    <div class="form-text m-b-20">
      <label for="title">Legal address</label>
      <input formControlName="legalAddress" type="text">
    </div>
    <div class="flex flex-direction-r justify-content-fe align-items-c">
      <button type="submit" class="button button--blue m-l-20">Save</button>
    </div>
  </form>
  <hr>
  <p>Created on</p>
  <p>{{ organization.createdOn * 1000 | date: 'MMM d, yyyy HH:mm' }}</p>
  <p>Modified on</p>
  <p>{{ organization.modifiedOn * 1000 | date: 'MMM d, yyyy HH:mm' }}</p>
</div>
