<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->

<div class="wrapper">
  <div class="card">
    <div class="card__header">
      <h2 class="card__title">Setup Dashboard</h2>
      <p class="card__body">Complete this <i>step-by-step</i> setup process to launch your dasbhoard and create your first company.<p>
    </div>

    <div class="steps">
      <ul>
        <li class="step" [ngClass]="{ 'step--active': currentStep == 0, 'step--completed': forms.hermes.valid }"><span class="step__balloon"></span>Hermes Node</li>
        <li class="step" [ngClass]="{ 'step--active': currentStep == 1, 'step--completed': forms.company.valid }"><span class="step__balloon"></span>Company</li>
        <li class="step" [ngClass]="{ 'step--active': currentStep == 2, 'step--completed': forms.user.valid }"><span class="step__balloon"></span>Owner</li>
      </ul>
    </div>

    <div class="step__content" *ngIf="currentStep === 0">
      <form [formGroup]="forms.hermes" (ngSubmit)="currentStep = currentStep + 1">

        <label>Hermes Title
          <input formControlName="title" type="text" spellcheck="false" appAutofocus>
        </label>

        <label>Hermes Gateway URL
          <input formControlName="url" type="url" spellcheck="false">
        </label>

        <button type="submit" class="button button--blue" [disabled]="!forms.hermes.valid">Next</button>

      </form>
    </div>

    <div class="step__content" *ngIf="currentStep === 1">
      <form [formGroup]="forms.company" (ngSubmit)="currentStep = currentStep + 1">

        <label>Company Title
          <input formControlName="title" type="text" spellcheck="false" appAutofocus>
        </label>

        <label>Timezone
          <ng-select [searchable]="true" [clearable]="false" [selectOnTab]="true" formControlName="timezone" [items]="timezones"></ng-select>
        </label>

        <label formGroupName="settings">Preview App <ins>(Optional)</ins>
          <input formControlName="preview_app" type="text" spellcheck="false">
        </label>


        <button type="button" class="button" (click)="currentStep = currentStep - 1">Back</button>
        <button type="submit" class="button button--blue" [disabled]="!forms.company.valid">Next</button>

      </form>
    </div>

    <div class="step__content" *ngIf="currentStep === 2">
      <form [formGroup]="forms.user" (ngSubmit)="currentStep = currentStep + 1">

        <label>Full name
          <input formControlName="full_name" type="text" spellcheck="false" appAutofocus>
        </label>

        <label>Email
          <input formControlName="email" type="email" spellcheck="false">
        </label>

        <label>Password
          <input formControlName="password" type="password" spellcheck="false">
        </label>

        <label>Password Confirm
          <input formControlName="passwordConfirm" type="password" spellcheck="false">
        </label>

        <button type="button" class="button" (click)="currentStep = currentStep - 1">Back</button>
        <button type="button" class="button button--blue" [disabled]="!forms.user.valid" [promiseBtn]="formsPromise" (click)="setup()">Register</button>

      </form>
    </div>


    <div class="step__content" *ngIf="address && secret">
      <div *ngIf="success">
        <p class="card__body">Setup was successfuly done. Now you can login with your email and password.</p>
        <p class="card__body">But, before you go, this is your <b>address: {{ address }}</b> and <b>secret: {{ secret }}</b>
          save them somewhere safe, as we are not storing them anywhere for security reasons.</p>

        <a class="button button--blue" routerLink="/assets">Proceed to Dashboard</a>
      </div>
    </div>

  </div>

</div>
