<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->

<div class="wrapper">
  <div class="card">
    <div class="card__header">
      <h2 class="card__title">Setup Dashboard</h2>
      <p class="card__body">Description to explain the important part of this process. Maybe add a second sentence to test
        the length.<p>
    </div>

    <div *ngIf="success">
      <p class="card__body"> Setup was successfuly done. Now you can login with your email and password.</p>
      <p class="card__body">But, before you go, this is your <b>address: {{ address }}</b> and <b>secret: {{ secret }}</b> save them somewhere safe, as we are not storing them anywhere for security reasons.</p>

      <a routerLink="/login">Login</a>
    </div>

    <div class="steps">
      <ul>
        <li class="step" [ngClass]="{ 'step--active': currentStep == 1, 'step--completed': currentStep > 1 }"><span class="step__balloon"></span>Hermes Node</li>
        <li class="step" [ngClass]="{ 'step--active': currentStep == 2, 'step--completed': currentStep > 2 }"><span class="step__balloon"></span>Company</li>
        <li class="step" [ngClass]="{ 'step--active': currentStep == 3, 'step--completed': currentStep > 3 }"><span class="step__balloon"></span>Account</li>
        <li class="step" [ngClass]="{ 'step--active': currentStep == 4, 'step--completed': currentStep > 4 }"><span class="step__balloon"></span>Submit</li>
      </ul>
      <!--       <p class="step" >01 Hermes Node</p>
      <p class="step" [ngClass]="{ active: currentStep >= 2 }">02 Company</p>
      <p class="step" [ngClass]="{ active: currentStep >= 3 }">03 User (owner)</p> -->
    </div>

    <form [formGroup]="setupForm" (ngSubmit)="setup()" *ngIf="!success">

      <div *ngIf="currentStep === 1" [ngClass]="stepClass()">
        <label>Hermes Title
          <input formControlName="hermesTitle" type="text" spellcheck="false">
        </label>

        <label>Hermes Gateway URL
          <input formControlName="hermesUrl" type="url" spellcheck="false">
        </label>
      </div>

      <div *ngIf="currentStep === 2">

        <label>Company Title
          <input formControlName="companyTitle" type="text" spellcheck="false">
        </label>

        <label>Company Time Zone
          <input formControlName="companyTimeZone" list="timezones" spellcheck="false">
          <datalist id="timezones">
            <option *ngFor="let timezone of timezones" value="{{ timezone }}">
          </datalist>
        </label>

      </div>

      <div *ngIf="currentStep === 3">

        <label>Full name
          <input formControlName="userFullName" type="text" spellcheck="false">
        </label>

        <label>Email
          <input formControlName="userEmail" type="email" spellcheck="false">
        </label>

        <label>Password
          <input formControlName="userPassword" type="password" spellcheck="false">
        </label>

        <label>Password Confirm
          <input formControlName="userPasswordConfirm" type="password" spellcheck="false">
        </label>

      </div>

      <div class="flex flex-direction-r justify-content-fs align-items-c m-b-20" style="cursor: default;">
        <h5 class="color-ablue--base inline-block" *ngIf="!(currentStep === 1)" (click)="changeStep('prev')" style="user-select: none">
          <app-svg-icon name="arrow-left" width="15px" style="margin-right: 7px"></app-svg-icon> Previous
        </h5>
        <button class="button button--blue" [ngClass]="{ mute: !checkStep() }" *ngIf="!(currentStep === 3)" (click)="changeStep('next')" style="user-select: none">
          Continue
        </button>
      </div>
      <div class="flex flex-direction-r justify-content-fe align-items-c" *ngIf="currentStep === 3">
        <app-spinner *ngIf="spinner"></app-spinner>
        <button type="submit" class="abtn m-l-20 btn-solid-ablue" [disabled]="!setupForm.valid">Register</button>
      </div>
    </form>
    <h5 class="p-h-40 m-v-30 center" *ngIf="error" style="color: #ea7070">{{ error }}</h5>
  </div>

</div>
