<div class="dashboard">
  <header>
    <div class="wrapper">
      <ul class="menu">
        <li>
          <a routerLink="/node" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/node/organizations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Organizations
          </a>
        </li>
      </ul>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
