

// Start code here 



// --- Mobile-first Grid ---

// It is important that media query breakpoint units, be in 'em'
// px to em: 320px = 20em; 480px = 30em; 640px = 40em; 768px = 48em; 980px = 61.25em; 1024px = 64em; 
// 1100px = 68.75em; 1200px = 75em; 1440px = 90em; 1650px = 103.125em; 1920px = 120em;

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-12 {
    width: 100%; }

  .col-11 {
    width: 91.66666667%; }

  .col-10 {
    width: 83.33333333%; }

  .col-9 {
    width: 75%; }

  .col-8 {
    width: 66.66666667%; }

  .col-7 {
    width: 58.33333333%; }

  .col-6 {
    width: 50%; }

  .col-5 {
    width: 41.66666667%; }

  .col-4 {
    width: 33.33333333%; }

  .col-3 {
    width: 25%; }

  .col-2 {
    width: 16.66666667%; }

  .col-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-pull-12 {
    right: 100%; }

  .col-pull-11 {
    right: 91.66666667%; }

  .col-pull-10 {
    right: 83.33333333%; }

  .col-pull-9 {
    right: 75%; }

  .col-pull-8 {
    right: 66.66666667%; }

  .col-pull-7 {
    right: 58.33333333%; }

  .col-pull-6 {
    right: 50%; }

  .col-pull-5 {
    right: 41.66666667%; }

  .col-pull-4 {
    right: 33.33333333%; }

  .col-pull-3 {
    right: 25%; } 

  .col-pull-2 {
    right: 16.66666667%; }

  .col-pull-1 {
    right: 8.33333333%; }

  .col-pull-0 {
    right: auto; }


// -- Push --

  .col-push-12 {
    left: 100%; }

  .col-push-11 {
    left: 91.66666667%; }

  .col-push-10 {
    left: 83.33333333%; }

  .col-push-9 {
    left: 75%; }

  .col-push-8 {
    left: 66.66666667%; }

  .col-push-7 {
    left: 58.33333333%; }

  .col-push-6 {
    left: 50%; }

  .col-push-5 {
    left: 41.66666667%; }

  .col-push-4 {
    left: 33.33333333%; }

  .col-push-3 {
    left: 25%; }

  .col-push-2 {
    left: 16.66666667%; }

  .col-push-1 {
    left: 8.33333333%; }

  .col-push-0 {
    left: auto; }


// -- Offset --

  .col-offset-12 {
    margin-left: 100%; }

  .col-offset-11 {
    margin-left: 91.66666667%; }

  .col-offset-10 {
    margin-left: 83.33333333%; }

  .col-offset-9 {
    margin-left: 75%; }

  .col-offset-8 {
    margin-left: 66.66666667%; }

  .col-offset-7 {
    margin-left: 58.33333333%; }

  .col-offset-6 {
    margin-left: 50%; }

  .col-offset-5 {
    margin-left: 41.66666667%; }

  .col-offset-4 {
    margin-left: 33.33333333%; }

  .col-offset-3 {
    margin-left: 25%; }

  .col-offset-2 {
    margin-left: 16.66666667%; }

  .col-offset-1 {
    margin-left: 8.33333333%; }

  .col-offset-0 {
    margin-left: 0; }


// px to em: 320px = 20em; 480px = 30em; 640px = 40em; 768px = 48em; 980px = 61.25em; 1024px = 64em; 
// 1100px = 68.75em; 1200px = 75em; 1440px = 90em; 1650px = 103.125em; 1920px = 120em;

@media only screen and (min-width: 20em) {

  .col-320-1, .col-320-2, .col-320-3, .col-320-4, .col-320-5, .col-320-6, .col-320-7, .col-320-8, .col-320-9, .col-320-10, .col-320-11, .col-320-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-320-12 {
  width: 100%; }

  .col-320-11 {
    width: 91.66666667%; }

  .col-320-10 {
    width: 83.33333333%; }

  .col-320-9 {
    width: 75%; }

  .col-320-8 {
    width: 66.66666667%; }

  .col-320-7 {
    width: 58.33333333%; }

  .col-320-6 {
    width: 50%; }

  .col-320-5 {
    width: 41.66666667%; }

  .col-320-4 {
    width: 33.33333333%; }

  .col-320-3 {
    width: 25%; }

  .col-320-2 {
    width: 16.66666667%; }

  .col-320-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-320-pull-12 {
    right: 100%; }

  .col-320-pull-11 {
    right: 91.66666667%; }

  .col-320-pull-10 {
    right: 83.33333333%; }

  .col-320-pull-9 {
    right: 75%; }

  .col-320-pull-8 {
    right: 66.66666667%; }

  .col-320-pull-7 {
    right: 58.33333333%; }

  .col-320-pull-6 {
    right: 50%; }

  .col-320-pull-5 {
    right: 41.66666667%; }

  .col-320-pull-4 {
    right: 33.33333333%; }

  .col-320-pull-3 {
    right: 25%; } 

  .col-320-pull-2 {
    right: 16.66666667%; }

  .col-320-pull-1 {
    right: 8.33333333%; }

  .col-320-pull-0 {
    right: auto; }


// -- Push --

  .col-320-push-12 {
    left: 100%; }

  .col-320-push-11 {
    left: 91.66666667%; }

  .col-320-push-10 {
    left: 83.33333333%; }

  .col-320-push-9 {
    left: 75%; }

  .col-320-push-8 {
    left: 66.66666667%; }

  .col-320-push-7 {
    left: 58.33333333%; }

  .col-320-push-6 {
    left: 50%; }

  .col-320-push-5 {
    left: 41.66666667%; }

  .col-320-push-4 {
    left: 33.33333333%; }

  .col-320-push-3 {
    left: 25%; }

  .col-320-push-2 {
    left: 16.66666667%; }

  .col-320-push-1 {
    left: 8.33333333%; }

  .col-320-push-0 {
    left: auto; }


// -- Offset --

  .col-320-offset-12 {
    margin-left: 100%; }

  .col-320-offset-11 {
    margin-left: 91.66666667%; }

  .col-320-offset-10 {
    margin-left: 83.33333333%; }

  .col-320-offset-9 {
    margin-left: 75%; }

  .col-320-offset-8 {
    margin-left: 66.66666667%; }

  .col-320-offset-7 {
    margin-left: 58.33333333%; }

  .col-320-offset-6 {
    margin-left: 50%; }

  .col-320-offset-5 {
    margin-left: 41.66666667%; }

  .col-320-offset-4 {
    margin-left: 33.33333333%; }

  .col-320-offset-3 {
    margin-left: 25%; }

  .col-320-offset-2 {
    margin-left: 16.66666667%; }

  .col-320-offset-1 {
    margin-left: 8.33333333%; }

  .col-320-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 30em) {

  .col-480-1, .col-480-2, .col-480-3, .col-480-4, .col-480-5, .col-480-6, .col-480-7, .col-480-8, .col-480-9, .col-480-10, .col-480-11, .col-480-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-480-12 {
    width: 100%; }

  .col-480-11 {
    width: 91.66666667%; }

  .col-480-10 {
    width: 83.33333333%; }

  .col-480-9 {
    width: 75%; }

  .col-480-8 {
    width: 66.66666667%; }

  .col-480-7 {
    width: 58.33333333%; }

  .col-480-6 {
    width: 50%; }

  .col-480-5 {
    width: 41.66666667%; }

  .col-480-4 {
    width: 33.33333333%; }

  .col-480-3 {
    width: 25%; }

  .col-480-2 {
    width: 16.66666667%; }

  .col-480-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-480-pull-12 {
    right: 100%; }

  .col-480-pull-11 {
    right: 91.66666667%; }

  .col-480-pull-10 {
    right: 83.33333333%; }

  .col-480-pull-9 {
    right: 75%; }

  .col-480-pull-8 {
    right: 66.66666667%; }

  .col-480-pull-7 {
    right: 58.33333333%; }

  .col-480-pull-6 {
    right: 50%; }

  .col-480-pull-5 {
    right: 41.66666667%; }

  .col-480-pull-4 {
    right: 33.33333333%; }

  .col-480-pull-3 {
    right: 25%; } 

  .col-480-pull-2 {
    right: 16.66666667%; }

  .col-480-pull-1 {
    right: 8.33333333%; }

  .col-480-pull-0 {
    right: auto; }


// -- Push --

  .col-480-push-12 {
    left: 100%; }

  .col-480-push-11 {
    left: 91.66666667%; }

  .col-480-push-10 {
    left: 83.33333333%; }

  .col-480-push-9 {
    left: 75%; }

  .col-480-push-8 {
    left: 66.66666667%; }

  .col-480-push-7 {
    left: 58.33333333%; }

  .col-480-push-6 {
    left: 50%; }

  .col-480-push-5 {
    left: 41.66666667%; }

  .col-480-push-4 {
    left: 33.33333333%; }

  .col-480-push-3 {
    left: 25%; }

  .col-480-push-2 {
    left: 16.66666667%; }

  .col-480-push-1 {
    left: 8.33333333%; }

  .col-480-push-0 {
    left: auto; }


// -- Offset --

  .col-480-offset-12 {
    margin-left: 100%; }

  .col-480-offset-11 {
    margin-left: 91.66666667%; }

  .col-480-offset-10 {
    margin-left: 83.33333333%; }

  .col-480-offset-9 {
    margin-left: 75%; }

  .col-480-offset-8 {
    margin-left: 66.66666667%; }

  .col-480-offset-7 {
    margin-left: 58.33333333%; }

  .col-480-offset-6 {
    margin-left: 50%; }

  .col-480-offset-5 {
    margin-left: 41.66666667%; }

  .col-480-offset-4 {
    margin-left: 33.33333333%; }

  .col-480-offset-3 {
    margin-left: 25%; }

  .col-480-offset-2 {
    margin-left: 16.66666667%; }

  .col-480-offset-1 {
    margin-left: 8.33333333%; }

  .col-480-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 40em) {

  .col-640-1, .col-640-2, .col-640-3, .col-640-4, .col-640-5, .col-640-6, .col-640-7, .col-640-8, .col-640-9, .col-640-10, .col-640-11, .col-640-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-640-12 {
    width: 100%; }

  .col-640-11 {
    width: 91.66666667%; }

  .col-640-10 {
    width: 83.33333333%; }

  .col-640-9 {
    width: 75%; }

  .col-640-8 {
    width: 66.66666667%; }

  .col-640-7 {
    width: 58.33333333%; }

  .col-640-6 {
    width: 50%; }

  .col-640-5 {
    width: 41.66666667%; }

  .col-640-4 {
    width: 33.33333333%; }

  .col-640-3 {
    width: 25%; }

  .col-640-2 {
    width: 16.66666667%; }

  .col-640-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-640-pull-12 {
    right: 100%; }

  .col-640-pull-11 {
    right: 91.66666667%; }

  .col-640-pull-10 {
    right: 83.33333333%; }

  .col-640-pull-9 {
    right: 75%; }

  .col-640-pull-8 {
    right: 66.66666667%; }

  .col-640-pull-7 {
    right: 58.33333333%; }

  .col-640-pull-6 {
    right: 50%; }

  .col-640-pull-5 {
    right: 41.66666667%; }

  .col-640-pull-4 {
    right: 33.33333333%; }

  .col-640-pull-3 {
    right: 25%; } 

  .col-640-pull-2 {
    right: 16.66666667%; }

  .col-640-pull-1 {
    right: 8.33333333%; }

  .col-640-pull-0 {
    right: auto; }


// -- Push --

  .col-640-push-12 {
    left: 100%; }

  .col-640-push-11 {
    left: 91.66666667%; }

  .col-640-push-10 {
    left: 83.33333333%; }

  .col-640-push-9 {
    left: 75%; }

  .col-640-push-8 {
    left: 66.66666667%; }

  .col-640-push-7 {
    left: 58.33333333%; }

  .col-640-push-6 {
    left: 50%; }

  .col-640-push-5 {
    left: 41.66666667%; }

  .col-640-push-4 {
    left: 33.33333333%; }

  .col-640-push-3 {
    left: 25%; }

  .col-640-push-2 {
    left: 16.66666667%; }

  .col-640-push-1 {
    left: 8.33333333%; }

  .col-640-push-0 {
    left: auto; }


// -- Offset --

  .col-640-offset-12 {
    margin-left: 100%; }

  .col-640-offset-11 {
    margin-left: 91.66666667%; }

  .col-640-offset-10 {
    margin-left: 83.33333333%; }

  .col-640-offset-9 {
    margin-left: 75%; }

  .col-640-offset-8 {
    margin-left: 66.66666667%; }

  .col-640-offset-7 {
    margin-left: 58.33333333%; }

  .col-640-offset-6 {
    margin-left: 50%; }

  .col-640-offset-5 {
    margin-left: 41.66666667%; }

  .col-640-offset-4 {
    margin-left: 33.33333333%; }

  .col-640-offset-3 {
    margin-left: 25%; }

  .col-640-offset-2 {
    margin-left: 16.66666667%; }

  .col-640-offset-1 {
    margin-left: 8.33333333%; }

  .col-640-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 48em) {

  .col-768-1, .col-768-2, .col-768-3, .col-768-4, .col-768-5, .col-768-6, .col-768-7, .col-768-8, .col-768-9, .col-768-10, .col-768-11, .col-768-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-768-12 {
    width: 100%; }

  .col-768-11 {
    width: 91.66666667%; }

  .col-768-10 {
    width: 83.33333333%; }

  .col-768-9 {
    width: 75%; }

  .col-768-8 {
    width: 66.66666667%; }

  .col-768-7 {
    width: 58.33333333%; }

  .col-768-6 {
    width: 50%; }

  .col-768-5 {
    width: 41.66666667%; }

  .col-768-4 {
    width: 33.33333333%; }

  .col-768-3 {
    width: 25%; }

  .col-768-2 {
    width: 16.66666667%; }

  .col-768-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-768-pull-12 {
    right: 100%; }

  .col-768-pull-11 {
    right: 91.66666667%; }

  .col-768-pull-10 {
    right: 83.33333333%; }

  .col-768-pull-9 {
    right: 75%; }

  .col-768-pull-8 {
    right: 66.66666667%; }

  .col-768-pull-7 {
    right: 58.33333333%; }

  .col-768-pull-6 {
    right: 50%; }

  .col-768-pull-5 {
    right: 41.66666667%; }

  .col-768-pull-4 {
    right: 33.33333333%; }

  .col-768-pull-3 {
    right: 25%; } 

  .col-768-pull-2 {
    right: 16.66666667%; }

  .col-768-pull-1 {
    right: 8.33333333%; }

  .col-768-pull-0 {
    right: auto; }


// -- Push --

  .col-768-push-12 {
    left: 100%; }

  .col-768-push-11 {
    left: 91.66666667%; }

  .col-768-push-10 {
    left: 83.33333333%; }

  .col-768-push-9 {
    left: 75%; }

  .col-768-push-8 {
    left: 66.66666667%; }

  .col-768-push-7 {
    left: 58.33333333%; }

  .col-768-push-6 {
    left: 50%; }

  .col-768-push-5 {
    left: 41.66666667%; }

  .col-768-push-4 {
    left: 33.33333333%; }

  .col-768-push-3 {
    left: 25%; }

  .col-768-push-2 {
    left: 16.66666667%; }

  .col-768-push-1 {
    left: 8.33333333%; }

  .col-768-push-0 {
    left: auto; }


// -- Offset --

  .col-768-offset-12 {
    margin-left: 100%; }

  .col-768-offset-11 {
    margin-left: 91.66666667%; }

  .col-768-offset-10 {
    margin-left: 83.33333333%; }

  .col-768-offset-9 {
    margin-left: 75%; }

  .col-768-offset-8 {
    margin-left: 66.66666667%; }

  .col-768-offset-7 {
    margin-left: 58.33333333%; }

  .col-768-offset-6 {
    margin-left: 50%; }

  .col-768-offset-5 {
    margin-left: 41.66666667%; }

  .col-768-offset-4 {
    margin-left: 33.33333333%; }

  .col-768-offset-3 {
    margin-left: 25%; }

  .col-768-offset-2 {
    margin-left: 16.66666667%; }

  .col-768-offset-1 {
    margin-left: 8.33333333%; }

  .col-768-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 61.25em) {

  .col-980-1, .col-980-2, .col-980-3, .col-980-4, .col-980-5, .col-980-6, .col-980-7, .col-980-8, .col-980-9, .col-980-10, .col-980-11, .col-980-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-980-12 {
    width: 100%; }

  .col-980-11 {
    width: 91.66666667%; }

  .col-980-10 {
    width: 83.33333333%; }

  .col-980-9 {
    width: 75%; }

  .col-980-8 {
    width: 66.66666667%; }

  .col-980-7 {
    width: 58.33333333%; }

  .col-980-6 {
    width: 50%; }

  .col-980-5 {
    width: 41.66666667%; }

  .col-980-4 {
    width: 33.33333333%; }

  .col-980-3 {
    width: 25%; }

  .col-980-2 {
    width: 16.66666667%; }

  .col-980-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-980-pull-12 {
    right: 100%; }

  .col-980-pull-11 {
    right: 91.66666667%; }

  .col-980-pull-10 {
    right: 83.33333333%; }

  .col-980-pull-9 {
    right: 75%; }

  .col-980-pull-8 {
    right: 66.66666667%; }

  .col-980-pull-7 {
    right: 58.33333333%; }

  .col-980-pull-6 {
    right: 50%; }

  .col-980-pull-5 {
    right: 41.66666667%; }

  .col-980-pull-4 {
    right: 33.33333333%; }

  .col-980-pull-3 {
    right: 25%; } 

  .col-980-pull-2 {
    right: 16.66666667%; }

  .col-980-pull-1 {
    right: 8.33333333%; }

  .col-980-pull-0 {
    right: auto; }


// -- Push --

  .col-980-push-12 {
    left: 100%; }

  .col-980-push-11 {
    left: 91.66666667%; }

  .col-980-push-10 {
    left: 83.33333333%; }

  .col-980-push-9 {
    left: 75%; }

  .col-980-push-8 {
    left: 66.66666667%; }

  .col-980-push-7 {
    left: 58.33333333%; }

  .col-980-push-6 {
    left: 50%; }

  .col-980-push-5 {
    left: 41.66666667%; }

  .col-980-push-4 {
    left: 33.33333333%; }

  .col-980-push-3 {
    left: 25%; }

  .col-980-push-2 {
    left: 16.66666667%; }

  .col-980-push-1 {
    left: 8.33333333%; }

  .col-980-push-0 {
    left: auto; }


// -- Offset --

  .col-980-offset-12 {
    margin-left: 100%; }

  .col-980-offset-11 {
    margin-left: 91.66666667%; }

  .col-980-offset-10 {
    margin-left: 83.33333333%; }

  .col-980-offset-9 {
    margin-left: 75%; }

  .col-980-offset-8 {
    margin-left: 66.66666667%; }

  .col-980-offset-7 {
    margin-left: 58.33333333%; }

  .col-980-offset-6 {
    margin-left: 50%; }

  .col-980-offset-5 {
    margin-left: 41.66666667%; }

  .col-980-offset-4 {
    margin-left: 33.33333333%; }

  .col-980-offset-3 {
    margin-left: 25%; }

  .col-980-offset-2 {
    margin-left: 16.66666667%; }

  .col-980-offset-1 {
    margin-left: 8.33333333%; }

  .col-980-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 64em) {

  .col-1024-1, .col-1024-2, .col-1024-3, .col-1024-4, .col-1024-5, .col-1024-6, .col-1024-7, .col-1024-8, .col-1024-9, .col-1024-10, .col-1024-11, .col-1024-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-1024-12 {
    width: 100%; }

  .col-1024-11 {
    width: 91.66666667%; }

  .col-1024-10 {
    width: 83.33333333%; }

  .col-1024-9 {
    width: 75%; }

  .col-1024-8 {
    width: 66.66666667%; }

  .col-1024-7 {
    width: 58.33333333%; }

  .col-1024-6 {
    width: 50%; }

  .col-1024-5 {
    width: 41.66666667%; }

  .col-1024-4 {
    width: 33.33333333%; }

  .col-1024-3 {
    width: 25%; }

  .col-1024-2 {
    width: 16.66666667%; }

  .col-1024-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-1024-pull-12 {
    right: 100%; }

  .col-1024-pull-11 {
    right: 91.66666667%; }

  .col-1024-pull-10 {
    right: 83.33333333%; }

  .col-1024-pull-9 {
    right: 75%; }

  .col-1024-pull-8 {
    right: 66.66666667%; }

  .col-1024-pull-7 {
    right: 58.33333333%; }

  .col-1024-pull-6 {
    right: 50%; }

  .col-1024-pull-5 {
    right: 41.66666667%; }

  .col-1024-pull-4 {
    right: 33.33333333%; }

  .col-1024-pull-3 {
    right: 25%; } 

  .col-1024-pull-2 {
    right: 16.66666667%; }

  .col-1024-pull-1 {
    right: 8.33333333%; }

  .col-1024-pull-0 {
    right: auto; }


// -- Push --

  .col-1024-push-12 {
    left: 100%; }

  .col-1024-push-11 {
    left: 91.66666667%; }

  .col-1024-push-10 {
    left: 83.33333333%; }

  .col-1024-push-9 {
    left: 75%; }

  .col-1024-push-8 {
    left: 66.66666667%; }

  .col-1024-push-7 {
    left: 58.33333333%; }

  .col-1024-push-6 {
    left: 50%; }

  .col-1024-push-5 {
    left: 41.66666667%; }

  .col-1024-push-4 {
    left: 33.33333333%; }

  .col-1024-push-3 {
    left: 25%; }

  .col-1024-push-2 {
    left: 16.66666667%; }

  .col-1024-push-1 {
    left: 8.33333333%; }

  .col-1024-push-0 {
    left: auto; }


// -- Offset --

  .col-1024-offset-12 {
    margin-left: 100%; }

  .col-1024-offset-11 {
    margin-left: 91.66666667%; }

  .col-1024-offset-10 {
    margin-left: 83.33333333%; }

  .col-1024-offset-9 {
    margin-left: 75%; }

  .col-1024-offset-8 {
    margin-left: 66.66666667%; }

  .col-1024-offset-7 {
    margin-left: 58.33333333%; }

  .col-1024-offset-6 {
    margin-left: 50%; }

  .col-1024-offset-5 {
    margin-left: 41.66666667%; }

  .col-1024-offset-4 {
    margin-left: 33.33333333%; }

  .col-1024-offset-3 {
    margin-left: 25%; }

  .col-1024-offset-2 {
    margin-left: 16.66666667%; }

  .col-1024-offset-1 {
    margin-left: 8.33333333%; }

  .col-1024-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 68.75em) {

  .col-1100-1, .col-1100-2, .col-1100-3, .col-1100-4, .col-1100-5, .col-1100-6, .col-1100-7, .col-1100-8, .col-1100-9, .col-1100-10, .col-1100-11, .col-1100-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-1100-12 {
    width: 100%; }

  .col-1100-11 {
    width: 91.66666667%; }

  .col-1100-10 {
    width: 83.33333333%; }

  .col-1100-9 {
    width: 75%; }

  .col-1100-8 {
    width: 66.66666667%; }

  .col-1100-7 {
    width: 58.33333333%; }

  .col-1100-6 {
    width: 50%; }

  .col-1100-5 {
    width: 41.66666667%; }

  .col-1100-4 {
    width: 33.33333333%; }

  .col-1100-3 {
    width: 25%; }

  .col-1100-2 {
    width: 16.66666667%; }

  .col-1100-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-1100-pull-12 {
    right: 100%; }

  .col-1100-pull-11 {
    right: 91.66666667%; }

  .col-1100-pull-10 {
    right: 83.33333333%; }

  .col-1100-pull-9 {
    right: 75%; }

  .col-1100-pull-8 {
    right: 66.66666667%; }

  .col-1100-pull-7 {
    right: 58.33333333%; }

  .col-1100-pull-6 {
    right: 50%; }

  .col-1100-pull-5 {
    right: 41.66666667%; }

  .col-1100-pull-4 {
    right: 33.33333333%; }

  .col-1100-pull-3 {
    right: 25%; } 

  .col-1100-pull-2 {
    right: 16.66666667%; }

  .col-1100-pull-1 {
    right: 8.33333333%; }

  .col-1100-pull-0 {
    right: auto; }


// -- Push --

  .col-1100-push-12 {
    left: 100%; }

  .col-1100-push-11 {
    left: 91.66666667%; }

  .col-1100-push-10 {
    left: 83.33333333%; }

  .col-1100-push-9 {
    left: 75%; }

  .col-1100-push-8 {
    left: 66.66666667%; }

  .col-1100-push-7 {
    left: 58.33333333%; }

  .col-1100-push-6 {
    left: 50%; }

  .col-1100-push-5 {
    left: 41.66666667%; }

  .col-1100-push-4 {
    left: 33.33333333%; }

  .col-1100-push-3 {
    left: 25%; }

  .col-1100-push-2 {
    left: 16.66666667%; }

  .col-1100-push-1 {
    left: 8.33333333%; }

  .col-1100-push-0 {
    left: auto; }


// -- Offset --

  .col-1100-offset-12 {
    margin-left: 100%; }

  .col-1100-offset-11 {
    margin-left: 91.66666667%; }

  .col-1100-offset-10 {
    margin-left: 83.33333333%; }

  .col-1100-offset-9 {
    margin-left: 75%; }

  .col-1100-offset-8 {
    margin-left: 66.66666667%; }

  .col-1100-offset-7 {
    margin-left: 58.33333333%; }

  .col-1100-offset-6 {
    margin-left: 50%; }

  .col-1100-offset-5 {
    margin-left: 41.66666667%; }

  .col-1100-offset-4 {
    margin-left: 33.33333333%; }

  .col-1100-offset-3 {
    margin-left: 25%; }

  .col-1100-offset-2 {
    margin-left: 16.66666667%; }

  .col-1100-offset-1 {
    margin-left: 8.33333333%; }

  .col-1100-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 75em) {

  .col-1200-1, .col-1200-2, .col-1200-3, .col-1200-4, .col-1200-5, .col-1200-6, .col-1200-7, .col-1200-8, .col-1200-9, .col-1200-10, .col-1200-11, .col-1200-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-1200-12 {
    width: 100%; }

  .col-1200-11 {
    width: 91.66666667%; }

  .col-1200-10 {
    width: 83.33333333%; }

  .col-1200-9 {
    width: 75%; }

  .col-1200-8 {
    width: 66.66666667%; }

  .col-1200-7 {
    width: 58.33333333%; }

  .col-1200-6 {
    width: 50%; }

  .col-1200-5 {
    width: 41.66666667%; }

  .col-1200-4 {
    width: 33.33333333%; }

  .col-1200-3 {
    width: 25%; }

  .col-1200-2 {
    width: 16.66666667%; }

  .col-1200-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-1200-pull-12 {
    right: 100%; }

  .col-1200-pull-11 {
    right: 91.66666667%; }

  .col-1200-pull-10 {
    right: 83.33333333%; }

  .col-1200-pull-9 {
    right: 75%; }

  .col-1200-pull-8 {
    right: 66.66666667%; }

  .col-1200-pull-7 {
    right: 58.33333333%; }

  .col-1200-pull-6 {
    right: 50%; }

  .col-1200-pull-5 {
    right: 41.66666667%; }

  .col-1200-pull-4 {
    right: 33.33333333%; }

  .col-1200-pull-3 {
    right: 25%; } 

  .col-1200-pull-2 {
    right: 16.66666667%; }

  .col-1200-pull-1 {
    right: 8.33333333%; }

  .col-1200-pull-0 {
    right: auto; }


// -- Push --

  .col-1200-push-12 {
    left: 100%; }

  .col-1200-push-11 {
    left: 91.66666667%; }

  .col-1200-push-10 {
    left: 83.33333333%; }

  .col-1200-push-9 {
    left: 75%; }

  .col-1200-push-8 {
    left: 66.66666667%; }

  .col-1200-push-7 {
    left: 58.33333333%; }

  .col-1200-push-6 {
    left: 50%; }

  .col-1200-push-5 {
    left: 41.66666667%; }

  .col-1200-push-4 {
    left: 33.33333333%; }

  .col-1200-push-3 {
    left: 25%; }

  .col-1200-push-2 {
    left: 16.66666667%; }

  .col-1200-push-1 {
    left: 8.33333333%; }

  .col-1200-push-0 {
    left: auto; }


// -- Offset --

  .col-1200-offset-12 {
    margin-left: 100%; }

  .col-1200-offset-11 {
    margin-left: 91.66666667%; }

  .col-1200-offset-10 {
    margin-left: 83.33333333%; }

  .col-1200-offset-9 {
    margin-left: 75%; }

  .col-1200-offset-8 {
    margin-left: 66.66666667%; }

  .col-1200-offset-7 {
    margin-left: 58.33333333%; }

  .col-1200-offset-6 {
    margin-left: 50%; }

  .col-1200-offset-5 {
    margin-left: 41.66666667%; }

  .col-1200-offset-4 {
    margin-left: 33.33333333%; }

  .col-1200-offset-3 {
    margin-left: 25%; }

  .col-1200-offset-2 {
    margin-left: 16.66666667%; }

  .col-1200-offset-1 {
    margin-left: 8.33333333%; }

  .col-1200-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 90em) {

  .col-1440-1, .col-1440-2, .col-1440-3, .col-1440-4, .col-1440-5, .col-1440-6, .col-1440-7, .col-1440-8, .col-1440-9, .col-1440-10, .col-1440-11, .col-1440-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-1440-12 {
    width: 100%; }

  .col-1440-11 {
    width: 91.66666667%; }

  .col-1440-10 {
    width: 83.33333333%; }

  .col-1440-9 {
    width: 75%; }

  .col-1440-8 {
    width: 66.66666667%; }

  .col-1440-7 {
    width: 58.33333333%; }

  .col-1440-6 {
    width: 50%; }

  .col-1440-5 {
    width: 41.66666667%; }

  .col-1440-4 {
    width: 33.33333333%; }

  .col-1440-3 {
    width: 25%; }

  .col-1440-2 {
    width: 16.66666667%; }

  .col-1440-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-1440-pull-12 {
    right: 100%; }

  .col-1440-pull-11 {
    right: 91.66666667%; }

  .col-1440-pull-10 {
    right: 83.33333333%; }

  .col-1440-pull-9 {
    right: 75%; }

  .col-1440-pull-8 {
    right: 66.66666667%; }

  .col-1440-pull-7 {
    right: 58.33333333%; }

  .col-1440-pull-6 {
    right: 50%; }

  .col-1440-pull-5 {
    right: 41.66666667%; }

  .col-1440-pull-4 {
    right: 33.33333333%; }

  .col-1440-pull-3 {
    right: 25%; } 

  .col-1440-pull-2 {
    right: 16.66666667%; }

  .col-1440-pull-1 {
    right: 8.33333333%; }

  .col-1440-pull-0 {
    right: auto; }


// -- Push --

  .col-1440-push-12 {
    left: 100%; }

  .col-1440-push-11 {
    left: 91.66666667%; }

  .col-1440-push-10 {
    left: 83.33333333%; }

  .col-1440-push-9 {
    left: 75%; }

  .col-1440-push-8 {
    left: 66.66666667%; }

  .col-1440-push-7 {
    left: 58.33333333%; }

  .col-1440-push-6 {
    left: 50%; }

  .col-1440-push-5 {
    left: 41.66666667%; }

  .col-1440-push-4 {
    left: 33.33333333%; }

  .col-1440-push-3 {
    left: 25%; }

  .col-1440-push-2 {
    left: 16.66666667%; }

  .col-1440-push-1 {
    left: 8.33333333%; }

  .col-1440-push-0 {
    left: auto; }


// -- Offset --

  .col-1440-offset-12 {
    margin-left: 100%; }

  .col-1440-offset-11 {
    margin-left: 91.66666667%; }

  .col-1440-offset-10 {
    margin-left: 83.33333333%; }

  .col-1440-offset-9 {
    margin-left: 75%; }

  .col-1440-offset-8 {
    margin-left: 66.66666667%; }

  .col-1440-offset-7 {
    margin-left: 58.33333333%; }

  .col-1440-offset-6 {
    margin-left: 50%; }

  .col-1440-offset-5 {
    margin-left: 41.66666667%; }

  .col-1440-offset-4 {
    margin-left: 33.33333333%; }

  .col-1440-offset-3 {
    margin-left: 25%; }

  .col-1440-offset-2 {
    margin-left: 16.66666667%; }

  .col-1440-offset-1 {
    margin-left: 8.33333333%; }

  .col-1440-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 103.125em) {

  .col-1650-1, .col-1650-2, .col-1650-3, .col-1650-4, .col-1650-5, .col-1650-6, .col-1650-7, .col-1650-8, .col-1650-9, .col-1650-10, .col-1650-11, .col-1650-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-1650-12 {
    width: 100%; }

  .col-1650-11 {
    width: 91.66666667%; }

  .col-1650-10 {
    width: 83.33333333%; }

  .col-1650-9 {
    width: 75%; }

  .col-1650-8 {
    width: 66.66666667%; }

  .col-1650-7 {
    width: 58.33333333%; }

  .col-1650-6 {
    width: 50%; }

  .col-1650-5 {
    width: 41.66666667%; }

  .col-1650-4 {
    width: 33.33333333%; }

  .col-1650-3 {
    width: 25%; }

  .col-1650-2 {
    width: 16.66666667%; }

  .col-1650-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-1650-pull-12 {
    right: 100%; }

  .col-1650-pull-11 {
    right: 91.66666667%; }

  .col-1650-pull-10 {
    right: 83.33333333%; }

  .col-1650-pull-9 {
    right: 75%; }

  .col-1650-pull-8 {
    right: 66.66666667%; }

  .col-1650-pull-7 {
    right: 58.33333333%; }

  .col-1650-pull-6 {
    right: 50%; }

  .col-1650-pull-5 {
    right: 41.66666667%; }

  .col-1650-pull-4 {
    right: 33.33333333%; }

  .col-1650-pull-3 {
    right: 25%; } 

  .col-1650-pull-2 {
    right: 16.66666667%; }

  .col-1650-pull-1 {
    right: 8.33333333%; }

  .col-1650-pull-0 {
    right: auto; }


// -- Push --

  .col-1650-push-12 {
    left: 100%; }

  .col-1650-push-11 {
    left: 91.66666667%; }

  .col-1650-push-10 {
    left: 83.33333333%; }

  .col-1650-push-9 {
    left: 75%; }

  .col-1650-push-8 {
    left: 66.66666667%; }

  .col-1650-push-7 {
    left: 58.33333333%; }

  .col-1650-push-6 {
    left: 50%; }

  .col-1650-push-5 {
    left: 41.66666667%; }

  .col-1650-push-4 {
    left: 33.33333333%; }

  .col-1650-push-3 {
    left: 25%; }

  .col-1650-push-2 {
    left: 16.66666667%; }

  .col-1650-push-1 {
    left: 8.33333333%; }

  .col-1650-push-0 {
    left: auto; }


// -- Offset --

  .col-1650-offset-12 {
    margin-left: 100%; }

  .col-1650-offset-11 {
    margin-left: 91.66666667%; }

  .col-1650-offset-10 {
    margin-left: 83.33333333%; }

  .col-1650-offset-9 {
    margin-left: 75%; }

  .col-1650-offset-8 {
    margin-left: 66.66666667%; }

  .col-1650-offset-7 {
    margin-left: 58.33333333%; }

  .col-1650-offset-6 {
    margin-left: 50%; }

  .col-1650-offset-5 {
    margin-left: 41.66666667%; }

  .col-1650-offset-4 {
    margin-left: 33.33333333%; }

  .col-1650-offset-3 {
    margin-left: 25%; }

  .col-1650-offset-2 {
    margin-left: 16.66666667%; }

  .col-1650-offset-1 {
    margin-left: 8.33333333%; }

  .col-1650-offset-0 {
    margin-left: 0; }
}


@media only screen and (min-width: 120em) {

  .col-1920-1, .col-1920-2, .col-1920-3, .col-1920-4, .col-1920-5, .col-1920-6, .col-1920-7, .col-1920-8, .col-1920-9, .col-1920-10, .col-1920-11, .col-1920-12 {
    float: left;
    position: relative;
    min-height: 1px; }

  .col-1920-12 {
    width: 100%; }

  .col-1920-11 {
    width: 91.66666667%; }

  .col-1920-10 {
    width: 83.33333333%; }

  .col-1920-9 {
    width: 75%; }

  .col-1920-8 {
    width: 66.66666667%; }

  .col-1920-7 {
    width: 58.33333333%; }

  .col-1920-6 {
    width: 50%; }

  .col-1920-5 {
    width: 41.66666667%; }

  .col-1920-4 {
    width: 33.33333333%; }

  .col-1920-3 {
    width: 25%; }

  .col-1920-2 {
    width: 16.66666667%; }

  .col-1920-1 {
    width: 8.33333333%; }


// -- Pull --

  .col-1920-pull-12 {
    right: 100%; }

  .col-1920-pull-11 {
    right: 91.66666667%; }

  .col-1920-pull-10 {
    right: 83.33333333%; }

  .col-1920-pull-9 {
    right: 75%; }

  .col-1920-pull-8 {
    right: 66.66666667%; }

  .col-1920-pull-7 {
    right: 58.33333333%; }

  .col-1920-pull-6 {
    right: 50%; }

  .col-1920-pull-5 {
    right: 41.66666667%; }

  .col-1920-pull-4 {
    right: 33.33333333%; }

  .col-1920-pull-3 {
    right: 25%; } 

  .col-1920-pull-2 {
    right: 16.66666667%; }

  .col-1920-pull-1 {
    right: 8.33333333%; }

  .col-1920-pull-0 {
    right: auto; }


// -- Push --

  .col-1920-push-12 {
    left: 100%; }

  .col-1920-push-11 {
    left: 91.66666667%; }

  .col-1920-push-10 {
    left: 83.33333333%; }

  .col-1920-push-9 {
    left: 75%; }

  .col-1920-push-8 {
    left: 66.66666667%; }

  .col-1920-push-7 {
    left: 58.33333333%; }

  .col-1920-push-6 {
    left: 50%; }

  .col-1920-push-5 {
    left: 41.66666667%; }

  .col-1920-push-4 {
    left: 33.33333333%; }

  .col-1920-push-3 {
    left: 25%; }

  .col-1920-push-2 {
    left: 16.66666667%; }

  .col-1920-push-1 {
    left: 8.33333333%; }

  .col-1920-push-0 {
    left: auto; }


// -- Offset --

  .col-1920-offset-12 {
    margin-left: 100%; }

  .col-1920-offset-11 {
    margin-left: 91.66666667%; }

  .col-1920-offset-10 {
    margin-left: 83.33333333%; }

  .col-1920-offset-9 {
    margin-left: 75%; }

  .col-1920-offset-8 {
    margin-left: 66.66666667%; }

  .col-1920-offset-7 {
    margin-left: 58.33333333%; }

  .col-1920-offset-6 {
    margin-left: 50%; }

  .col-1920-offset-5 {
    margin-left: 41.66666667%; }

  .col-1920-offset-4 {
    margin-left: 33.33333333%; }

  .col-1920-offset-3 {
    margin-left: 25%; }

  .col-1920-offset-2 {
    margin-left: 16.66666667%; }

  .col-1920-offset-1 {
    margin-left: 8.33333333%; }

  .col-1920-offset-0 {
    margin-left: 0; }
}