

// Start code here 



// --- Container --- 


// -- Base Container --

.container {
  @extend %container; } 

.container-1200-500 {
	@extend %container;

	@include min-1200 {
		max-width: 500px; }}

.container-1200-600 {
	@extend %container;

	@include min-1200 {
		max-width: 600px; }}

.container-1200-700 {
	@extend %container;

	@include min-1200 {
		max-width: 700px; }}

.container-1200-800 {
	@extend %container;

	@include min-1200 {
		max-width: 800px; }}

.container-1200-900 {
	@extend %container;

	@include min-1200 {
		max-width: 900px; }}

.container-1200-1000 {
	@extend %container;

	@include min-1200 {
		max-width: 1000px; }}

.container-1200-1100 {
	@extend %container;

	@include min-1200 {
		max-width: 1100px; }}

.container-1200-1200 {
	@extend %container;

	@include min-1200 {
		max-width: 1200px; }}



// --- Row ---

.row {
	@extend %row; } 