

// Button type 1

.btn-small {
	display: inline-block;
	font-size: 13px;
  line-height: 1;
  padding: 8px 11px;
  border-radius: 4px;
	font-weight: 500;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
	white-space: nowrap;
  user-select: none;
  transition: box-shadow .3s $tr, color .3s;

	&:hover {
		box-shadow: 0 3px 5px rgba(0,0,0,.15);  }}

.btn-medium {
	display: inline-block;
  font-family: $font-family--primary;
  padding: 12px 12px 11px;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  user-select: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  transition: box-shadow .3s $tr;
	white-space: nowrap;

	&:hover {
		box-shadow: 0 3px 5px rgba(0,0,0,.15);  }}

.btn-big {
	display: inline-block;
	font-family: $font-family--primary;
	padding: 15px 15px 14px;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  transition: box-shadow .3s $tr;
	align-self: auto;
	white-space: nowrap;

	&:hover {
		box-shadow: 0 3px 5px rgba(0,0,0,.15);  }

	&.btn--center {
		align-self: center; }}

.btn--header {
	margin: 0 10px;
	white-space: nowrap; }

.nav-main__menu--mobile .btn--header {
	margin: 0;
  width: calc(100% - 15px);
  color: $_1 !important; }

.btn--slider {
  position: absolute;
  bottom: 30px;
  right: 30px;
	white-space: nowrap;

	@include min-1200 {
		bottom: 40px;
  	right: -40px; }}


// AMB buttons

.carrot {
  color: #fff;
  font-size: 14px;
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: 1px;
  transition: transform .2s $tr; }

.abtn {
  font-family: $font-family--primary;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  width: 120px;
  padding: 1px 6px;
  text-align: center;
  line-height: 40px;
  position: relative;
  user-select: none;    
  display: inline-block;

  &:hover {
    opacity: .85; }

  &.active {
    & .carrot {
      transform: rotate(-90deg); }}}
