<h4 class="m-b-30">Invites</h4>

<p *ngIf="!invites || !invites.length">No invites. Invite <a routerLink="/administration/users/invite">new members.</a></p>

<div class="table" style="padding: 0;" *ngIf="invites && invites.length > 0">
  <!-- Header -->
  <!-- Select all -->
  <div class="table__item table__item__header">
    <label class="table__label table__label__heading" for="selectAll" (click)="onSelectAll($event, input)">
      <label class="table__label">
        <input type="checkbox" id="selectAll" appCustomCheckbox #input>
      </label>
      <span class="capitalize color-ablue--base">{{ selectAllText }}</span>
    </label>
    <!-- Bulk actions -->
    <div class="table__label table__label__heading table__label__select color-ablue--base center">
      <select id="selectBulkActions" (change)="bulkActions(selectBulkActions)" #selectBulkActions>
        <option value="default" disabled>Bulk actions</option>
        <option value="revoke">Revoke</option>
      </select>
    </div>
  </div>

  <div class="table__item table__item__header header--sticky">
    <div style="width: 130px; height: 10px; flex: 0 0 100px;"></div>
    <p class="table__column table__column__header">From</p>
    <p class="table__column table__column__header">To</p>
    <p class="table__column table__column__header">Invited on</p>
  </div>
</div>

<div class="table m-t-20" id="table">

  <!-- Items -->
  <div class="table__item table" (click)="onSelect($event, element)" id="{{ invite._id }}" *ngFor="let invite of invites; let i = index" #element>
    <label class="table__label" for="{{ i }}">
      <input type="checkbox" appCustomCheckbox>
    </label>

    <div class="table__column">
      <p class="table__column-title hide-1024">From</p>
      <p class="table__column-content">{{ invite.from.full_name }}</p>
    </div>

    <div class="table__column">
      <p class="table__column-title hide-1024">To</p>
      <p class="table__column-content">{{ invite.to }}</p>
    </div>

    <div class="table__column">
      <p class="table__column-title hide-1024">Invited on</p>
      <p class="table__column-content">{{ invite.createdAt | date:'MMM d, y, h:mm:ss a' }}</p>
    </div>
  </div>
</div>
