<h4>Notifications</h4>

<div class="p-t-20">
    <div class="p-a-20">
        <h5>Unread Notifications</h5>
    </div>
    <table style="width: 100%;">
      <tr>
        <td>Getting started with adding assets</td>
        <td>By Ambrosus Team</td>
        <td><button type="submit" class="abtn m-l-20 btn-solid-ablue">Mark as Read</button></td>
      </tr>
      <tr>
        <td>Batch Event Upload completed</td>
        <td>By Dashboard</td>
        <td><button type="submit" class="abtn m-l-20 btn-solid-ablue">Mark as Read</button></td>
      </tr>
    </table>
</div>

<hr>

<div class="p-t-20">
    <div class="p-a-20">
        <h5>Read Notifications</h5>
    </div>
    <table style="width: 100%;">
      <tr>
        <td>Getting started with adding assets</td>
        <td>By Ambrosus Team</td>
        <td><button type="submit" class="abtn m-l-20 btn-solid-ablue">Mark as unread</button></td>
      </tr>
      <tr>
        <td>How to keep your account secure</td>
        <td>By Ambrosus Team</td>
        <td><button type="submit" class="abtn m-l-20 btn-solid-ablue">Mark as unread</button></td>
      </tr>
    </table>
</div>