<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<footer class="footer flex-direction-r" style="border-top: 1px solid #ddd; padding: 10px 25px; margin: 0;">
  <img src="/assets/raster/amb-logo.png" style="height: 15px" alt="Ambrosus">

  <ul class="footer-menu">
    <li routerLink="/help">Help</li>
  </ul>
</footer>
