<h4 class="m-b-30">Reset password</h4>

<form class="m-w-4" [formGroup]="resetForm" (ngSubmit)="changePassword()" [ngClass]="{ error: error }">
  <div class="form-text m-b-20">
    <label for="passwordConfirm">Old Password *</label>
    <input formControlName="oldPassword" type="password" name="oldPassword" id="oldPassword" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="password">Password *</label>
    <input formControlName="password" type="password" name="password" id="password" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="passwordConfirm">Password Confirm *</label>
    <input formControlName="passwordConfirm" type="password" name="passwordConfirm" id="passwordConfirm" spellcheck="false" appInput>
  </div>
  <div class="flex flex-direction-r justify-content-fe align-items-c">
    <app-spinner *ngIf="spinner"></app-spinner>
    <button type="submit" class="abtn m-l-20 btn-solid-ablue">
      Change Password
    </button>
  </div>
  <div class="m-t-30 center">
    <h5 *ngIf="error" style="color: #ea7070;">{{ error }}</h5>
    <h5 *ngIf="resetSuccess" style="color: green;">Password changed successfully!</h5>
  </div>
</form>

<div *ngIf="sessions && sessions.length">
  <hr>

  <h4>Your Devices</h4>

  <div class="p-t-20">
    <table style="width: 100%;">

      <tr>
        <th></th>
        <th>
          <h4>Operating System</h4>
        </th>
        <th>
          <h4>Browser</h4>
        </th>
      </tr>

      <tr *ngFor="let session of sessions">
        <td><img src="/assets/images/macbook.png" width="50px"></td>
        <td>
          <div>{{session.session.deviceInfo.os_version | uppercase}}</div>
          <div *ngIf="session.current">(current)</div>
        </td>
        <td>{{session.session.deviceInfo.browser | uppercase}}</td>
        <td><a *ngIf="!session.current" class="abtn m-l-20 btn-solid-ablue" (click)="logoutSession(session._id)">Logout</a></td>
      </tr>

      <tr *ngIf="sessions.length > 1">
        <td></td><td></td><td></td>
        <td><a class="abtn m-l-20 btn-solid-aorange" (click)="logoutOfAllDevices()">Logout of all devices</a></td>
      </tr>

    </table>
  </div>
</div>
