<h4 class="m-b-30">Reset password</h4>

<form class="m-w-4" [formGroup]="resetForm" (ngSubmit)="changePassword()">
  <div class="form-text m-b-20">
    <label for="passwordConfirm">Old Password *</label>
    <input formControlName="oldPassword" type="password" name="oldPassword" id="oldPassword" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="newPassword">New Password *</label>
    <input formControlName="newPassword" type="password" name="newPassword" id="newPassword" spellcheck="false" appInput>
  </div>
  <div class="form-text m-b-20">
    <label for="newPasswordConfirm">New Password Confirm *</label>
    <input formControlName="newPasswordConfirm" type="password" name="newPasswordConfirm" id="newPasswordConfirm" spellcheck="false" appInput>
  </div>
  <div class="flex flex-direction-r justify-content-fe align-items-c">
    <app-spinner *ngIf="spinner"></app-spinner>
    <button type="submit" class="button button--blue m-l-20">Change Password</button>
  </div>
  <div class="m-t-30 center">
    <h5 *ngIf="error" style="color: #ea7070;">{{ error }}</h5>
    <h5 *ngIf="success" style="color: green;">{{ success }}</h5>
  </div>
</form>

<div *ngIf="sessions && sessions.length">
  <hr>

  <h4>Your Devices</h4>

  <div class="p-t-20">
    <table style="width: 100%;">
      <tr>
        <th></th>
        <th>
          <h4>Operating System</h4>
        </th>
        <th>
          <h4>Browser</h4>
        </th>
      </tr>
      <tr *ngFor="let session of sessions">
        <td><img src="/assets/images/macbook.png" width="50px"></td>
        <td>
          <div>{{ (session.session.deviceInfo ? session.session.deviceInfo.os_version : 'unknown') | uppercase }}</div>
          <div *ngIf="session.current">(current)</div>
        </td>
        <td>{{ (session.session.deviceInfo ? session.session.deviceInfo.browser : 'unknown') | uppercase }}</td>
        <td>
          <h6 *ngIf="session.current">Current session</h6>
          <button type="button" *ngIf="!session.current" class="button m-l-20" (click)="logoutSession(session._id)">Logout</button>
        </td>
      </tr>
      <tr *ngIf="sessions.length > 1">
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="button button--blue m-l-20" (click)="logoutOfAllDevices()">Logout of all devices</button></td>
      </tr>

    </table>
  </div>
</div>
