// Colors

$black: #333;
$grey: #989898;
$white: #eeeef3;

$light-blue: #00B7F9;
$blue: #0042BA;
$purple-blue: #122283;
$dark-blue: #253277;

$purple: #5B1EC0;
$dark-purple: #4F299B;

$light-red: #FF5C00;
$red: #EE1C25;
$dark-red: #D64040;

$light-green: #26F514;
$green: #40D685;
$dark-green: #019545;

$yellow: #F8E000;
$orange: #F7A120;
$marker: #CCFF00;
