<ng-sidebar-container style="height: 100vh !important;">
  <ng-sidebar [(opened)]="_opened" [closeOnClickOutside]="true" [sidebarClass]="'sidebar-class'">
    <div class="amb-sidebar">
      <div class="amb-sidebar__body">
        <a (click)="_toggleOpened()" routerLink="/assets">
          <div style="display: inline;">
            <div class="m-r-10" style="display:inline;">
              <app-svg-icon name="blue-stack" width="30px" height="30px"></app-svg-icon>
            </div>
            <h2 style="color: black; display: inline;">All Assets</h2>
          </div>
        </a>
        <hr>

        <a (click)="_toggleOpened()" routerLink="/assets/new">
          <div style="display: inline;">
            <div class="m-r-10" style="display:inline;">
              <app-svg-icon name="pencil" width="30px" height="30px"></app-svg-icon>
            </div>
            <h2 style="color: black; display: inline;">Create Assets</h2>
          </div>
        </a>
        <hr>

        <a (click)="_toggleOpened()" routerLink="/settings/general">
          <div style="display: inline;">
            <div class="m-r-10" style="display:inline;">
              <app-svg-icon name="settings-gear" width="30px" height="30px"></app-svg-icon>
            </div>
            <h2 style="color: black; display: inline;">Settings</h2>
          </div>
        </a>
        <hr>

      </div>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <div *ngIf="initialLoad && !hideHeader()">
      <header class="header">
        <div class="header-container wrapper">
          <div class="flex flex-direction-r justify-content-fs align-items-c">
            <a (click)="_toggleOpened()" class="header-logo m-r-20" *ngIf="isLoggedin">
              <app-svg-icon name="menu-icon" height="30px" width="30px"></app-svg-icon>
            </a>
            <a class="header-logo m-r-40" routerLink="/">
              <app-svg-icon name="logo" width="100px"></app-svg-icon>
            </a>
          </div>

          <a routerLink="/login" *ngIf="!isLoggedin">Login</a>

          <ul class="header-menu" *ngIf="isLoggedin && user">

            <li class="header-menu__item">
              <a routerLink="/settings" routerLinkActive="active">
                <app-svg-icon name="cog" class="p-r-10" width="20px" height="20px"></app-svg-icon>
              </a>
            </li>

            <li id="header-dropdown" class="header-menu__item dropdown hide-all display-640-inline-block p-v-10" appClickThisActive>
              <div class="avatar" *ngIf="user.full_name || (user.profile && user.profile.image)" [style.backgroundImage]="profile_image">
                <span *ngIf="!profile_image">{{ user.full_name.charAt(0) }}</span>
              </div>
              {{ greeting }}
              <ul class="dropdown-menu">
                <li *ngFor="let user of users; let i = index" [ngClass]="{ active:  i === 0 }" (click)="switchAccount(user.address)">

                  <p class="p-a-10" *ngIf="!user.full_name && !user.email">{{ user.address }}</p>

                  <p style="padding: 10px 10px 0 10px" *ngIf="user.full_name">{{ user.full_name }}</p>
                  <p style="padding: 0 10px" *ngIf="user.email">{{ user.email }}</p>
                  <p style="padding: 0 10px 10px 10px" *ngIf="user.company && user.company.title">{{ user.company.title }}</p>

                </li>
                <li class="separator color-ablue--base">
                  <span (click)="addAccountDialog()">Add account</span>
                </li>
                <li class="color-ared--base">
                  <span (click)="logoutAll()">Log out of all accounts</span>
                </li>
              </ul>
            </li>
            <!-- end Desktop menu -->
          </ul>
        </div>
      </header>

    </div>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>

<app-footer *ngIf="initialLoad"></app-footer>
