<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->

<div class="wrapper footer">
  <ul class="footer__menu">
    <li *ngFor="let link of menu">
      <a routerLink="{{ link.url }}" routerLinkActive="active">{{ link.title }}</a>
    </li>
  </ul>

  <div class="copyright">
    <h6>Powered by</h6>
    <img src="/assets/raster/amb-logo.png" alt="Ambrosus Logo">
  </div>
</div>
