<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->
<ul class="menu">
  <li>
    <a routerLink="/help">Help</a>
  </li>
</ul>
<div class="sub-footer">
  <div class="copyright">
    <p>&copy; 2018 Ambrosus Network. All rights reserved.</p>
  </div>
  <div class="logo">
    <app-svg-icon name="AMB-logo"></app-svg-icon>
  </div>
  <div class="contact">
    <a href="mailto:info@ambrosus.com">info@ambrosus.com</a>
  </div>
</div>
