app-footer {
  flex-shrink: 0;
  margin-top: 40px;

  .footer {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    color: #fff;
    font-size: 12px;

    > div {
      flex-grow: 1;
      flex-basis: 0;
    }

    a {
      color: #fff;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    &__copyright {
      opacity: 0.6;
    }

    &__socials {
      text-align: center;

      li {
        display: inline-block;
        margin: 0 10px;

        a {
          svg {
            width: 16px;
            height: 16px;

            path {
              fill: #fff;
            }
          }
        }
      }

    }

    &__contact {
      text-align: right;
    }
  }
}
