@import 'utils';

app-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  text-align: center;
  user-select: none;

  .socials {
    margin: 30px 0;
    align-self: center;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        svg {
          width: 16px;
          height: 16px;

          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .copyright,
  .contact {
    width: 300px;
  }

  .copyright {
    font-size: 11px;
  }

  .contact {
    a {
      font-size: 11px;
    }
  }

  @include breakpoint-min(1024) {
    padding: 50px 85px;
    flex-direction: row;
    justify-content: space-between;

    .copyright {
      text-align: left;
    }

    .contact {
      text-align: right;
      user-select: auto;
    }

    .socials {
      margin: 0;
    }
  }
}

.login {
  app-footer {

    .copyright {
      color: $grey;
    }

    .contact {
      a {
        color: $grey;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
