<main class="main">
  <h1 class="center m-v-50">Create asset</h1>
  <div class="m-w-6 block-center">

    <form [formGroup]="assetForm" (ngSubmit)="onSave()" class="form-group" autocomplete="off">
      <!--BASIC INFO-->
      <h4 class="m-t-35 m-b-25">Basic information</h4>
      <div class="form-text m-b-15" [ngClass]="{error: error}">
        <label for="assetType">Asset type</label>
        <input formControlName="assetType" type="text" id="assetType" spellcheck="false" appInput>
      </div>
      <div class="form-text m-b-15" [ngClass]="{error: error}">
        <label for="name">Name</label>
        <input formControlName="name" type="text" id="name" spellcheck="false" appInput>
      </div>
      <div class="form-text m-b-15">
        <label for="description">Description</label>
        <input formControlName="description" type="text" id="description" spellcheck="false" appInput>
      </div>

      <!--IMAGES-->
      <h6 class="m-t-35 m-b-25">Product images</h6>
      <div formArrayName="productImage">
        <div *ngFor="let productImageCtrl of assetForm.get('productImage')['controls']; let i = index"
             [formGroupName]="i" class="right">
          <div class="form-fields-coupled">
            <div class="form-text m-b-15 m-r-15 w-40">
              <label for="{{ i + 'imageName' }}">Image name</label>
              <input formControlName="imageName" type="text" id="{{ i + 'imageName' }}" spellcheck="false" appInput>
            </div>
            <div class="form-text m-b-15 w-60" [ngClass]="{error: assetForm.get('productImage')['controls'][i].get('imageUrl').invalid}">
              <label for="{{ i + 'imageUrl' }}">Image url</label>
              <input formControlName="imageUrl" type="text" id="{{ i + 'imageUrl' }}" spellcheck="false" appInput>
            </div>
          </div>
          <a class="color-greys--base m-b-25 inline-block" (click)="onRemoveImageUrl(i)">Remove</a>
        </div>
        <a class="color-ablue--base" (click)="onAddImageUrl()">Add image</a>
      </div>

      <!--IDENTIFIERES-->
      <h4 class="m-t-35 m-b-25">Identifiers</h4>
      <div formArrayName="identifiers">
        <div *ngFor="let identifierCtrl of assetForm.get('identifiers')['controls']; let i = index"
             [formGroupName]="i" class="right">
          <div class="form-fields-coupled">
            <div class="form-text m-b-15 m-r-15 w-20">
              <label for="{{ i + 'identifier'}}">Identifier</label>
              <input formControlName="identifier" [appAutocompleteinput]="identifiersAutocomplete" type="text" id="{{ i + 'identifier'}}" spellcheck="false" appInput>
            </div>
            <div class="form-text m-b-15 w-80">
              <label for="{{ i + 'identifierValue'}}">Value</label>
              <input formControlName="identifierValue" type="text" id="{{ i + 'identifierValue'}}" spellcheck="false" appInput>
            </div>
          </div>
          <a class="color-greys--base m-b-25 inline-block" (click)="onRemoveIdentifier(i)">Remove</a>
        </div>
        <a class="color-ablue--base" (click)="onAddIdentifier()">Add indentifier</a>
      </div>

      <!--CUSTOM DATA-->
      <h4 class="m-t-35 m-b-25">Custom data</h4>
      <div formArrayName="customData">
        <div *ngFor="let customDataCtrl of assetForm.get('customData')['controls']; let i = index"
             [formGroupName]="i" class="right">
          <div class="form-fields-coupled">
            <div class="form-text m-b-15 m-r-15 w-40">
              <label for="{{ i + 'customDataKey'}}">Property name</label>
              <input formControlName="customDataKey" type="text" id="{{ i + 'customDataKey'}}" spellcheck="false" appInput>
            </div>
            <div class="form-text m-b-15 w-60">
              <label for="{{ i + 'customDataValue'}}">Value</label>
              <input formControlName="customDataValue" type="text" id="{{ i + 'customDataValue'}}" spellcheck="false" appInput>
            </div>
          </div>
          <a class="color-greys--base m-b-25 inline-block" (click)="onRemoveCustomKeyValue(i)">Remove</a>
        </div>
        <a class="color-ablue--base" (click)="onAddCustomKeyValue()">Add key-value pair</a>
      </div>

      <!--CUSTOM DATA GROUPS-->
      <h6 class="m-t-35 m-b-25">Custom data groups</h6>
      <div formArrayName="customDataGroups">
        <div *ngFor="let customDataGroupCtrl of assetForm.get('customDataGroups')['controls']; let i = index"
             [formGroupName]="i" class="right">
          <div class="form-text m-b-15">
            <label for="{{ i + 'groupName'}}">Group name</label>
            <input formControlName="groupName" type="text" id="{{ i + 'groupName'}}" spellcheck="false" appInput>
          </div>
          <p class="m-t-35 m-b-25 left">Group data (key-value pairs)</p>
          <!--start Array of key-value in a group-->
          <div formArrayName="groupValue" class="left">
            <div *ngFor="let customDataGroupPairCtrl of customDataGroupCtrl.get('groupValue')['controls']; let j = index"
                 [formGroupName]="j" class="right">
              <div class="form-fields-coupled">
                <div class="form-text m-b-15 m-r-15 w-40">
                  <label for="{{ j + 'groupItemKey'}}">Property name</label>
                  <input formControlName="groupItemKey" type="text" id="{{ j + 'groupItemKey'}}" spellcheck="false" appInput>
                </div>
                <div class="form-text m-b-15 w-60">
                  <label for="{{ j + 'groupItemValue'}}">Value</label>
                  <input formControlName="groupItemValue" type="text" id="{{ j + 'groupItemValue'}}" spellcheck="false" appInput>
                </div>
              </div>
              <a class="color-greys--base m-b-25 inline-block" (click)="onRemoveCustomGroupKeyValue(i, j)">Remove</a>
            </div>
            <a class="color-ablue--base" (click)="onAddCustomGroupKeyValue(i)">Add key-value pair</a>
          </div>
          <!--end Array of key-value in a group-->
          <a class="color-blacks--base m-b-25 inline-block" (click)="onRemoveCustomGroup(i)">Remove group</a>
        </div>
        <a class="color-ablue--base" (click)="onAddCustomGroup()">Add new group</a>
      </div>

      <div class="flex flex-direction-r justify-content-fe align-items-c m-b-50 m-t-25">
        <app-spinner *ngIf="spinner"></app-spinner>
        <button type="submit" class="abtn m-l-25 btn-solid-ablue">Create asset</button>
      </div>
    </form>

  </div>
</main>
