<main class="main">

  <!-- Search bar -->
  <h2 class="center m-v-30">Search assets</h2>
  <div class="block-center m-w-6 p-h-10">
    <div class="search">
      <select id="select">
        <option value="name" selected>name</option>
        <option value="createdBy">createdBy</option>
        <option value="asset identifiers">asset identifiers</option>
        <option value="event identifiers">event identifiers</option>
        <option value="type">type</option>
      </select>
      <input type="text" id="search" placeholder="{{ searchPlaceholder }}">
      <a class="abtn btn-solid-ablue" (click)="search()">Search</a>
    </div>
    <p class="center m-t-10">Separate multiple entries with comma, ie. GTN: 123, GLN: 1234 (identifiers)</p>
  </div>

  <!-- overlay + createEvent modal -->
  <div class="overlay" *ngIf="createEvents" (click)="createEvents = false"></div>
  <div class="modal--right" *ngIf="createEvents">
    <div class="modal__header">
      <img src="/assets/raster/close.png" (click)="createEvents = false">
    </div>
    <app-event-add></app-event-add>
  </div>
  <h5 class="color-greys--base p-h-20 center m-t-50" *ngIf="noEvents">No assets with info event. :/</h5>

  <div class="assets-list">
    <!-- Header -->
    <!-- Select all -->
    <div class="assets-list__item assets-list__item__header" style="border-bottom: 1px solid #f1f1f1; border-radius: 0; z-index: 3;">
      <label class="assets-list__label assets-list__label__heading" for="selectAll" (click)="onSelectAll($event, input)">
        <input type="checkbox" id="selectAll" class="assets-list__checkbox" appOnchecked #input>
        <span class="capitalize color-ablue--base" style="margin-top: 6px;">{{ selectAllText }}</span>
        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="#5078f1" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </label>
      <!-- Bulk actions -->
      <div class="assets-list__label assets-list__label__heading dropdown dropdown__no-arrow color-ablue--base" appClickThisActive>
        <div style="width: 20px; height: 20px"></div>
        <span class="header-control-text dropdown" style="margin-top: 1px">Bulk actions</span>
        <ul class="dropdown-menu">
          <li (click)="openCreateEvents()">
            New Events
          </li>
        </ul>
      </div>
      <!-- Refresh -->
      <button class="abtn btn-outline-ablue m-l-auto" routerLink="/assets/new">Create asset</button>
    </div>

    <div class="assets-list__item assets-list__item__header header--sticky" appSticky [addClass]="'sticky'">
      <div class="assets-list__label assets-list__label__heading"></div>
      <div class="assets-list__label assets-list__label__heading"></div>
      <p class="assets-list__column assets-list__column__header">Title</p>
      <p class="assets-list__column assets-list__column__header">Created by</p>
      <p class="assets-list__column assets-list__column__header">Timestamp</p>
      <p class="assets-list__column assets-list__column__header">Status</p>
    </div>

    <!-- <div class="assets-list__item__gapFill" appSticky [offsetTop]="80" [addClass]="'gapFill'"></div> -->
  </div>

  <app-assets-loader-indicator *ngIf="assets.assets.length < 1 || loader"></app-assets-loader-indicator>

  <h4 class="color-greys--base center p-h-20 m-t-20" *ngIf="searchActive && searchNoResultsFound">No results found</h4>

  <div class="assets-list" id="assets-list">

    <!-- Items -->
    <div class="assets-list__item" *ngFor="let asset of assets.assets; let i = index">
      <label class="assets-list__label" for="{{ i }}">
        <input type="checkbox" id="{{ i }}" appOnchecked class="assets-list__checkbox" name="{{asset.assetId}}">
        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="#5078f1" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </label>

      <a class="assets-list__column__image" href="https://amb.to/{{asset.assetId}}" target="_blank">
        <img src="./assets/raster/link.png">
      </a>

      <div class="assets-list__column" routerLink="{{asset.assetId}}">
        <p class="assets-list__column-title hide-1024">Title</p>
        <div *ngIf="asset.info && findInfo(asset.info) !== 'undefined'">
          <p class="assets-list__column-content">{{ findInfo(asset.info).name }}</p>
          <p class="assets-list__column-meta">{{ asset.assetId }}</p>
        </div>
        <div *ngIf="!asset.info || findInfo(asset.info) === 'undefined'">
          <p class="assets-list__column-content">{{ asset.assetId }}</p>
        </div>
      </div>

      <div class="assets-list__column" routerLink="{{asset.assetId}}">
        <p class="assets-list__column-title hide-1024">Created by</p>
        <p class="assets-list__column-content">{{ asset.content.idData.createdBy }}</p>
      </div>

      <div class="assets-list__column" routerLink="{{asset.assetId}}">
        <p class="assets-list__column-title hide-1024">Timestamp</p>
        <p class="assets-list__column-content">{{ asset.content.idData.timestamp * 1000 | date:'d MMM yyyy HH:mm'}}</p>
      </div>

      <div class="assets-list__column" routerLink="{{asset.assetId}}">
        <p class="assets-list__column-title hide-1024">Status</p>
        <p class="assets-list__column-content">some status</p>
      </div>
    </div>

    <!-- Pagination -->
    <div class="block-center m-w-12 m-t-10 p-h-10">
      <!-- Asset pagination -->
      <ul class="pagination" *ngIf="assetsActive && pagination.length !== 0">
        <li class="pagination__item" *ngIf="currentAssetPage !== 1">
          <span (click)="loadAssets(currentAssetPage - 2)">Previous</span>
        </li>
        <li class="pagination__item" *ngFor="let number of pagination; let i = index"
        [ngClass]="{ active: currentAssetPage === number, dots: number === '...' }">
          <span *ngIf="currentAssetPage === number">{{ number }}</span>
          <span *ngIf="currentAssetPage !== number && number === '...' && i === 1" (click)="loadAssets(pagination[i+1] - 2)">{{ number }}</span>
          <span *ngIf="currentAssetPage !== number && number === '...' && i === pagination.length - 2" (click)="loadAssets(pagination[i-1])">{{ number }}</span>
          <span *ngIf="currentAssetPage !== number && number !== '...'" (click)="loadAssets(number-1)">{{ number }}</span>
        </li>
        <li class="pagination__item" *ngIf="currentAssetPage !== pagination[pagination.length -1]">
          <span (click)="loadAssets(currentAssetPage)">Next</span>
        </li>
      </ul>
      <!-- Search pagination -->
      <ul class="pagination" *ngIf="searchActive && pagination.length !== 0 && !searchNoResultsFound">
        <li class="pagination__item" *ngIf="currentSearchPage !== 1">
          <span (click)="search(currentSearchPage - 2)">Previous</span>
        </li>
        <li class="pagination__item" *ngFor="let number of pagination; let i = index"
        [ngClass]="{ active: currentSearchPage === number, dots: number === '...' }">
          <span *ngIf="currentSearchPage === number">{{ number }}</span>
          <span *ngIf="currentSearchPage !== number && number === '...' && i === 1" (click)="search(pagination[i+1] - 2)">{{ number }}</span>
          <span *ngIf="currentSearchPage !== number && number === '...' && i === pagination.length - 2" (click)="search(pagination[i-1])">{{ number }}</span>
          <span *ngIf="currentSearchPage !== number && number !== '...'" (click)="search(number-1)">{{ number }}</span>
        </li>
        <li class="pagination__item" *ngIf="currentSearchPage !== pagination[pagination.length -1]">
          <span (click)="search(currentSearchPage)">Next</span>
        </li>
      </ul>
    </div>
  </div>
</main>
