@import 'utils';

app-assets {
  display: block;
  width: 100%;
  padding: 36px 25px 55px;

  .wrapper {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;

    > header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 65px;

      h1 {
        margin-bottom: 7px;
      }

      .meta {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  form {
    width: 100%;
  }
}
