@import 'var';

.assets-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  margin-top: 20px;
  width: 100%; }

.assets-list__label {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;

  & input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: rgba(80,120,241,.1);
    margin-right: 8px; }

  & .checkbox-icon {
    display: none;
    height: 1em;
    position: absolute;
    left: 4px;
    top: 3px;}}

.assets-list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(74,124,226,.09);
  margin-bottom: 10px;
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
  font-weight: 500;

  &:last-of-type {
    margin-bottom: 0; }

  &.checkbox--checked {
    background-color: #f5f8ff;
    box-shadow: none; }}

.checkbox--checked {
  & .checkbox-icon {
    display: inline-block; }}

.assets-actions {
  @extend .assets-list;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; }}

.toggleSelect {
  cursor: pointer;
  font-weight: 500;
  color: $ablue;
  text-transform: capitalize;
  user-select: none; }
