<nav class="dropDown">
  <ul>
    <li [ngClass]="{ 'header': item.type === 'header' }" *ngFor="let item of items.items; let i = index" (click)="item.click ? call(item.click, item.args) : ''">
      <hr class="separator" *ngIf="item.type === 'separator'; else link">
      <ng-template #link>
        <a *ngIf="item.link; else noLink" [routerLink]="item.link">
          <app-svg-icon class="icon" [name]="item.icon" width="18" height="18" fill="#333" *ngIf="item.icon"></app-svg-icon>
          <div>
            <span class="item__title" *ngIf="item.title">{{ item.title }}</span>
            <span class="item__meta" *ngIf="item.meta">{{ item.meta }}</span>
          </div>
        </a>
        <ng-template #noLink>
          <a>
            <app-svg-icon class="icon" [name]="item.icon" width="18" height="18" fill="#333" *ngIf="item.icon"></app-svg-icon>
            <div>
              <span class="item__title" *ngIf="item.title">{{ item.title }}</span>
              <span class="item__meta" *ngIf="item.meta">{{ item.meta }}</span>
            </div>
          </a>
        </ng-template>
      </ng-template>
    </li>
  </ul>
</nav>
