.assets-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  margin-top: 20px;
  width: 100%;
}

.assets-list__label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;

  & input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: rgba(80, 120, 241, 0.1);
    margin-right: 8px;
    cursor: pointer;
  }

  & .checkbox-icon {
    display: none;
    height: 1em;
    position: absolute;
    left: 4px;
    top: 3px;
    cursor: pointer;
  }
}

.assets-list__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  min-height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 20px 0 rgba(74, 124, 226, 0.09);
  margin-bottom: 10px;
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
  font-weight: 500;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.checkbox--checked {
    background-color: #f5f8ff;
    box-shadow: none;
  }

  & .assets-list__label {
    margin: 15px 30px;
  }

  @include min-640 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.checkbox--checked {
  & .checkbox-icon {
    display: inline-block;
  }
}

.assets-actions {
  @extend .assets-list;

  & .assets-list__label {
    margin-left: 30px;
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
}

.assets-list__column {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  width: 100%;

  @include min-640 {
    max-width: 40%;
  }

  &.image {
    @include min-640 {
      padding: 10px 0;
      width: 70px;
      max-width: 70px !important;
      align-items: center;
    }

    & img {
      max-width: 20px;
    }
  }
}

.assets-list__column-content {
  color: $black;
  font-weight: 500;
  word-break: break-word;
}
