// Buttons

button,
.button {
  display: inline-block;
  font-size: 13px;
  padding: 12px 12px 11px;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  transition: box-shadow 0.3s $t1, color 0.3s;

  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  }
}

// States
.button--small {
  padding: 8px 11px;
}
.button--medium {
  padding: 12px 12px 11px;
}
.button--big {
  padding: 15px 15px 14px;
}

// AMB buttons

.carrot {
  color: #fff;
  font-size: 14px;
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: 1px;
  transition: transform 0.2s $t1;
}

.abtn {
  font-family: $font-family--primary;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  min-width: 105px;
  padding: 1px 15px;
  text-align: center;
  position: relative;
  user-select: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.85;
  }

  &.active {
    & .carrot {
      transform: rotate(-90deg);
    }
  }

  & img {
    height: 15px;
    margin-right: 6px;
  }

  &.back {
    &:before {
      content: '\2039';
      display: inline-block;
      font-size: 19px;
      margin-right: 6px;
      margin-bottom: 4px;
    }
  }

  &:disabled {
    opacity: .5;

    &:hover {
      opacity: .5;
    }
  }
}
