// Forms

.form-group {
  padding: 0 30px;
}

.form-control {
  min-height: 40px;
  position: relative;
  margin-bottom: 25px;
  text-align: left;

  @include max-480 {
    width: 100%;
  }

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background: $ablue;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0.5);
    opacity: 0;
    transition: transform 0.3s $t2, opacity 0.1s $t2;
  }

  & label {
    font-size: 13px;
    font-weight: 500;
    color: #777;
    position: relative;
    top: 9px;
    display: inline-block;
    line-height: 1;
    transform-origin: 0 0;
    transition: transform 0.4s $t2, color 0.4s $t2;
    background-color: #fff;
    padding: 5px;
    left: 10px;
    z-index: 1;
  }

  &.active {
    &:after {
      transform: scale(1);
      opacity: 1;
    }
    & label {
      color: $ablue;
    }
  }

  &.full {
    & label {
      transform: translate(0, -20px) scale(0.85);
    }
  }

  &.error {
    &:after {
      background: #cc4411;
    }
    & label {
      color: #cc4411;
    }
  }
}

.form-text {
  @extend .form-control;

  & input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: $font-family--secondary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 15px;
    background: #fff;
    border: 2px solid #f1f1f1;
  }
}

.form-textarea {
  @extend .form-control;
  height: 120px;

  & textarea {
    width: 100% !important;
    max-width: 100%;
    height: 120px !important;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: $font-family--secondary;
    padding: 15px;
    background: #fff;
    border: 2px solid #f1f1f1;
  }
}

.form-checkbox {
  @extend .form-control;
  min-height: 1px;
  user-select: none;

  & input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 8px;
    background: #fff;
    border: 2px solid #f1f1f1;
  }

  & .checkbox-icon {
    display: none;
    height: 1em;
    position: absolute;
    left: 4px;
    top: 3px;
  }

  & label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    padding: 0;
  }
}

.form-fields-coupled {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  @include min-480 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.checkbox--checked {
  & .checkbox-icon {
    display: inline-block;
  }
}

.login-form {
  width: 350px;
  max-width: 100%;
  margin: 20px 0;
  padding: 30px;
}

.error {
  outline: 1px solid #ea7070;
}

.success {
  outline: 1px solid #5cb85c;
}

// AUTOCOMPLETE

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: #333;

  & div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}
