// Header

.header {
  position: relative;
  z-index: 3;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.header-container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  & img {
    height: 20px;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header-menu__item {
  margin-right: 14px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  & img {
    width: 25px;
    transition: transform 0.2s $t1;
  }
}

.dropdown-menu {
  display: none;
  animation: fadeIn 0.2s $t1;
  position: absolute;
  top: 100%;
  background: #fff;
  box-shadow: 0 2px 45px 0 rgba(74, 124, 226, 0.17);
  padding: 0;
  text-align: center;
  right: 0;
  width: 200px;
  color: $black;

  & li {
    font-weight: 500;
    padding: 17px;
    cursor: pointer;
    line-height: 1.2;
    word-break: break-word;
    border-bottom: 1px solid #f1f1f1;

    &:last-child {
      border-bottom: none;
    }
  }
}

.dropdown {
  user-select: none;
  cursor: pointer;

  &.active {
    & img {
      transform: rotate(180deg);
    }

    & .dropdown-menu {
      display: block;
    }
  }
}
