.main {
  min-height: calc(100vh - 215px);
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

pre {
  background: #fafafa;
  border: 1px solid #f1f1f1;
  padding: 15px;
}

.dropdown-menu {
  display: none;
  animation: fadeIn 0.2s $t1;
  position: absolute;
  top: 100%;
  background: #fff;
  box-shadow: 0 2px 45px 0 rgba(74, 124, 226, 0.17);
  padding: 0;
  text-align: center;
  right: 0;
  width: 200px;
  color: $black;
  z-index: 1;

  & li {
    font-weight: 500;
    cursor: pointer;
    line-height: 1.2;
    word-break: break-word;
    border-bottom: 1px solid #f1f1f1;
    position: relative;

    & span {
      display: block;
      padding: 17px;
    }

    &:last-child {
      border-bottom: none;
    }

    &.separator {
      border-bottom: 1px solid #ddd;
    }

    &.current {
      background-color: #f6f8fe;
    }

    &.sub-menu {
      &:hover {
        & .dropdown-menu__sub-menu {
          display: block;
        }
      }

      &:after {
        content: '\221F';
        font-size: 12px;
        transform: rotate(225deg);
        display: inline-block;
        position: absolute;
        top: calc(50% - 6px);
        right: 10px;
      }
    }
  }

  &.dropdown-menu__sub-menu {
    top: 0;
    right: -100%;
  }
}

.dropdown {
  user-select: none;
  cursor: pointer;
  position: relative;

  &.active {
    & img {
      transform: rotate(180deg);
    }

    & .dropdown-menu {
      display: block;
    }

    & .dropdown-menu__sub-menu {
      display: none;
    }
  }

  &:after {
    content: '\221F';
    font-size: 12px;
    transform: rotate(-45deg);
    display: inline-block;
    position: relative;
    top: -1px;
    left: 2px;
  }

  &__no-arrow {
    &:after {
      display: none;
    }
  }
}
