.wrapper {
  background-image: url('/assets/raster/bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  z-index: 3;
}

.main {
  min-height: calc(100vh - 240px);
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
  z-index: 2;
}

// Header

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.header-container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  & img {
    height: 20px;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header-menu__item {
  margin-right: 14px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  & img {
    width: 25px;
    transition: transform 0.2s $t1;
  }
}

.dropdown-menu {
  display: none;
  animation: fadeIn 0.2s $t1;
  position: absolute;
  top: 100%;
  background: #fff;
  box-shadow: 0 2px 45px 0 rgba(74, 124, 226, 0.17);
  padding: 0;
  text-align: center;
  right: 0;
  width: 200px;
  color: $black;

  & li {
    font-weight: 500;
    padding: 17px;
    cursor: pointer;
    line-height: 1.2;
  }
}

.dropdown {
  &.active {
    & img {
      transform: rotate(180deg);
    }

    & .dropdown-menu {
      display: block;
    }
  }
}

pre {
  background: #f1f1f1;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border: 1px dashed #aaa;
  max-width: 600px;
}
