.tabs {
  width: 100%;
  border: solid #f7f7f9;
  max-width: 600px;
  margin: 0 auto;
}

.tab_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  padding-bottom: 20px;
}

.tab_header_item.active {
  background: $ablue;
  color: #fff;
}

.tab_header_item {
  display: block;
  padding: 12px 20px;
  cursor: pointer;
  color: $ablue;
  border-radius: 6px;
}
