module.exports = `
<div style="font-family: sans-serif;padding: 75px 25px;background: #f1f5f4;width: 100%;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;">
  <div style="padding: 25px 25px;background: #fff;width: 100%;max-width: 500px; text-align: center;padding-bottom: 15px; margin: 0 auto;">
    <h3 style="text-align: left;width: 100%; color: #000;">Hi, your account has been approved.</h3>
    <p>You can start using the dashboard now:</p>
    <a href="@url" style="display:inline-block;padding: 12px 20px;background: #5078f1;color: #fff;font-size:12px;font-weight: 500;border-radius: 5px; text-decoration:none;" target="_blank">Login</a>
    <p style="text-align: center;margin-top: 50px; color: #000; opacity: .4; width: 100%;">Ambrosus - all rights reserved, 2018.</p>
  </div>
</div>
`;
