@import 'utils';

app-asset-add {

  .header {
    padding: 45px 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }

    .title {
      color: $light-blue;
      font-weight: 400;
    }

    .menu {
      li {
        display: inline-block;
        margin-right: 24px;
        font-size: 14px;
        font-weight: 500;

        &.active {
          color: $blue;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
