<div class="amb">
  <header>
    <div class="wrapper">
      <div class="accordions">
        <div class="accordion">
          <div class="title" appAccordion>
            <h2 class="decoration">
              <app-svg-icon name="event" height="40" width="40" style="color: transparent;"></app-svg-icon>
              {{ event.info.name || 'No title' }}
            </h2>
            <p class="address">{{ eventId }}</p>
            <p class="createdBy">
              <span class="flex-0">by</span>
              <span class="image"></span>
              <span *ngIf="event.content?.idData?.createdBy">{{ event.content.idData.createdBy }}</span>
            </p>
          </div>
          <div class="content">
            <div class="metadata">
              <div>
                <h5>Event metadata</h5>
                <ul class="properties">
                  <li *ngIf="eventId">
                    <h6>Event id</h6>
                    <p>{{ eventId }}</p>
                  </li>
                  <li *ngFor="let prop of objectKeys(event.content.idData)">
                    <h6>{{ prop }}</h6>
                    <p>{{ event.content.idData[prop] || 'No value' }}</p>
                  </li>
                </ul>
              </div>
              <div>
                <h5>Bundle metadata</h5>
                <ul class="properties">
                  <li *ngFor="let prop of objectKeys(event.metadata)">
                    <h6>{{ prop }}</h6>
                    <p>{{ event.metadata[prop] || 'No value' }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="wrapper decoration">
      <app-svg-icon *ngIf="!noContent" name="content" height="40" width="40" fill="9198BB"></app-svg-icon>

      <!-- Images -->
      <section class="images" *ngIf="event.info?.images" style="margin-bottom: 25px;">
        <div class="image" *ngFor="let image of objectKeys(event.info.images)" [style.backgroundImage]="sanitizeUrl(event.info.images[image]['url'])"></div>
      </section>

      <!-- Description -->
      <section *ngIf="event.info?.description">
        <h5>Description</h5>
        <p style="color: #333;">{{ event.info.description }}</p>
      </section>

      <!-- Identifiers -->
      <section class="identifiers" *ngIf="event.info?.identifiers?.identifiers">
        <h5>Identifiers</h5>
        <ul class="properties">
          <li *ngFor="let key of objectKeys(event.info.identifiers.identifiers)">
            <h6>{{ key }}</h6>
            <p>{{ event.info.identifiers.identifiers[key][0] }}</p>
          </li>
        </ul>
      </section>

      <!-- Documents -->
      <section *ngIf="event.info?.documents">
        <h5>Documents</h5>

        <ul class="properties">
          <li class="property" *ngFor="let document of objectKeys(event.info.documents)">
            <h6 *ngIf="event.info?.documents[document]?.name">{{ event.info.documents[document].name }}</h6>
            <a *ngIf="event.info?.documents[document]?.url" [href]="event.info.documents[document].url" target="_blank">
              {{ assetsService.getUrlName(event.info.documents[document].url) }}
            </a>
          </li>
        </ul>
      </section>

      <!-- Properties -->
      <section *ngIf="event.info?.properties && event.info.properties.length">
        <h5>Properties</h5>
        <ul class="properties">
          <li *ngFor="let property of event.info.properties">
            <h6 *ngIf="!isArray(property.value)">{{ property.key }}</h6>
            <p [ngClass]="{ 'json': isObject(property.value) }" [innerHtml]="isObject(property.value) ? valueJSON(stringify(property.value, null, 5)) : property.value"></p>
          </li>
        </ul>
      </section>

      <section class="groups" *ngIf="event.info?.groups && event.info.groups.length">
        <div class="group" *ngFor="let group of event.info.groups">
          <h5>{{ group.key }}</h5>

          <ul class="properties">
            <li *ngFor="let property of objectKeys(group.value)">
              <h6 *ngIf="!isArray(group.value[property])">{{ property }}</h6>
              <p [ngClass]="{ 'json': isObject(group.value[property]) }" [innerHtml]="isObject(group.value[property]) ? valueJSON(stringify(group.value[property], null, 5)) : group.value[property]"></p>
            </li>
          </ul>
        </div>
      </section>

      <!-- Location -->
      <section class="decoration" *ngIf="event.info?.location">
        <app-svg-icon name="location" height="40" width="40" fill="9198BB"></app-svg-icon>
        <h5 style="color: #00B7F9">{{ assetsService.getLocation(event.info.location) }}</h5>
        <ul class="properties">
          <li *ngFor="let key of objectKeys(event.info.location)">
            <h6>{{ key }}</h6>
            <p>{{ event.info.location[key] }}</p>
          </li>
        </ul>
      </section>

    </div>
  </main>

  <!-- Location map -->
  <section class="location" *ngIf="location">
    <agm-map [zoom]="15" [zoomControl]="false" [streetViewControl]="false" [latitude]="location.lat" [longitude]="location.lng">
      <agm-marker [latitude]="location.lat" [longitude]="location.lng" [iconUrl]="'/assets/svg/map-icon.svg'">
        ></agm-marker>
    </agm-map>
  </section>
</div>
