<header class="dashboard__header">
  <div class="wrapper">
    <div class="flex between">
      <div>
        <div class="top-stat">
          <h1 class="decoration">
            <app-svg-icon name="network" height="40" width="40" fill="0042ba"></app-svg-icon>
            7,250 Credits
          </h1>
          <p>5,000 assets or 5,000 events</p>
        </div>
      </div>
      <div class="flex-0">
        <ul class="stats">
          <li>
            <h2>98,8%</h2>
            <p>Server up time</p>
          </li>
          <li>
            <h2>14,2 ms</h2>
            <p>Server response time</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="dashboard__main">
  Dash
</main>
