<header class="dashboard__header">
  <div class="wrapper">
    <div class="flex between">
      <div>
        <div class="top-stat">
          <h1 class="decoration">
            <app-svg-icon name="network" height="40" width="40" fill="0042ba"></app-svg-icon>
            7,250 Credits
          </h1>
          <p>5,000 assets or 5,000 events</p>
        </div>
      </div>
      <div class="flex-0">
        <ul class="stats">
          <li>
            <h2>98,8%</h2>
            <p>Server up time</p>
          </li>
          <li>
            <h2>14,2 ms</h2>
            <p>Server response time</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="dashboard__main">
  <div class="wrapper">

    <div class="flex between">
      <ul class="showMenu">
        <li [ngClass]="{ 'active': display === 'asset' }" (click)="changeDisplay('asset')">Assets</li>
        <li [ngClass]="{ 'active': display === 'event' }" (click)="changeDisplay('event')">Events</li>
      </ul>

      <ul class="groupByMenu">
        <li [ngClass]="{ 'active': groupBy === '24h' }" (click)="changeGroupBy('24h')">24h</li>
        <li [ngClass]="{ 'active': groupBy === '7d' }" (click)="changeGroupBy('7d')">7d</li>
        <li [ngClass]="{ 'active': groupBy === 'mtd' }" (click)="changeGroupBy('mtd')">mtd</li>
        <li [ngClass]="{ 'active': groupBy === '28d' }" (click)="changeGroupBy('28d')">28d</li>
        <li [ngClass]="{ 'active': groupBy === '12m' }" (click)="changeGroupBy('12m')">12m</li>
      </ul>
    </div>

    <div class="displayed decoration">
      <app-svg-icon name="legend" height="40" width="40" fill="0042ba"></app-svg-icon>
      <p>{{ display }} created</p>
      <h6>Total: <span>{{ total }}</span></h6>
    </div>

    <!-- Diagram -->
    <div class="chart">
      <canvas id="diagram" #diagram></canvas>
    </div>
  </div>
</main>
