<h2 class="center m-v-30">Users</h2>
<div class="sidebar-pages__wrapper">
  <div class="sidebar-pages">
    <!-- Sidebar -->
    <aside class="sidebar-pages__sidebar">
      <div class="sidebar-pages__sidebar__item" appSticky [addClass]="'fixed'">
        <a routerLink="all" routerLinkActive="active">
          <app-svg-icon name="users" class="m-r-20"></app-svg-icon>All users
        </a>
        <a routerLink="invite" routerLinkActive="active">
          <app-svg-icon name="user-plus" class="m-r-20"></app-svg-icon>Invite members
        </a>
        <a routerLink="invites" routerLinkActive="active">
          <app-svg-icon name="user-check" class="m-r-20"></app-svg-icon>Invites
        </a>
      </div>
    </aside>
    <!-- Main -->
    <div class="sidebar-pages__main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
