<h4 class="m-b-30 center">Edit profile</h4>

<div class="card m-w-4 block-center">
  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="m-w-4">
    <label>Your Public key
      <input type="text" spellcheck="false" [placeholder]="user.address" disabled>
    </label>
    <label>Your Full name
      <input formControlName="full_name" type="text" spellcheck="false">
    </label>
    <label>Your Email
      <input formControlName="email" type="email" spellcheck="false">
    </label>
    <label>Your Organization
      <input type="text" spellcheck="false" placeholder="None" disabled>
    </label>
    <label for="timeZone">Your Time Zone
      <input formControlName="timeZone" list="timezones" id="timeZone" spellcheck="false">
      <datalist id="timezones">
        <option *ngFor="let timezone of timezones" value="{{ timezone }}">
      </datalist>
    </label>
    <label>Password
      <input formControlName="password" type="password" spellcheck="false">
    </label>
    <label>Password Confirm
      <input formControlName="passwordConfirm" type="password" spellcheck="false">
    </label>
    <div class="flex flex-direction-r justify-content-fe align-items-c">
      <app-spinner *ngIf="spinner"></app-spinner>
      <button type="submit" class="button button--blue m-l-20" [disabled]="!updateProfileForm.valid">Edit profile</button>
    </div>
  </form>
</div>

<h5 class="m-v-30 center" *ngIf="error" style="color: #ea7070">{{ error }}</h5>
<h5 class="m-v-30 center" *ngIf="success" style="color: #57b846">{{ success }}</h5>
