@import 'var';

.breadcrumbs {
  background: #f6f8fe;
  padding: 20px 0;

  a {
    user-select: none;
    color: hsla(225, 5%, 65%, 1);
    word-break: break-word;
    text-transform: capitalize;

    &:after {
      content: '/';
      margin-right: 5px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
