@import 'var';

.breadcrumbs-wrapper {
  background: #f6f8fe;
  padding: 13px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.breadcrumbs {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  & p {
    cursor: pointer;
    user-select: none;
    color: hsla(225, 5%, 65%, 1);
    word-break: break-word;
    text-transform: capitalize;

    &:after {
      content: '/';
      margin-right: 5px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
