<!--
Copyright: Ambrosus Technologies GmbH
Email: tech@ambrosus.com
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
This Source Code Form is “Incompatible With Secondary Licenses”, as defined by the Mozilla Public License, v. 2.0.
-->

<div class="notification">
  <div class="notification__message"></div>
  <div class="notification__meta">
    <span class="notification__meta__type"></span>
    <span class="notification__meta__date"></span>
  </div>
</div>
