<div class="object" *ngIf="asset">

  <header class="object__header">
    <app-qr-code [value]="previewAppUrl + '/' + assetId" [size]="300" #qrCode (click)="downloadQR(qrCode)"></app-qr-code>
    <div class="object__title">
      <h3>{{ getName(asset.infoEvent) }}</h3>
      <p>{{ assetId }}</p>
    </div>
  </header>

  <main class="object__body" *ngIf="asset.infoEvent">

    <!-- Identifiers -->
    <div class="object__identifiers" *ngIf="asset | checkIf: 'asset.infoEvent.identifiers.identifiers'">
      <h5 class="object__subtitle">Identifiers</h5>

      <ul>
        <li class="item" *ngFor="let key of objectKeys(asset.infoEvent.identifiers.identifiers)">
          <span class="item__title">{{ key }}</span>
          <span class="item__value">{{ asset.infoEvent.identifiers.identifiers[key][0] }}</span>
        </li>
      </ul>
    </div>

    <!-- Images -->
    <div class="object__images" *ngIf="asset | checkIf: 'asset.infoEvent.images'">
      <h5 class="object__subtitle">Images</h5>

      <img *ngFor="let image of objectKeys(asset.infoEvent.images)" src="{{ asset.infoEvent.images[image]['url'] }}">
    </div>

    <!-- Properties -->
    <div class="object__properties" *ngIf="asset.infoEvent.properties && asset.infoEvent.properties.length">
      <h5 class="object__subtitle">Properties</h5>

      <ul>
        <li class="item" *ngFor="let property of asset.infoEvent.properties">
          <span class="item__title" *ngIf="!isArray(property.value)">{{ property.key }}</span>
          <span class="item__value" [ngClass]="{ 'item__value--json': isObject(property.value) }" [innerHtml]="isObject(property.value) ? valueJSON(stringify(property.value, null, 5)) : property.value"></span>
        </li>
      </ul>
    </div>

    <!-- Groups -->
    <div class="object__groups" *ngIf="asset.infoEvent.groups && asset.infoEvent.groups.length">
      <div *ngFor="let group of asset.infoEvent.groups">
        <h5 class="object__subtitle">{{ group.key }}</h5>

        <ul>
          <li class="item" *ngFor="let property of objectKeys(group.value)">
            <span class="item__title" *ngIf="!isArray(group.value[property])">{{ property }}</span>
            <span class="item__value" [ngClass]="{ 'item__value--json': isObject(group.value[property]) }" [innerHtml]="isObject(group.value[property]) ? valueJSON(stringify(group.value[property], null, 5)) : group.value[property]"></span>
          </li>
        </ul>
      </div>
    </div>

  </main>

  <!-- Events -->
  <div class="p-a-30">
    <h3 class="m-b-20">Events <button type="button" (click)="openAddEventDialog()">+</button></h3>

    <app-timeline [assetId]="assetId" [name]="asset && asset.infoEvent ? asset.infoEvent.name : null"></app-timeline>
  </div>

</div>
