<main class="main">

  <!-- Asset header -->
  <div class="block-center m-w-12">
    <div class="view-header">
      <app-qr-code class="qr" [value]="previewAppUrl + '/' + assetId" [size]="300" #qrCode (click)="downloadQR(qrCode)"></app-qr-code>
      <div>
        <a href="https://amb.to/{{ assetId }}" class="center m-v-20 p-h-20" target="_blank" style="word-break: break-word;">View on amb.to</a>
        <button class="abtn btn-outline-ablue" (click)="openJsonDialog()">View JSON</button>
      </div>
      <button class="abtn btn-solid-ablue m-t-10" (click)="openCreateEventDialog()">Add Event</button>
    </div>
  </div>

  <!-- Asset details -->
  <div class="block-center m-w-12 p-h-20">
    <div class="layout-split">

      <!-- Details -->
      <div class="layout-split__col1">
        <h3 class="m-t-10 m-b-30 p-h-10 flex flex-direction-r justify-content-sb">
          Asset details
          <app-svg-icon *ngIf="asset.info" name="pencil" width="15" height="15" [routerLink]="'events/' + asset.info.eventId" [queryParams]="{edit: 'true'}"></app-svg-icon>
        </h3>

        <div *ngIf="asset.info">
          <!-- image -->
          <div class="item m-b-20 asset-image" *ngIf="asset.info && asset.info.images && asset.info.images.default && !isObject(asset.info.images.default)">
            <img src="{{ asset.info.images.default }}">
          </div>
          <div class="item m-b-20 asset-image" *ngIf="asset.info && asset.info.images && asset.info.images.default && isObject(asset.info.images.default)">
            <img src="{{ asset.info.images.default.url }}">
          </div>

          <!-- timestamp -->
          <div class="item">
            <p class="item__cell__title">timestamp: </p>
            <p class="item__cell">{{ asset.info.timestamp * 1000 | date:'d MMM yyyy' }} ({{ asset.info.timestamp }})</p>
          </div>

          <!-- key - value -->
          <div *ngFor="let key of objectKeys(asset.info) | loopExclude:['type', 'action', 'images', 'timestamp']">
            <div class="item" *ngIf="!isObject(asset.info[key])">
              <p class="item__cell__title">{{ key }}: </p>
              <p class="item__cell">{{ asset.info[key] }}</p>
            </div>
          </div>

          <!-- Identifiers -->
          <div *ngIf="asset.identifiers && asset.identifiers.identifiers">
            <h5 class="m-t-20 m-b-10 p-h-10">Identifiers</h5>

            <div class="item" *ngFor="let key of objectKeys(asset.identifiers.identifiers)">
              <p class="item__cell__title">{{key}}: </p>
              <p class="item__cell">{{asset.identifiers.identifiers[key][0]}}</p>
            </div>
          </div>

          <!-- Groups -->
          <div *ngFor="let key of objectKeys(asset.info) | loopExclude:['type', 'action', 'images', 'timestamp']">
            <div *ngIf="isObject(asset.info[key])">
              <h5 class="m-t-20 m-b-10 p-h-10">{{ key }}</h5>

              <div class="item" *ngFor="let k of objectKeys(asset.info[key])">
                <p class="item__cell__title ">{{ k }}:</p>

                <!-- IF OR NOT OBJECT, DISPLAY STRING OR STRINGIFY -->
                <p class="item__cell" *ngIf="!isObject(asset.info[key][k])">{{ asset.info[key][k] }}</p>
                <p class="item__cell item__cell--json" *ngIf="isObject(asset.info[key][k])">{{ valueJSON(stringify(asset.info[key][k], null, 5)) }}</p>
              </div>
            </div>
          </div>
        </div>

        <app-chart></app-chart>

      </div>

      <!-- Events -->
      <div class="layout-split__col2" *ngIf="events">
        <h3 class="m-t-10 m-b-30 p-h-10 flex flex-direction-r justify-content-sb">
          Events
          <app-svg-icon name="search" width="15" height="15" (click)="showSearch = !showSearch" class="inline-block m-l-auto"></app-svg-icon>
        </h3>

        <app-timeline [data]="events" [assetId]="assetId" [showSearch]="showSearch"></app-timeline>
      </div>
    </div>
  </div>

</main>
