@import 'var';

.qr {
  margin-bottom: 10px;

  & img {
    height: 75px;
    max-width: 75px;
  }

  @include min-640 {
    margin-bottom: 0;
  }
}

.asset-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 30px 0;
  padding: 0 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;

  @include min-640 {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.string {
  color: green;
}
.number {
  color: blue;
}
.boolean {
  color: darkorange;
}
.null {
  color: magenta;
}
.key {
  color: red;
}

.asset {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include min-1024 {
    flex-direction: row;
  }
}

.asset-details {
  width: 100%;
  margin-bottom: 25px;

  @include min-1024 {
    width: 50%;
    margin-right: 25px;
    margin-bottom: 0;
  }
}

.asset-events {
  width: 100%;

  @include min-1024 {
    width: 50%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3px 10px;

  @include min-1024 {
    flex-direction: row;
  }

  &__cell {
    color: #777;
    word-break: break-word;

    &--title {
      color: #333;
      margin-right: 5px;
      text-transform: capitalize;
    }

    &--json {
      white-space: pre-wrap;
      width: 100%;
    }
  }

  & img {
    width: 100%;
    max-width: 400px;
  }
}

.group {
  padding: 3px 5px 10px 5px;
  border: 2px solid #f1f1f1;
  margin: 10px 0;
  border-radius: 4px;
}

.events {
  position: relative;

  &:after {
    content: '';
    height: 100%;
    width: 2px;
    position: absolute;
    background: #4f77f1;
    top: 0;
    left: calc(50% - 1px);
    z-index: -1;
  }
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #fff;

  & > p {
    &:first-of-type {
      font-weight: 500;
      color: #333;
    }
  }

  &__location {
    font-weight: 400;
    color: $grey;
    margin-left: 4px;
  }
}
