<header class="dashboard__header">
  <div class="wrapper">
    <div class="flex start between">
      <div class="flex-0">
        <div class="top-stat" *ngIf="metrics.balance.balance">
          <h1 class="decoration">
            <app-svg-icon name="network" height="40" width="40" fill="0042ba"></app-svg-icon>
            {{ metrics.balance.balance }}<small> AMB</small>
          </h1>
          <p>usd {{ metrics.balance.balance * (metrics.amb.price_usd) || 'unknown' }}</p>
        </div>
      </div>
      <div>
        <ul class="stats">
          <li *ngIf="metrics.amb.price_usd">
            <h2>{{ metrics.amb.price_usd }} <small style="color: #999">USD</small></h2>
            <p>
              amb price in 24h
              <span [style.color]="metrics.amb.percent_change_24h.charAt(0) === '-' ? '#ff5c00' : '#40d685'">
                {{ metrics.amb.percent_change_24h }}%
              </span>
            </p>
          </li>
          <li class="secondary" *ngIf="metrics.bundle.price">
            <h2>{{ metrics.bundle.price }} <small style="color: #00b7f9">AMB</small></h2>
            <p>price per bundle</p>
          </li>
          <li class="secondary" *ngIf="metrics.balance.balance && metrics.bundle.price">
            <h2>{{ (metrics.balance.balance / metrics.bundle.price) }}</h2>
            <p>bundles left on balance</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="dashboard__main">
  <div class="wrapper">

    <div class="flex between">
      <ul class="showMenu">
        <li [ngClass]="{ 'active': display === 'bundle' }" (click)="changeDisplay('bundle')">Bundles</li>
        <li [ngClass]="{ 'active': display === 'asset' }" (click)="changeDisplay('asset')">Assets</li>
        <li [ngClass]="{ 'active': display === 'event' }" (click)="changeDisplay('event')">Events</li>
      </ul>

      <ul class="groupByMenu">
        <li [ngClass]="{ 'active': groupBy === '24h' }" (click)="changeGroupBy('24h')">24h</li>
        <li [ngClass]="{ 'active': groupBy === '7d' }" (click)="changeGroupBy('7d')">7d</li>
        <li [ngClass]="{ 'active': groupBy === 'mtd' }" (click)="changeGroupBy('mtd')">mtd</li>
        <li [ngClass]="{ 'active': groupBy === '28d' }" (click)="changeGroupBy('28d')">28d</li>
        <li [ngClass]="{ 'active': groupBy === '12m' }" (click)="changeGroupBy('12m')">12m</li>
      </ul>
    </div>

    <div class="displayed decoration">
      <app-svg-icon name="legend" height="40" width="40" fill="0042ba"></app-svg-icon>
      <p>{{ display }} created</p>
      <h6>Total: <span>{{ total }}</span></h6>
    </div>

    <!-- Diagram -->
    <div class="chart">
      <canvas id="diagram" #diagram></canvas>
    </div>
  </div>
</main>
