app-chartist {
    display: block;
}

.layout-split_pad {
    padding-top: 20px;
}

.button-block {
    display: inline-block;
    padding-right: 20px;
}

.chart-block {
    max-width: 550px; max-height: 350px; padding: 30px 0px;
}

.blue-text {
    color: blue;
}