<h4 class="m-v-30 relative p-r-40">
  Accounts <button type="button" routerLink="invite">+</button>
</h4>
<hr class="m-b-20" />

<button type="button" class="button button--blue" (click)="show = 'active'">
  Active
</button>
<button type="button" class="button button--blue" (click)="show = 'pending'">
  Pending
</button>
<button type="button" class="button" (click)="show = 'disabled'">
  Disabled
</button>

<p class="m-v-30" style="color: salmon;">{{ error }}</p>

<p class="m-t-20">{{ getNumberOfAccounts() }} accounts</p>

<!-- Active accounts -->
<table class="table" *ngIf="show === 'active'">
  <tbody>
    <tr *ngFor="let _account of accounts; let i = index">
      <td class="table__image" routerLink="{{ _account.address }}">
        <div>{{ _account.email.charAt(0) }}</div>
      </td>
      <td class="table__info" routerLink="{{ _account.address }}">
        <p class="table__info__title">
          {{ _account.fullName || _account.email }}
          <span *ngIf="organization?.owner === _account.address">(owner)</span>
        </p>
        <small class="table__info__meta">{{ _account.address }}</small>
      </td>
      <td class="table__status">
        <span class="table__status__event" style="background-color: green;"
          >Active</span
        >
        <p class="table__status__timestamp">
          Registered on:
          {{ _account.registeredOn * 1000 | date: 'MMM d, yyyy HH:mm' }}
        </p>
        <div class="table__options" appClickThisActive>
          <img src="/assets/raster/menu.png" />
          <ul class="table__options__menu">
            <li routerLink="{{ _account.address }}">Info</li>
            <li
              *ngIf="account._id !== _account._id"
              (click)="
                actions('accountEdit', {
                  address: _account.address,
                  data: { permissions: [] }
                })
              "
            >
              Disable
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Disabled users -->
<table class="table" *ngIf="show === 'disabled'">
  <tbody>
    <tr *ngFor="let _account of accountsDisabled; let i = index">
      <td class="table__image" routerLink="{{ _account.address }}">
        <div>{{ _account.email.charAt(0) }}</div>
      </td>
      <td class="table__info" routerLink="{{ _account.address }}">
        <p class="table__info__title">
          {{ _account.fullName || _account.email }}
          <span *ngIf="organization?.owner === _account.address">(owner)</span>
        </p>
        <small class="table__info__meta">{{ _account.address }}</small>
      </td>
      <td class="table__status">
        <span class="table__status__event" style="background-color: salmon;"
          >Disabled</span
        >
        <p class="table__status__timestamp">
          Registered on:
          {{ _account.registeredOn * 1000 | date: 'MMM d, yyyy HH:mm' }}
        </p>
        <div class="table__options" appClickThisActive>
          <img src="/assets/raster/menu.png" />
          <ul class="table__options__menu">
            <li routerLink="{{ _account.address }}">Info</li>
            <li
              (click)="
                actions('accountEdit', {
                  address: _account.address,
                  data: { permissions: ['create_asset', 'create_event'] }
                })
              "
            >
              Activate
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Invites/pending users -->
<table class="table" *ngIf="show === 'pending'">
  <tbody>
    <tr *ngFor="let invite of invites; let i = index">
      <td class="table__image">
        <div>{{ invite.to.charAt(0) }}</div>
      </td>
      <td class="table__info">
        <p class="table__info__title">{{ invite.to }}</p>
        <small class="table__info__meta">from: {{ invite.createdBy }}</small>
      </td>
      <td class="table__status">
        <span class="table__status__event" style="background-color: orange;"
          >Pending</span
        >
        <p class="table__status__timestamp">Invited: {{ invite.createdOn }}</p>
        <div class="table__options" appClickThisActive>
          <img src="/assets/raster/menu.png" />
          <ul class="table__options__menu">
            <li
              (click)="actions('inviteDelete', { inviteId: invite.inviteId })"
            >
              Revoke
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
