// Classes



// Font weight
.font-weight--thin {
  font-weight: 100
}

.font-weight--light {
  font-weight: 300
}

.font-weight--regular {
  font-weight: 400
}

.font-weight--medium {
  font-weight: 500
}

.font-weight--semi-bold {
  font-weight: 600
}

.font-weight--bold {
  font-weight: 700
}

.font-weight--black {
  font-weight: 800
}

// Text align
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

// Text transform
.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration: underline;
}

.decoration-none {
  text-decoration: none;
}

// --- "..." instead of the text overflow ---
.webkit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.25em;
  overflow: hidden;
}

.line-clamp-1 {
  max-height: 1.7em;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  max-height: 2.7em;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  max-height: 3.7em;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  max-height: 4.7em;
  -webkit-line-clamp: 4;
}

// Flex
.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap-r {
  flex-wrap: wrap-reverse;
}

.flex-direction-r {
  flex-direction: row;
}

.flex-direction-r-r {
  flex-direction: row-reverse;
}

.flex-direction-c {
  flex-direction: column;
}

.flex-direction-c-r {
  flex-direction: column-reverse;
}

.justify-content-fs {
  justify-content: flex-start;
}

.justify-content-c {
  justify-content: center;
}

.justify-content-fe {
  justify-content: flex-end;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-sa {
  justify-content: space-around;
}

.align-items-fs {
  align-items: flex-start;
}

.align-items-c {
  align-items: center;
}

.align-items-fe {
  align-items: flex-end;
}

.align-items-sb {
  justify-content: space-between;
}

.align-items-sa {
  justify-content: space-around;
}

// z-index
.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

// Width
.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

// max-width
.m-w-1,
.m-w-2,
.m-w-3,
.m-w-4,
.m-w-5,
.m-w-6,
.m-w-7,
.m-w-8,
.m-w-9,
.m-w-10,
.m-w-11,
.m-w-12,
.m-w-13,
.m-w-14,
.m-w-15,
.m-w-16,
.m-w-17,
.m-w-18,
.m-w-19 {
  width: 100%;
}

.m-w-1 {
  max-width: 100px;
}

.m-w-2 {
  max-width: 200px;
}

.m-w-3 {
  max-width: 300px;
}

.m-w-4 {
  max-width: 400px;
}

.m-w-5 {
  max-width: 500px;
}

.m-w-6 {
  max-width: 600px;
}

.m-w-7 {
  max-width: 700px;
}

.m-w-8 {
  max-width: 800px;
}

.m-w-9 {
  max-width: 900px;
}

.m-w-10 {
  max-width: 1000px;
}

.m-w-11 {
  max-width: 1100px;
}

.m-w-12 {
  max-width: 1200px;
}

.m-w-13 {
  max-width: 1300px;
}

.m-w-14 {
  max-width: 1400px;
}

.m-w-15 {
  max-width: 1500px;
}

.m-w-16 {
  max-width: 1600px;
}

.m-w-17 {
  max-width: 1700px;
}

.m-w-18 {
  max-width: 1800px;
}

.m-w-19 {
  max-width: 1900px;
}

// Positions
.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

// Float
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

// Block align
.block-left {
  display: block;
  margin-right: auto;
}

.block-right {
  display: block;
  margin-left: auto;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
.clearfix {
  @extend %clearfix;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: ' ';
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

// Screen Reader Text
.srt {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  border: 0 !important;
  padding: 0 !important;
}

// Responsive image and iframe embed
.image-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// iframe
// ie. <div class="iframe-responsive">
// <iframe class="iframe" width="1280" height="720" src="https://www.youtube.com/embed/Cndj8y1kBVY?autoplay=1&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="">
// </iframe> </div>
.iframe-responsive {
  position: relative;
  padding-bottom: 53.26%;
  padding-top: 3%;
  height: 0;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
